<section class="paymentmethod-wrapper"> 
    <div class="width h-full float-left maxhealth-vertical-tab">
        <div class="flex h-1/10">
                <div class="w-1/4">
                    <mat-label class="max-health-primary-color font-medium font-base absolute mt-3">Payment Methods</mat-label>
                </div>
        </div>
        
        <mat-tab-group class="mt-12" animationDuration="0ms" (selectedTabChange)="config.combopayment?false:tabChanged($event)">
            <mat-tab label="Cash" *ngIf="config.paymentmethod.cash">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Cash Details</mat-label>
                    <div class="flex flex-column w-1/45 mt-2">
                        <div class="w-full ml-0 input1">
                            <maxhealth-question
                            [question]="questions[0]"
                            [form]="refundform"
                            [questions]="questions[0]"
                            [index]="0"
                            ></maxhealth-question>
                        </div>
                    </div>
                </div> 
            </mat-tab>           
            <mat-tab label="Credit / Debit Card" *ngIf="config.paymentmethod.credit">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Credit Card Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[11]"
                            [form]="refundform"
                            [questions]="questions[11]"
                            [index]="7"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">POS IMEI</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[60]"
                            [form]="refundform"
                            [questions]="questions[60]"
                            [index]="15"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Transaction ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[61]"
                            [form]="refundform"
                            [questions]="questions[61]"
                            [index]="16"
                            ></maxhealth-question>
                        </div>
                    </div>
                   
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Card No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[7]"
                            [form]="refundform"
                            [questions]="questions[7]"
                            [index]="8"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Card Holder Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[8]"
                            [form]="refundform"
                            [questions]="questions[8]"
                            [index]="9"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[65]"
                            [form]="refundform"
                            [questions]="questions[65]"
                            [index]="10"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[9]"
                            [form]="refundform"
                            [questions]="questions[9]"
                            [index]="10"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Batch No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[10]"
                            [form]="refundform"
                            [questions]="questions[10]"
                            [index]="11"
                            ></maxhealth-question>
                        </div>
                    </div>
                 
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Approval Code</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[12]"
                            [form]="refundform"
                            [questions]="questions[12]"
                            [index]="12"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Terminal ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[13]"
                            [form]="refundform"
                            [questions]="questions[13]"
                            [index]="13"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Acquiring Bank</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[14]"
                            [form]="refundform"
                            [questions]="questions[14]"
                            [index]="14"
                            ></maxhealth-question>
                        </div>
                    </div>                   
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-2/5">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[66]"
                            [form]="refundform"
                            [questions]="questions[66]"
                            [index]="10"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex mt-3 align-items-center creditbuttonwidth">
                        <div class="">
                            <button mat-raised-button color="primary" type="submit" class="mt-1" (click)="Enablecreditfields()">Manual</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1">Ok</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1" (click)="resetcreditcard()">Retry</button>
                        </div>
                    </div>
                </div>                
            </div>
            </mat-tab>
            <mat-tab label="Cheque" *ngIf="config.paymentmethod.cheque">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Cheque Details</mat-label>
                   <div class="flex flex-wrap justify-between">
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[5]"
                            [form]="refundform"
                            [questions]="questions[5]"
                            [index]="1"
                            ></maxhealth-question>
                        </div>
                     
                    </div>
                   
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Cheque No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[1]"
                            [form]="refundform"
                            [questions]="questions[1]"
                            [index]="2"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Issue Date</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[2]"
                            [form]="refundform"
                            [questions]="questions[2]"
                            [index]="3"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <!-- <div class="flex w-3/4 mt-1">
                        <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Validity</mat-label>
                        </div>
                        <div class="w-5/9 ml-3">
                            <maxhealth-question
                            [question]="questions[55]"
                            [form]="refundform"
                            [questions]="questions[55]"
                            [index]="3"
                            ></maxhealth-question>
                        </div>
                    </div> -->
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[3]"
                            [form]="refundform"
                            [questions]="questions[3]"
                            [index]="4"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">  
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Branch Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[4]"
                            [form]="refundform"
                            [questions]="questions[4]"
                            [index]="5"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color font-semi-bold">Authorised By</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[6]"
                            [form]="refundform"
                            [questions]="questions[6]"
                            [index]="6"
                            ></maxhealth-question>
                        </div>
                    </div>    
                </div>                                
             </div>
            </mat-tab>
            <mat-tab label="Demand Draft" *ngIf="config.paymentmethod.demand">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Demand Draft Details</mat-label>
                 <div class="flex flex-wrap justify-between">
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[19]"
                            [form]="refundform"
                            [questions]="questions[19]"
                            [index]="15"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">DD No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[15]"
                            [form]="refundform"
                            [questions]="questions[15]"
                            [index]="16"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Issue Date</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[16]"
                            [form]="refundform"
                            [questions]="questions[16]"
                            [index]="17"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <!-- <div class="flex flex-column w-1/45 mt-2">
                        <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Validity</mat-label>
                        </div>
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[56]"
                            [form]="refundform"
                            [questions]="questions[56]"
                            [index]="17"
                            ></maxhealth-question>
                        </div>
                    </div> -->
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[17]"
                            [form]="refundform"
                            [questions]="questions[17]"
                            [index]="18"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color font-medium">Branch Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[18]"
                            [form]="refundform"
                            [questions]="questions[18]"
                            [index]="19"
                            ></maxhealth-question>
                        </div>
                    </div>                   
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color font-semi-bold">Authorised By</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[20]"
                            [form]="refundform"
                            [questions]="questions[20]"
                            [index]="20"
                            ></maxhealth-question>
                        </div>
                    </div>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label="Mobile Payment" *ngIf="config.paymentmethod.mobilepayment">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Mobile Payment Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Sender Mobile</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[21]"
                            [form]="refundform"
                            [questions]="questions[21]"
                            [index]="21"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Sender MMID No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[22]"
                            [form]="refundform"
                            [questions]="questions[22]"
                            [index]="22"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Sender Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[23]"
                            [form]="refundform"
                            [questions]="questions[23]"
                            [index]="23"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[24]"
                            [form]="refundform"
                            [questions]="questions[24]"
                            [index]="24"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Branch Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[25]"
                            [form]="refundform"
                            [questions]="questions[25]"
                            [index]="25"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Beneficiary Mob No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[26]"
                            [form]="refundform"
                            [questions]="questions[26]"
                            [index]="26"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color">Transaction Amount</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[27]"
                            [form]="refundform"
                            [questions]="questions[27]"
                            [index]="27"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-5/9">
                            <mat-label class="max-health-primary-color">Transaction Reference</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[28]"
                            [form]="refundform"
                            [questions]="questions[28]"
                            [index]="28"
                            ></maxhealth-question>
                        </div>
                    </div>
                    </div>                    
                </div>
            </mat-tab>
            <mat-tab label="Online Payment" *ngIf="config.paymentmethod.onlinepayment">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Online Payment Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[33]"
                            [form]="refundform"
                            [questions]="questions[33]"
                            [index]="29"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Transaction ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[29]"
                            [form]="refundform"
                            [questions]="questions[29]"
                            [index]="30"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Booking ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[30]"
                            [form]="refundform"
                            [questions]="questions[30]"
                            [index]="31"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <div class="w-3/5">
                            <mat-label class="max-health-primary-color  font-medium">Card Validation</mat-label>
                        </div>
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[31]"
                            [form]="refundform"
                            [questions]="questions[31]"
                            [index]="32"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-3/10">
                            <mat-label class="max-health-primary-color  font-medium">Contact No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[32]"
                            [form]="refundform"
                            [questions]="questions[32]"
                            [index]="33"
                            ></maxhealth-question>
                        </div>
                    </div>
                   </div>
                </div>
            </mat-tab>
            <mat-tab label="PayTM" *ngIf="config.paymentmethod.paytm" >
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">PayTM Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[34]"
                            [form]="refundform"
                            [questions]="questions[34]"
                            [index]="34"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Wallet</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[35]"
                            [form]="refundform"
                            [questions]="questions[35]"
                            [index]="35"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Sender Mobile No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[36]"
                            [form]="refundform"
                            [questions]="questions[36]"
                            [index]="36"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Branch Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[37]"
                            [form]="refundform"
                            [questions]="questions[37]"
                            [index]="37"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">OTP</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[38]"
                            [form]="refundform"
                            [questions]="questions[38]"
                            [index]="38"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Transaction Reference</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[39]"
                            [form]="refundform"
                            [questions]="questions[39]"
                            [index]="39"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/2">
                            <mat-label class="max-health-primary-color  font-medium">Order ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[40]"
                            [form]="refundform"
                            [questions]="questions[40]"
                            [index]="40"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex mt-3 creditbuttonwidth">
                        <div class="">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Recheck</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Cancel</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Ok</button>
                        </div>
                    </div>
                </div>
                </div>
            </mat-tab>            
            <mat-tab label="Internet Payment" *ngIf="config.paymentmethod.internetpayment">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">Internet Payment Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[51]"
                            [form]="refundform"
                            [questions]="questions[51]"
                            [index]="49"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Mobile No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[49]"
                            [form]="refundform"
                            [questions]="questions[49]"
                            [index]="50"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Email id</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[50]"
                            [form]="refundform"
                            [questions]="questions[50]"
                            [index]="51"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Remarks</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[62]"
                            [form]="refundform"
                            [questions]="questions[62]"
                            [index]="51"
                            ></maxhealth-question>
                        </div>
                    </div>
                </div>
            </div>
            </mat-tab>
            <mat-tab label="UPI" *ngIf="config.paymentmethod.upi">
                <div class="ml-4 w-4/5">
                    <mat-label class="max-health-primary-color font-base font-medium">UPI Payment Details</mat-label>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Amount</mat-label>
                        </div> -->
                        <div class="w-full input1">
                            <maxhealth-question
                            [question]="questions[44]"
                            [form]="refundform"
                            [questions]="questions[44]"
                            [index]="41"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Card No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[41]"
                            [form]="refundform"
                            [questions]="questions[41]"
                            [index]="42"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[63]"
                            [form]="refundform"
                            [questions]="questions[63]"
                            [index]="43"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                         <div class="w-full">
                            <maxhealth-question
                            [question]="questions[64]"
                            [form]="refundform"
                            [questions]="questions[64]"
                            [index]="43"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Transaction ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[42]"
                            [form]="refundform"
                            [questions]="questions[42]"
                            [index]="43"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Bank Name</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[43]"
                            [form]="refundform"
                            [questions]="questions[43]"
                            [index]="44"
                            ></maxhealth-question>
                        </div>
                    </div>
                   
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Batch No.</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[45]"
                            [form]="refundform"
                            [questions]="questions[45]"
                            [index]="45"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Approval Code</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[46]"
                            [form]="refundform"
                            [questions]="questions[46]"
                            [index]="46"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Terminal ID</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[47]"
                            [form]="refundform"
                            [questions]="questions[47]"
                            [index]="47"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex flex-column w-1/45 mt-2">
                        <!-- <div class="w-1/3">
                            <mat-label class="max-health-primary-color  font-medium">Acquiring Bank</mat-label>
                        </div> -->
                        <div class="w-full">
                            <maxhealth-question
                            [question]="questions[48]"
                            [form]="refundform"
                            [questions]="questions[48]"
                            [index]="48"
                            ></maxhealth-question>
                        </div>
                    </div>
                    <div class="flex mt-3 align-items-center creditbuttonwidth">
                        <div class="">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Get Status</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Ok</button>
                        </div>
                        <div class="ml-3">
                            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Retry</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>            
          </mat-tab-group>
    </div>
    
</section>