<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel cashscrollwrapper">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner justify-between cashscroll-matnav">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a mat-tab-link [active]="true">Cash Scroll</a>
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="h-full w-full">
            <form [formGroup]="cashscrollForm" class="h-full w-full">
                <!---------------------------------FIRST ROW----------------------------------------------------->
                <div class="flex w-full justify-between  ml-3 mt-3 mr-3 flex p-1 items-center w-auto border-radius-lg bg-cashscroll">
                    
                        <div class="w-1/5 ml-2 flex">
                            <mat-label class=" wt-nowrap font-semi-bold">Scroll No.</mat-label>
                            <div class="ml-3 w-5/9 h-full bg-white cashscroll">
                                <maxhealth-question [question]="questions[0]" [form]="cashscrollForm"
                                    [questions]="questions[0]" [index]="0">
                                </maxhealth-question>
                            </div>    
                            
                        </div>                                               
                            <div class="ml-3 w-9/50 h-full font-semi-bold cashscrollradiobutton">
                                <maxhealth-question  [question]="questions[1]" [form]="cashscrollForm"
                                    [questions]="questions[1]" [index]="1">
                                </maxhealth-question>
                            </div>

<div class="w-2/10"></div>
<div class="w-2/10"></div>
                    <div class="w-3/10 float-right flex">
                        <div class="ml-0  cashscrollbutton" >
                             <button mat-raised-button color="primary" type="submit" (click)="scrollnoSearch()">
                                <img src="assets/lens.svg" class="initiatelens-icon">
                
                               <span class="ml-4 font-sm">Search</span> 
                
                            </button>
                            <button mat-raised-button color="primary" class="ml-3" (click)="clearcashscroll()" >
                                Clear
                            </button>
                           <button mat-raised-button color="primary" class="ml-3" [disabled]="Modifyscollnumber" (click)="cashscrollmodify()">
                                Modify
                            </button>
                            <button mat-raised-button color="primary" class="ml-3" (click)="opennewcashscroll()">
                                New
                            </button>
                             </div>
                            </div>
                    </div>
           
              <!---------------------------------SECOND ROW----------------------------------------------------->
  
   <div class="px-3 pt-2 pb-2 w-full h-4/5">
    <ng-container>
      <maxhealth-table class="cashscroll"  [config]="cashscrollconfig" [data]="cashscrollList"
      (columnClick)="cashscrollColumnClick($event)"  #cashscrolltable></maxhealth-table>
    </ng-container>
  </div>
               
            </form>

        </div>
    </mat-tab-nav-panel>
</section>
<div class="flex justify-between mx-5 max-health-primary-color">
    <p>Last Update By: {{ lastUpdatedBy }}</p>
    <P> Date: {{ currentTime }} </P>
  </div>