<section>
    <div class="flex justify-content-end">
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <!-- Blue Banner -->
    <div class="header w-full mt-1 p-2 border-radius-md secondary">
        <mat-label class="col-white">Refund Receipt</mat-label>
    </div>

    <!-- Service Type -->
    <div class="flex mt-2">
        <div class="flex">
            <div>
                <mat-label class="max-health-primary-color bold">Service Type:</mat-label>
            </div>
            <div class="w-1/5 ml-3">
                <maxhealth-question
                [question]="questions[0]"
                [form]="refundform"
                [questions]="questions[0]"
                [index]="0"
                ></maxhealth-question>
            </div>
            <div class="ml-7">
                <mat-label class="max-health-primary-color bold">Deposit Head:</mat-label>
            </div>
            <div class="w-1/5 ml-3">
                <maxhealth-question
                [question]="questions[7]"
                [form]="refundform"
                [questions]="questions[7]"
                [index]="7"
                ></maxhealth-question>
            </div>
        </div>
    </div>

    <!-- Payment Methods -->
    <div class="w-full height"> 
        <!-- <div class="w-2/3 h-full float-left maxhealth-vertical-tab">
            <mat-label class="max-health-primary-color font-bold font-base absolute mt-3">Payment Methods</mat-label>
            <payment-methods></payment-methods>
        </div> -->

        <payment-methods></payment-methods>

        <div class="w-1/3 h-full float-right ">
            <div class="w-full h-full back-primary p-2 col-white">
                <mat-label class="font-base">Refund Summary</mat-label>
                <div class="mt-1">
                    <mat-label>Available Amount</mat-label>
                    <mat-label class="float-right">7500.00</mat-label>
                </div>
                <div class="mt-1">
                    <mat-label>Refund Deposit</mat-label>
                    <mat-label class="float-right">0.00</mat-label>
                </div>
                <div class="mt-1">
                    <mat-label class="font-base">Payable Name</mat-label>
                    <div class="bg-white border-radius-lg mt-1">
                        <maxhealth-question
                        [question]="questions[8]"
                        [form]="refundform"
                        [questions]="questions[8]"
                        [index]="8"
                        ></maxhealth-question>
                    </div>
                </div>
                <div class="mt-1">
                    <mat-label class="font-base">Remarks</mat-label>
                    <div class="h-full bg-white border-radius-lg mt-1">
                        <maxhealth-question
                        [question]="questions[4]"
                        [form]="refundform"
                        [questions]="questions[4]"
                        [index]="4"
                        ></maxhealth-question>
                    </div>
                </div>
                <div class="flex mt-2">
                    <div class="w-1/2">
                        <button
                            mat-raised-button
                            type="submit" 
                            class="btn secondary col-white">
                            Send OTP
                        </button>
                    </div>
                    <div class="w-1/2 mt-1 border-radius-lg h-full bg-white">
                        <maxhealth-question
                        [question]="questions[9]"
                        [form]="refundform"
                        [questions]="questions[9]"
                        [index]="9"
                        ></maxhealth-question>
                    </div>
                </div>
                <div class="mt-1">
                    <mat-label>OTP will be sent to Reg. Mob. No. </mat-label>
                </div>
                <div class="w-full mt-1">
                        <button
                            mat-raised-button
                            type="submit" 
                            class="w-full btn">
                            Send OTP
                        </button>
                </div>
            </div>
        </div>
    </div>


    <div class="flex p-2 h-full bg-grey">
        <div class="flex w-3/5 h-full bg-lightgrey">
            <div class="mt-4 ml-2">
                <p class="max-health-primary-color wt-nowrap">Mobile No. </p>
            </div>
            <div class="w-1/3 mt-3 border-radius-lg h-full ml-2 bg-white clr-primary">
                <maxhealth-question
                  [question]="questions[10]"
                  [form]="refundform"
                  [questions]="questions[10]"
                  [index]="10"
                ></maxhealth-question>
            </div>
            <div class="mt-4 ml-2">
                <p class="max-health-primary-color wt-nowrap">Email ID. </p>
            </div>
            <div class="w-1/3 mt-3 border-radius-lg h-full ml-2 bg-white clr-primary">
                <maxhealth-question
                  [question]="questions[11]"
                  [form]="refundform"
                  [questions]="questions[11]"
                  [index]="11"
                ></maxhealth-question>
            </div>
        </div>
        <div class="flex h-full w-2/5 ml-2 align-items-center" style="background-color: #D2D0D0;">
            <div class="ml-1 mt-1 clr-primary">
                <maxhealth-question
                  [question]="questions[61]"
                  [form]="refundform"
                  [questions]="questions[61]"
                  [index]="61"
                ></maxhealth-question>
            </div>
            <div class="w-1/3 h-full border-radius-lg ml-3 bg-white">
                <maxhealth-question
                  [question]="questions[13]"
                  [form]="refundform"
                  [questions]="questions[13]"
                  [index]="13"
                ></maxhealth-question>
            </div>
        </div>
    </div>

    <div class="flex float-right mb-5">
        <div class="mr-4">
            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Submit</button>
        </div>
        <div class="mr-4">
            <button mat-raised-button color="primary" type="submit" class="mt-1 btn">Print Receipt</button>
        </div>
        <div class="">
            <button mat-raised-button color="primary" type="submit" (click)="clear()" class="mt-1 btn">Clear</button>
        </div>
    </div>
</section>