<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">DMG Mapping</a> 
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <!---------------------------------FIRST ROW----------------------------------------------------->
      <div class="p-2 flex w-full bg-dmg">
          <div class="w-9/10">
        <form [formGroup]="dmgMappingForm">
          <div class="flex">
            <mat-label>Max ID</mat-label>
            <div class="ml-3">
            <maxhealth-question
            [question]="questions[0]"
            [form]="dmgMappingForm"
            [questions]="questions[0]"
            [index]="0"
            >
            </maxhealth-question>
            </div>

            <mat-label class="ml-3">Mobile No.</mat-label>
            <div class="ml-3">
            <maxhealth-question
            [question]="questions[1]"
            [form]="dmgMappingForm"
            [questions]="questions[1]"
            [index]="1">
            </maxhealth-question>
            </div>

          </div>
        </form>
         </div>
        <div class="float-right w-1/10 ml-12"  >
        <button   mat-raised-button color="primary">
            Search
        </button>
        </div> 
    </div>
    <!------------------------------------------SECOND ROW----------------------------------------->
    <div class="flex w-full bg-dmg p-2 mt-1">
        <div  class="w-1/6">
        <mat-label>Name:</mat-label>
        <span></span>
        </div>

        <div class="w-1/10">
        <mat-label>Age:</mat-label>
        <span></span>
        </div>  

        <div  class="w-1/6">
        <mat-label>Gender:</mat-label>
        <span></span>
         </div>

         <div  class="w-1/6">
        <mat-label>DOB:</mat-label>
        <span></span>
         </div>


         <div  class="w-1/6">
        <mat-label>Nationality:</mat-label>
        <span></span>
         </div>

         <div  class="w-1/6">
        <mat-label>SSN:</mat-label>
        <span></span>
         </div>
    </div>
    <!-----------------------------------------THIRD ROW------------------------------------------------------------->
    <div class="border-radius-lg border-dmgtable" >
        <div class="p-2 border-tableheader">
            <p class="ml-3">Disease Management Groups-Organ(DMG)</p>
        </div>
        <div class="ml-5 mt-3 mb-3">
            <form [formGroup]="dmgMappingForm">
                <maxhealth-question
                [question]="questions[2]"
                [form]="dmgMappingForm"
                [questions]="questions[2]"
                [index]="2"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[3]"
                [form]="dmgMappingForm"
                [questions]="questions[3]"
                [index]="3"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[4]"
                [form]="dmgMappingForm"
                [questions]="questions[4]"
                [index]="4"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[5]"
                [form]="dmgMappingForm"
                [questions]="questions[5]"
                [index]="5"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[6]"
                [form]="dmgMappingForm"
                [questions]="questions[6]"
                [index]="6"
                >    
                </maxhealth-question>
                 <maxhealth-question
                [question]="questions[7]"
                [form]="dmgMappingForm"
                [questions]="questions[7]"
                [index]="7"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[8]"
                [form]="dmgMappingForm"
                [questions]="questions[8]"
                [index]="8"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[9]"
                [form]="dmgMappingForm"
                [questions]="questions[9]"
                [index]="9"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[10]"
                [form]="dmgMappingForm"
                [questions]="questions[10]"
                [index]="10"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[11]"
                [form]="dmgMappingForm"
                [questions]="questions[11]"
                [index]="11"
                >    
                </maxhealth-question>
                
            </form>
        </div>
    </div>

        
      
    
    </mat-tab-nav-panel>
</section>
