.bg-dmg{
    background-color: #F6F6F6;
    
}

.input-padding{
::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}
} 


.border-tableheader{
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #DAE9F8;
    color:#004084;
    font-weight:600;

}

.border-dmgtable{
    border: 1px solid;  
}

.bg-white{
    background-color:white;
}

.btn{
    padding: 1px;
}


.input-padding{
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        padding-bottom: 0rem !important;  
    }
}

.ml-1-34{
    margin-left:1.34%
}
.ml-0-27{
    margin-left:0.27%
}
.w-12{
    width:12%;
}
.h-74{
    height:74%
}
.h-89{
    height:89%;
}
.mt-error{
    ::ng-deep .mat-error{
        margin-top:8%;
    }
    
}
.default-label-none{
    ::ng-deep mat-label{
        display:none;
    }
}

.font-wrapper{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.text-position{
   
    position: relative;
    bottom: 4px;
    left: 8px;

  
}
.text-position2{
   
    position: relative;
    bottom: 4px;
    

  
}
.button-height{

        height:1.875rem;
        min-width: 95px !important;

}
.button-height2{
    height:1.875rem;
    min-width:initial !important;
}

.lens-icon{

    position: absolute;
    left: 2px;
    top: 2px;
    height: 92%;
    width: 30%;

}
.mt-0-35{
margin-top:0.35rem
}

