.bg-dmg{
    background-color: #F6F6F6;
    color:#004084;
}

::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}

.border-tableheader{
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #DAE9F8;
    color:#004084;
    font-weight:bold;

}

.border-dmgtable{
    border: 1px solid;  
}

.bg-white{
    background-color:white;
}

.btn{
    padding: 1px;
}
::ng-deep .btn .mat-button-wrapper{
    display: flex;
    gap: 15px;
    div{
        display: flex;
    }
}