<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">DMG Mapping</a> 
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="p-2">
        <!---------------------------------FIRST ROW----------------------------------------------------->
      <div class=" flex align-items-center w-full bg-dmg border-radius-xlg p-1">
          <div class="w-9/10 ml-2 ">
        <form [formGroup]="dmgMappingForm">
          <div class="flex">
            <mat-label class="font-semi-bold">Max ID</mat-label>
            <div class="ml-0-27 w-1/10 bg-white">
            <maxhealth-question
            [question]="questions[0]"
            [form]="dmgMappingForm"
            [questions]="questions[0]"
            [index]="0"
            >
            </maxhealth-question>
            </div>

            <mat-label class="ml-1-34 font-semi-bold">Mobile No.</mat-label>
            <div class="ml-0-27 w-1/10 bg-white">
            <maxhealth-question
            [question]="questions[1]"
            [form]="dmgMappingForm"
            [questions]="questions[1]"
            [index]="1">
            </maxhealth-question>
            </div>

          </div>
        </form>
         </div>
        <div class="float-right w-1/10 flex">
            <div class="ml-0" >
            <!-- <button   mat-raised-button color="primary" class="btn">
                <div >
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                        <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                          <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="39" rx="4" transform="translate(-12883 23266)" fill="#fff"/>
                          <g id="Group_1383" data-name="Group 1383" transform="translate(-14630.995 22990.941)">
                            <path id="Path_296" data-name="Path 296" d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z" transform="translate(1768.724 298.227) rotate(-39)" fill="#002b58"/>
                            <path id="Path_297" data-name="Path 297" d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z" transform="translate(1754.018 279.288)" fill="#002b58"/>
                          </g>
                        </g>
                      </svg>
                    </div>
                Search
            </button> -->
            <button mat-raised-button color="primary" type="submit" >

                <img src="assets/lens.svg" class="lens-icon">

                Search

            </button>
             </div>
        </div> 
    </div>
    <!------------------------------------------SECOND ROW----------------------------------------->
    <div class="flex w-full bg-dmg border-radius-xlg p-3  mt-1">
        <div  class="w-1/7">
        <mat-label  class="font-semi-bold">Name:</mat-label>
        <span></span>
        </div>

        <div class="w-1/10">
        <mat-label  class="font-semi-bold">Age:</mat-label>
        <span></span>
        </div>  

        <div  class="w-1/10">
        <mat-label  class="font-semi-bold">Gender:</mat-label>
        <span></span>
         </div>

         <div  class="w-12">
        <mat-label  class="font-semi-bold">DOB:</mat-label>
        <span></span>
         </div>


         <div  class="w-12">
        <mat-label  class="font-semi-bold">Nationality:</mat-label>
        <span></span>
         </div>

         <div  class="w-1/6">
        <mat-label  class="font-semi-bold">SSN:</mat-label>
        <span></span>
         </div>
    </div>
    <!-----------------------------------------THIRD ROW------------------------------------------------------------->
    <div class="border-radius-lg border-dmgtable mt-2" >
        <div class="p-1 border-tableheader">
            <p class="ml-2 mt-2">Disease Management Groups-Organ(DMG)</p>
        </div>
        <div class="ml-5 mt-1 mb-2">
            <form [formGroup]="dmgMappingForm">
                <maxhealth-question
                [question]="questions[2]"
                [form]="dmgMappingForm"
                [questions]="questions[2]"
                [index]="2"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[3]"
                [form]="dmgMappingForm"
                [questions]="questions[3]"
                [index]="3"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[4]"
                [form]="dmgMappingForm"
                [questions]="questions[4]"
                [index]="4"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[5]"
                [form]="dmgMappingForm"
                [questions]="questions[5]"
                [index]="5"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[6]"
                [form]="dmgMappingForm"
                [questions]="questions[6]"
                [index]="6"
                >    
                </maxhealth-question>
                 <maxhealth-question
                [question]="questions[7]"
                [form]="dmgMappingForm"
                [questions]="questions[7]"
                [index]="7"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[8]"
                [form]="dmgMappingForm"
                [questions]="questions[8]"
                [index]="8"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[9]"
                [form]="dmgMappingForm"
                [questions]="questions[9]"
                [index]="9"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[10]"
                [form]="dmgMappingForm"
                [questions]="questions[10]"
                [index]="10"
                >    
                </maxhealth-question>
                <maxhealth-question
                [question]="questions[11]"
                [form]="dmgMappingForm"
                [questions]="questions[11]"
                [index]="11"
                >    
                </maxhealth-question>
                
            </form>
        </div>
    </div>
    <!------------------------------------------FOURTH ROW--------------------------------------------------------------------->
    <div class="float-right mt-2">
        <button mat-raised-button color="primary" class="mr-8" (click)="dmgsave()" [disabled]="disablebutton">
            Save
        </button>
        <button mat-raised-button color="primary" class="mr-1" [disabled]="disablebutton">
            Clear
        </button>
    </div>
</div>
        
      
    
    </mat-tab-nav-panel>
</section> 
