.submodule-wrapper {
  height: 58px;
  &-left {
    width: 40vw;
    height: 58px;
    .home-icon {
      svg {
        width: 42px;
        height: 42px;
      }
    }
    ::ng-deep mat-form-field {
      width: 90%;
      font-size: 16px;
      background: #fff;
      border-radius: 1em;
      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
        input {
          font-size: 14px;
        }
      }
    }
  }
  &-right {
    width: 60vw;
    background-color: #fff;
    padding: 0 1em;
    border-radius: 0 0 0 1em;
    ul {
      height: 58px;
      align-items: center;
    }
  }
}
