<div class="flex justify-between submodule-wrapper">
  <div class="global-search submodule-wrapper-left">
    <form></form>
  </div>
  <div class="submodule-wrapper-right">
    <ul class="flex flex-row list-unstyled">
      <ng-container *ngFor="let module of submodules">
        <ng-container *ngIf="module.moreOptions">
          <li
            [matMenuTriggerFor]="menu"
            class="mr-4 cursor-pointer"
            [routerLink]="module.defaultPath"
            routerLinkActive="active-link"
            (isActiveChange)="onRouterLinkActive($event, module)"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ module.title }}
          </li>
        </ng-container>
        <ng-container *ngIf="!module.moreOptions">
          <li
            class="mr-4 cursor-pointer"
            [routerLink]="module.defaultPath"
            routerLinkActive="active-link"
            (isActiveChange)="onRouterLinkActive($event, module)"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ module.title }}
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <mat-menu #menu="matMenu">
      <div class="flex flex-rows">
        <div class="flex flex-column">
          <button mat-menu item class="matmenuclass">Front Office</button>
          <button mat-button>Marketing</button>
          <button mat-button>Health Checkup</button>
        </div>
        <div class="flex flex-column w-1/2">
          <button mat-button>Front Office</button>
          <button mat-button>Front Office</button>
          <button mat-button>Front Office</button>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
