<div class="flex justify-between submodule-wrapper" items-center>
  <div class="submodule-wrapper-right" *ngIf="submodules?.length > 0">
    <ul class="flex flex-row list-unstyled">
      <ng-container *ngFor="let module of submodules">
        <ng-container *ngIf="module.moreOptions">
          <li
            [matMenuTriggerFor]="menu"
            class="mr-2 cursor-pointer max-health-primary-color"
            [matMenuTriggerData]="{ module: module }"
            [ngClass]="{ active: activeSubModule?.title == module.title }"
          >
            {{ module.title }}
          </li>
        </ng-container>
        <ng-container *ngIf="!module.moreOptions">
          <li
            class="mr-2 cursor-pointer max-health-primary-color"
            (click)="activeSubModule = module"
            [routerLink]="module.defaultPath"
            routerLinkActive="active-link"
            (isActiveChange)="onRouterLinkActive($event, module)"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{ active: activeSubModule?.title == module.title }"
          >
            {{ module.title }}
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <mat-menu #menu="matMenu" class="sub-header-menu">
      <ng-template
        matMenuContent
        let-aliasMenuItems="module.childrens"
        let-tenentPath="module.tenentPath"
        let-module="module"
      >
        <div class="flex flex-column flex-wrap box">
          <ng-container *ngFor="let menuItem of aliasMenuItems">
            <button
              mat-button
              class="max-health-primary-color"
              (click)="activeSubModule = module"
              [routerLink]="
                baseHref == tenentPath
                  ? menuItem.defaultPath
                  : tenentPath + menuItem.defaultPath
              "
              disableRipple="true"
              routerLinkActive="active-link"
              (isActiveChange)="onPageRouterLinkActive($event, menuItem)"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ menuItem.title }}
            </button>
          </ng-container>
        </div>
      </ng-template>
    </mat-menu>
  </div>
</div>
