.submodule-wrapper {
  height: 3.525em;
  align-items: center;
  &-left {
    width: 40vw;
    height: 2.625em;
    .home-icon {
      svg {
        width: 42px;
        height: 42px;
      }
    }
    ::ng-deep mat-form-field {
      width: 90%;
      font-size: 14px;
      background: #fff;
      border-radius: 1em;
      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
        input {
          font-size: 12px;
        }
        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
          border: none;
        }
        .mat-form-field-suffix {
          top: 0.4em;
        }
      }
    }
  }
  &-right {
    width: 60vw;
    background-color: #fff;
    padding: 0 1em;
    border-radius: 0 0 0 1em;
    display: flex;
    align-items: center;
    ul {
      height: 2.625em;
      align-items: center;
      width: 100%;
      li {
        white-space: nowrap;
      }
    }
  }
}

::ng-deep {
  .sub-header-menu {
    width: 38vw;
    height: 32vh;
    overflow: hidden;
    max-width: initial !important;
    .mat-menu-content {
      height: 100%;
      .box {
        height: 32vh;
      }
      .box > * {
        flex: 1 1 calc(32vh / 4);
        justify-content: flex-start;
      }
    }
  }
}
