<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">
    <ul class="list-unstyled flex items-end">
      <li class="ml-3">
        <a mat-tab-link [active]="true"> Find Patient</a>
      </li>
    </ul>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="p-3 w-full h-full display-block">
      <ng-container *ngIf="isAPIProcess">
        <maxhealth-table
          [config]="config"
          [data]="patientList"
        ></maxhealth-table>
      </ng-container>
    </div>
  </mat-tab-nav-panel>
</section>
