.wt-nowrap{
    white-space: nowrap;
}
.bg-white{
    background-color: #fff;
}
.bg-secondary{
    background-color: #F6F6F6;
}
.bg-grey{
    background-color: #D8D8D8;
}
.h-65{
    height: 65%;
}
.w-27{
    width: 27%;
}
.w-14{
    width: 14.122%;
}
.w-12{
    width: 12%;
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lens-icon{
    position: absolute;
    left: 2px;
    top: 2px;
    height: 90%;
    width: 25%;
}
.patient-history-wrapper{
    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 0 !important;
    }
    ::ng-deep .max-table-wrapper{
        border: 1px solid #707070;
        table{
            white-space: nowrap !important;
            tbody tr td:nth-last-child(1) div{ 
                display: flex;
                justify-content: center;
            }
            tbody tr:hover td:nth-last-child(1){
                div img{
                    filter:  brightness(0) invert(1);
                }
            }
        }
        // .mat-table-fixed-layout{
        //     table-layout: auto !important;
        // }
    }
    // .btn{
    //     ::ng-deep .mat-button-wrapper{
    //         margin-left: 25px;
    //     }
    // }   
}


