.wt-nowrap{
    white-space: nowrap;
}
.bg-white{
    background-color: #fff;
}
.bg-secondary{
    background-color: #F6F6F6;
}
.bg-grey{
    background-color: #D8D8D8;
}
.h-65{
    height: 65%;
}
.w-27{
    width: 30%;
}
.w-14{
    width: 14.122%;
}
.w-12{
    width: 12%;
}
.h-74{
    height: 72%;
}
.ml-2{
    margin-left: 19.5rem !important;
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.api-loader {
    background: rgba(0, 0, 0, 0.15);
  }
.lens-icon{
    position: absolute;
    left: 2px;
    top: 2px;
    height: 90%;
    width: 28%;
}
.expired-deposit-wrapper{
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0 !important;
}
::ng-deep .mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0.8rem;
    padding: 0%;
}
.label ::ng-deep  mat-label{
             display: none;
         }
.btn{
      ::ng-deep .mat-button-wrapper{
               margin-left: 0px;
                }
             } 
::ng-deep .max-table-wrapper{
        border: 1px solid #707070;
        table{
            white-space: nowrap !important;
            thead tr th:nth-child(6){
                padding-left: 25px;
            }
            tbody tr td:nth-last-child(1) div{ 
                display: flex;
                justify-content: center;
                cursor: pointer;
                img{
                    width: 20px !important;
                }
            }
            tbody tr:hover td:nth-last-child(1){
                div img{
                    filter:  brightness(0) invert(1);
                }
            }

            
            tbody tr td:nth-child(7),
            tbody tr td:nth-child(8),
            tbody tr td:nth-child(9),
            tbody tr td:nth-child(10)
            {
                text-align: right !important;
                padding-right: 30px !important
            }
            tbody tr td:nth-child(6){
                text-align: right !important;
                padding-right: 38px !important
            }
        }
        // .mat-table-fixed-layout{
        //     table-layout: auto !important;
        // }

    }
    //  .btn{
    //     ::ng-deep .mat-button-wrapper{
    //         margin-left: 20px;
    //     }
    // } 
//     .disableclass{
//         color: currentColor;
//         cursor: not-allowed;
//         pointer-events: none;
//         opacity: 0.2;
//     }  
    ::ng-deep .mat-raised-button{
        min-width: auto !important;
        height: 1.875rem;
        line-height: 1.875rem;
    }
//}

::ng-deep tr.isExpdeopisExpdeop {
    background-color: #FFCCD5 !important;
  }
  .row {
    display : flex;
    align-items : center;
    margin-bottom: 50px;
}
  .box {
    float: left;
  height: 15px;
  width: 23px;
  margin-bottom: 8px !important;
  border: 1px solid black;
  clear: both;
  }
  .pink{
    background-color: #FFCCD5 !important;
  }
  .ml-13{
    margin-left: 49rem !important;
  }
  .ml-14{
    margin-left: 1rem;
  }

//   .error{
//     margin: 0.6rem !important;
//   }
  .error{
    ::ng-deep .mat-error{
        margin: 0.6rem !important;
    }
  }

}