button.second-btn,
  button.primary-btn {
    width: 95px;
    height: 33px;
    background: #eff3f6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #000000;
    border: none;
  }
  button.primary-btn {
    background: #45c0be 0% 0% no-repeat padding-box;
    color: #ffffff;
  }