.cashscrollnewwrapper{
.text-wrap{
    white-space: nowrap;
}
.input-padding{
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        padding-bottom: 0rem !important;  
    }
}
.bg-lightgray{
    background :#F6F6F6 !important; 
     
}
.bg-darkgray{
    
    background: #d8d8d8 !important;
}

.table{
    height: 73% !important;
    ::ng-deep .mat-sort-header-content{
        white-space: nowrap;
    }
}
.button{
    height:1.875rem;
    line-height: 1.875rem;
    min-width:initial !important;
}
.w-18{
    width:18%
}
.bg-white{
    background: white;
    color: rgba(0, 0, 0, 0.87);
}
.bgwhite{
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled{     
        .mat-form-field-outline{
            background: white !important;            
    } 
    }
    ::ng-deep .mat-input-element:disabled{
        color: rgba(0, 0, 0, 0.87);
    }
}


.cashscrollnew-icon{
    position: absolute;
    left: 2px;
    top: 2px;
    height: 90%;
    width: 25%;
}

.receiptNostyle{
    font-weight: 600 !important;
}
.cashsscrolltable{
    ::ng-deep .max-table-wrapper {
        border: 1px solid #707070 !important;
        tr.highlight{
            font-weight: 700 !important;
              font-size: 17px !important;
       }
    tbody tr td:nth-child(5), tbody tr td:nth-child(6),
    tbody tr td:nth-child(7),
    tbody tr td:nth-child(8),
    tbody tr td:nth-child(9),
    tbody tr td:nth-child(10),
    tbody tr td:nth-child(11),
    tbody tr td:nth-child(12),
    tbody tr td:nth-child(13),
    tbody tr td:nth-child(14),
    tbody tr td:nth-child(15),
    tbody tr td:nth-child(16),
    tbody tr td:nth-child(17),
    tbody tr td:nth-child(18),
    tbody tr td:nth-child(19),
    tbody tr td:nth-child(20),
    tbody tr td:nth-child(21),
    tbody tr td:nth-child(22)

    {
        text-align: right !important;
    }
    tbody tr td:nth-child(5)
    {
        padding-right: 1rem !important;
    }
    tbody tr td:nth-child(6){
        padding-right: 1.8rem !important;
    }
    tbody tr td:nth-child(7){
        padding-right: 1.8rem !important;
    }
    tbody tr td:nth-child(8){
         padding-right: 2rem !important;
    }
    
    tbody tr td:nth-child(13)
   {
        
        padding-right: 3rem !important;
    }
    tbody tr td:nth-child(9){
        padding-right: 2rem !important;
    }
    tbody tr td:nth-child(10){
        padding-right: 2.4rem !important;
    }
   
    tbody tr td:nth-child(14)
    {
        padding-right: 2.5rem !important;
    }
    tbody tr td:nth-child(12),
    tbody tr td:nth-child(13)
    {
        padding-right: 2rem !important;
    }
    
    tbody tr td:nth-child(19),
    tbody tr td:nth-child(16),
    tbody tr td:nth-child(15),
        tbody tr td:nth-child(22)
        {
        padding-right: 2.5rem !important;
    }
   
    tbody tr td:nth-child(17),
    tbody tr td:nth-child(18),
    tbody tr td:nth-child(20),
    tbody tr td:nth-child(21)
   
    {
        padding-right: 3rem !important;
    }

    tbody tr td:nth-child(11){
        padding-right: 1rem !important;
    }
    tbody tr td:nth-child(11){
        padding-right: 1rem !important;
    }
    
    thead tr th:nth-child(12),
    thead tr th:nth-child(14){
        padding-left: 5rem;
    }
    
    thead tr th:nth-child(13){
        padding-left: 4rem;
    }
    thead tr th:nth-child(5),
    thead tr th:nth-child(11)
    {
        padding-left: 3.3rem;
    }
    thead tr th:nth-child(6)
    {
        padding-left:4.4rem;
    }
    thead tr th:nth-child(7),
    thead tr th:nth-child(8)
    {
        padding-left: 1rem;
    }
    thead tr th:nth-child(9),
    thead tr th:nth-child(15){
        padding-left: 2rem;
    }
    thead tr th:nth-child(10)
    {
        padding-left: 1rem;
    }
    thead tr th:nth-child(18){
        padding-left: 3.7rem;
    }
    thead tr th:nth-child(19),
    thead tr th:nth-child(20),
    thead tr th:nth-child(21),
    thead tr th:nth-child(22){
        padding-left: 1.5rem;
    }
  }
}  

}