<div class="login-wrapper h-screen w-screen flex items-center justify-center">
        <div class="shadow-1 w-1/3 h-3/4 login-wrapper-box flex flex-column p-8">
            <div>
                <img src="assets/brandLogo.svg" />
            </div>
            <form (ngSubmit)="loginSubmit()" [formGroup]="loginForm">
                <div class="flex justify-between flex-wrap items-center xs:flex-column">
                    <div *ngFor="let question of questions; let i = index" class="form-row pb-2 {{question?.properties?.question_wrapper_class}}" [ngClass]="{'hidden display-none':(question.type == 'hidden')}">
                      <maxhealth-question [question]="question" [form]="loginForm" [questions]="questions" [index]="i"></maxhealth-question>
                    </div>
                  </div>
            </form>

        </div> 
</div>