.bg-lightgray{
    background :#F6F6F6; 
     
}
.bg-darkgray{
    
    background: #d8d8d8;
}

.bg-white{
    background-color:white;
}


.input-padding{
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        padding-bottom: 0rem !important;  
    }
}

.text-wrap{
    white-space:nowrap;
}

.w-12{
    width:12%;
}
.w-11{
    width:11%;
}
.w-8{
    width:9%
}
.w-17{
    width:17%;
}
.color-blue{
    color:#45C0BE;
}
.font-style-iom{
   font-style: italic;
    color:#45C0BE;
    font-weight:600;
    cursor: pointer;
    //opacity:1;
}


.iom-message{
    position: absolute;
    margin-left: 51.5%;
    top: 24.5%;
    color: red;
    font-size: smaller;
    font-weight: 600;

}
.disableiomclass{
color: currentColor;
cursor: not-allowed;
pointer-events: none;
opacity: 0.5;
//text-decoration: none;
}

.p-1-5{
    padding:0.35rem;
}
.h-43{
    height:45%;
}
.h-40{
    height:43%;
}
.font-wrapper{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
//first row custom class
.ml-1-34{
    margin-left:1.34%
}
.ml-0-27{
    margin-left:0.27%
}
.ml-0-21{
    margin-left:0.21%;
}

//second row custom class
.ml-3-23{
    margin-left:1%
}
.ml-1-5{
    margin-left:1.5%
}

.ml-0-64{
    margin-left:0.70%;
}
.w-32{
    width:32%
}
.w-29{
    width:29%;
    }
.ml-0-30{
margin-left:0.35%;
}

//checkbix
.checkbox-bottom-margin{
    ::ng-deep mat-checkbox label span{
        margin-bottom:2px;
    }
}

.mt-error{
    ::ng-deep .mat-error{
        margin-top:8%;
     
    }
}
.default-label-none{
    ::ng-deep mat-label{
        display:none;
    }
}


.input-width{
    ::ng-deep mat-form-field .mat-form-field-wrapper{
        padding-top:0.2rem !important;
        padding-bottom:0.2rem !important;
        width:70%;
        height:1.5rem;
    }
}

.font-style{
    font-size: 15px;
    font-weight: 600;
}
.maxid-error{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 4%;
    font-size: smaller;
    color: red;
    font-weight: 600;
}

.button-style{
    min-width:initial !important;
    height:1.875rem;
    
}
.text-position{
    position:relative;
     bottom:3px;
}
.textarea-height{
    height:1.5rem !important;
}

.company-width {
    ::ng-deep .cdk-overlay-pane{
        width: auto !important;
    }
    .dropdown{
        ::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible{
            width:265px !important;
        }
    }
    
    
}
.remarks-sort{
    ::ng-deep .max-table-wrapper table thead tr th:nth-child(12) div.mat-sort-header-arrow{
        
            display:none !important;
    
    }
}
.font-size-name{
    font-size:15px;
}

.gridcheckbox-margin-right{
    ::ng-deep mat-checkbox .mat-checkbox-layout{
        margin-right:13rem !important
    }
}

.dropdown-width{
    ::ng-deep .mat-select-panel-wrap{
        width:25rem !important;
        height:15rem !important;
    }
}




