.bg-lightgray{
    background :#F6F6F6; 
     
}
.bg-darkgray{
    
    background: #d8d8d8;
}

.bg-white{
    background-color:white;
}

//REMOVE PADDING FOR INPUT CONTROLS
// ::ng-deep .input .mat-form-field-wrapper{

//     padding-bottom: 0 !important;

// }

.input-padding{
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        padding-bottom: 0rem !important;  
    }
}

.text-wrap{
    white-space:nowrap;
}

.w-12{
    width:12%;
}
.w-11{
    width:11%;
}
.w-8{
    width:9%
}
.color-blue{
    color:#45C0BE;
}

//DISPLAY TABLE HEADERS IN A SINGLE LINE
// ::ng-deep .whitespace-nowrap .mat-sort-header-content{
//     white-space:nowrap;
// }

.iom-message{
    position: absolute;
    margin-left: 53%;
    top: 24.5%;
    color: red;

}
.disableiomclass{
color: currentColor;
cursor: not-allowed;
pointer-events: none;
opacity: 0.5;
//text-decoration: none;
}

.p-1-5{
    padding:0.35rem;
}
.h-57{
    height:57%;
}
.font-wrapper{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
//first row custom class
.ml-1-34{
    margin-left:1.34%
}
.ml-0-27{
    margin-left:0.27%
}
.ml-0-21{
    margin-left:0.21%;
}

//second row custom class
.ml-3-23{
    margin-left:1%
}
.ml-1-5{
    margin-left:1.5%
}

.ml-0-64{
    margin-left:0.70%;
}
.w-31{
    width:31%
}
.w-27{
    width:27%;
    }
.ml-0-30{
margin-left:0.35%;
}

//checkbix
.checkbox-bottom-margin{
    ::ng-deep mat-checkbox label span{
        margin-bottom:2px;
    }
}