.bg-lightgray{
    background :#F6F6F6; 
     
}
.bg-darkgray{
    
    background: #d8d8d8;
}

.bg-white{
    background-color:white;
}

//REMOVE PADDING FOR INPUT CONTROLS
::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}

.text-wrap{
    white-space:nowrap;
}

.w-12{
    width:12%;
}
.w-8{
    width:9%
}
.color-blue{
    color:#45C0BE;
}

//DISPLAY TABLE HEADERS IN A SINGLE LINE
::ng-deep .max-table-wrapper table{
    white-space:nowrap;
}