.maxidclass{
    border: 1px solid gray;
    width: 10vw;
    border-radius: 4px;
    height: 21px;
    margin-top: 10px;
    
}
.firstrow{
    height:40px;
    background :#d7d9da;
    
}
.employeelabelclass{
    color: #004084;
    font:Proxima Nova;
}