<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">Employee Sponsor Tagging</a> 
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="h-full p-2">
        <div >
        <form  [formGroup]="employeesponsorForm">
            <!------------------------------------------- FIRST ROW------------------------------------------>
            <div class="bg-lightgray">
                <div class="flex w-4/5 p-2">
                        <div class="text-wrap max-health-primary-color font-bold" >
                            <mat-label>Max ID</mat-label>
                        </div>
                        <div class="ml-3 w-1/10 bg-white">
                            <maxhealth-question
                                [question]="questions[0]"
                                [form]="employeesponsorForm"
                                [questions]="questions[0]"
                                [index]="0"
                            >
                            </maxhealth-question>
                        </div>
                        <div class="ml-2 text-wrap max-health-primary-color font-bold">
                            <mat-label>Mobile No</mat-label>
                        </div>
                        <div class="ml-3 w-1/15 bg-white">
                            <maxhealth-question
                                [question]="questions[1]"
                                [form]="employeesponsorForm"
                                [questions]="questions[1]"
                                [index]="1"
                            >
                            </maxhealth-question>
                        </div>
                        <div class="ml-3 text-wrap max-health-primary-color font-bold" >
                            <mat-label >Employee Code</mat-label>
                        </div>
                        <div class="ml-3 w-1/15 bg-white ">
                            <maxhealth-question
                                [question]="questions[2]"
                                [form]="employeesponsorForm"
                                [questions]="questions[2]"
                                [index]="2"
                            >
                            </maxhealth-question>
                        </div>
                        <div class="ml-2 max-health-primary-color font-bold">
                            <mat-label>Company</mat-label>
                        </div>
                        <div class="ml-1">
                            <a class="text-underline color-blue"  (click)="iomClick()" >IOM</a>
                        </div>
                        <div class="ml-3 w-1/15 bg-white">
                            <maxhealth-question
                                [question]="questions[3]"
                                [form]="employeesponsorForm"
                                [questions]="questions[3]"
                                [index]="3"
                            >
                            </maxhealth-question>
                        </div>
                        <div class ="ml-2 max-health-primary-color font-bold">
                            <mat-label>Corporate</mat-label>
                        </div>
                        <div class="ml-3 w-1/15">
                            <maxhealth-question
                                [question]="questions[4]"
                                [form]="employeesponsorForm"
                                [questions]="questions[4]"
                                [index]="4"
                            >
                            </maxhealth-question>
                        </div>
                </div>
            </div>
            <!---------------------------------------------SECOND ROW-------------------------------------------------->
       </form>
     </div>
     <div class="bg-lightgray  mt-1">
        <div class="flex  p-2 align-items-center text-wrap">
            <div class="flex w-1/15">
                <div class="max-health-primary-color font-bold" >
                    <mat-label>Name:</mat-label>
                </div>
                <div  class="ml-3">
                <span >dipu  jeyaprakash</span>
                </div>
            </div>
            <div class="flex ml-2 w-8">
                <div class="max-health-primary-color font-bold">
                    <mat-label>Age:</mat-label>
                </div>
                <div class="ml-3">
                <span>17 years</span>
                </div>
            </div>
            <div class="flex ml-2 w-1/10 ">
                <div class="max-health-primary-color font-bold" >
                    <mat-label>Gender:</mat-label>
                </div>
                <div class="ml-3">
                    <span>Female</span>
                </div>
            </div>
            <div class="flex ml-2 w-12">
                <div class="max-health-primary-color font-bold" >
                    <mat-label>DOB:</mat-label>
                </div>
                <div class="ml-3">
                <span>12-12-2022</span>
                </div>
            </div>
            <div class="flex ml-2 w-1/15">
                <div class="max-health-primary-color font-bold">
                    <mat-label>Nationality:</mat-label>
                </div>
                <div class="ml-3 text-wrap overflow-hidden" >
                    <span title="Former Yugoslav Republic of Serbia and M">Former Yugoslav Republic of Serbia and M</span>
                </div>
            </div>
            <div class="flex ml-2 w-1/15">
                <div class="max-health-primary-color font-bold">
                    <mat-label>SSN:</mat-label>
                </div>
                <div class="ml-3">
                    <span>909090909</span>
                </div>
            </div>
            <div class="flex bg-darkgray align-items-center border-radius-lg p-1 mr-4  w-1/3" >
                <div class="ml-2">
                    <maxhealth-question
                    [question]="questions[5]"
                    [form]="employeesponsorForm"
                    [questions]="questions[5]"
                    [index]="5"
                    (click)="oncheckboxClick($event)"
                    >
                    </maxhealth-question>
                </div>
                <div class="ml-2 text-wrap">
                    <mat-label>From Date</mat-label>
                </div>
                <div class="ml-3 w-1/4 bg-white border-radius-md" >
                    <maxhealth-question
                [question]="questions[6]"
                [form]="employeesponsorForm"
                [questions]="questions[6]"
                [index]="6"
                >
                </maxhealth-question>
                </div>
                <div class="text-wrap ml-6">
                    <mat-label>To Date</mat-label>
                </div>
                <div class="ml-2 w-1/4 bg-white border-radius-md" >
                    <maxhealth-question
                    [question]="questions[7]"
                    [form]="employeesponsorForm"
                    [questions]="questions[7]"
                    [index]="7"
                    >
                    </maxhealth-question>
                </div>
            </div>

            
        </div>
    </div>
     <div class="h-1/2">
        <div class="pl-2 pt-3 employeeclass font-bold font-base">
            <mat-label>Employee Dependent Details</mat-label>
        </div>
        <!----------------------------------------------------FIRST TABLE------------------------------------------------------------->
        <div class="h-1/2 mt-2">
            <maxhealth-table [config]="config1" [data]="data"></maxhealth-table>
        </div>
        <!----------------------------------------------------SECOND TABLE------------------------------------------------------------->
        <div class="h-1/2 mt-2">
            <maxhealth-table [config]="config2" [data]="data1"></maxhealth-table>
        </div>
        <div class="float-right mt-2 mr-3">
            <button mat-raised-button color="primary" (click)="employeeSave()">Save</button>
            <button mat-raised-button color="primary" class="ml-3"   (click)="employeeDelete()">Delete</button>
            <button mat-raised-button color="primary" class="ml-3"(click)="this.employeesponsorForm.reset();clearTabledata()">Clear</button>
        </div>
    </div>
        
    </div>
      
    
    </mat-tab-nav-panel>
</section>
