<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
    <nav mat-tab-nav-bar class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">Staff Dependent</a>
            </li>
        </ul>
    </nav>

    <mat-tab-nav-panel>
        <div class="h-full w-full">
            <form [formGroup]="staffForm">
                <!------------------------------------------- FIRST ROW------------------------------------------>
                <div
                    class="bg-lightgray flex justify-between align-items-center border-radius-lg mt-1 ml-2 mr-3  bg-dept">
                    <div class="w-full flex ">

                        <div class="flex pt-2 w-1/4">
                            <mat-label class="ml-2 font-semi-bold">Organisation</mat-label>

                            <div class="w-3/5 ml-4">
                                <maxhealth-question [question]="questions[0]" [form]="staffForm"
                                    [questions]="questions[0]" [index]="0">
                                </maxhealth-question>
                            </div>
                        </div>
                        <div class="flex pt-2 w-1/4">
                            <mat-label class="font-semi-bold">Employee Code</mat-label>
                            <div class="w-5/9 ml-4">
                                <maxhealth-question class="bg-white" [question]="questions[1]" [form]="staffForm"
                                    [questions]="questions[1]" [index]="1">
                                </maxhealth-question>
                            </div>
                        </div>
                        <div class="flex pt-2 w-2/5">
                            <mat-label class="font-semi-bold">OR</mat-label>
                            <mat-label class="ml-4 font-semi-bold">Employee Name</mat-label>

                            <div class="w-1/3 ml-4">
                                <maxhealth-question [question]="questions[2]" [form]="staffForm"
                                    [questions]="questions[2]" [index]="2">
                                </maxhealth-question>
                            </div>
                        </div>
                        <div class="flex w-1/20"></div>
                        <div class="flex">
                            <div class="serachcss">
                                <button mat-raised-button color="primary" (click)="search()" class="searchbtn">
                                    <svg class="iconcss" xmlns="http://www.w3.org/2000/svg" width="35" height="38"
                                        viewBox="0 0 35 35">
                                        <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                                            <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="34"
                                                rx="4" transform="translate(-12883 23266)" fill="#fff" />
                                            <g id="Group_1383" data-name="Group 1383"
                                                transform="translate(-14630.995 22990.941)">
                                                <path id="Path_296" data-name="Path 296"
                                                    d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z"
                                                    transform="translate(1768.724 298.227) rotate(-39)"
                                                    fill="#002b58" />
                                                <path id="Path_297" data-name="Path 297"
                                                    d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z"
                                                    transform="translate(1754.018 279.288)" fill="#002b58" />
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="ml-7 mb-5">
                                        Search
                                    </span>

                                </button>
                                
                            </div>
                            <div class="float-right flex clearbtn">
                                <button mat-raised-button color="primary" class="ml-3 "
                                    (click)="this.staffForm.reset();clear()">Clear</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
            <div class="h-1/2 pl-2 pr-2">

                <!----------------------------------------------------FIRST TABLE------------------------------------------------------------->
                <div class="gridh mt-2 ">
                    <maxhealth-table [config]="config1" [data]="staffDetails" (columnClick)="staffColumnClick($event)">
                    </maxhealth-table>
                </div>
                <!----------------------------------------------------SECOND TABLE------------------------------------------------------------->
                <div class="pl-2 pt-3 employeeclass font-semi-bold font-base">
                    <mat-label class="max-health-primary-color">Employee Dependent Detail</mat-label>
                </div>
                <div class="gridh mt-2">
                    <maxhealth-table [config]="config2" [data]="staffDeptDetails"></maxhealth-table>
                </div>
               
            </div>
        </div>
    </mat-tab-nav-panel>
</section>