<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
    <nav mat-tab-nav-bar class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">Staff Dependent</a>
            </li>
        </ul>
    </nav>

    <mat-tab-nav-panel>
        <div class="h-full p-2">
            <!-- <div class="flex h-2/10 m-2 bg-row p-1"  > -->
            <div>
                <form [formGroup]="staffForm">
                    <!------------------------------------------- FIRST ROW------------------------------------------>
                   <div class="bg-lightgray">
                    <div class="flex w-4/5 p-3 input-padding">
                            <div class="text-wrap max-health-primary-color font-bold">
                                <mat-label>Organisation</mat-label>
                            </div>
                            <div class="ml-3 w-1/2 bg-white">
                                <maxhealth-question [question]="questions[0]" [form]="staffForm"
                                    [questions]="questions[0]" [index]="0">
                                </maxhealth-question>
                            </div>
                            <div class="ml-4 text-wrap max-health-primary-color font-bold">
                                <mat-label>Employee Code</mat-label>
                            </div>
                            <div class="ml-3 w-1/3 bg-white">
                                <maxhealth-question [question]="questions[1]" [form]="staffForm"
                                    [questions]="questions[1]" [index]="1">
                                </maxhealth-question>
                            </div>
                            <div class="ml-4 text-wrap max-health-primary-color font-bold">
                                <mat-label> OR  Employee Name</mat-label>
                            </div>
                            <div class="ml-3 w-1/3 bg-white ">
                                <maxhealth-question [question]="questions[2]" [form]="staffForm"
                                    [questions]="questions[2]" [index]="2">
                                </maxhealth-question>

                            </div> 
                            <!-- <div class="ml-3 float-right">          
                                <button mat-raised-button  color="primary" (click)="search()">Search</button>
                            </div>      -->
                            <div class="mx-12">&nbsp;</div> 
                            <div class="mx-12">&nbsp;</div> 
                            
                            <div class="ml-12">
                             <button mat-raised-button color="primary" (click)="search();">Search</button>
                            </div>             
                                      
                    </div>
                </div>
                    <!---------------------------------------------SECOND ROW-------------------------------------------------->
                </form>
            </div>
           
             <!-- </div> -->
             <div class="h-1/2">
        
                <!----------------------------------------------------FIRST TABLE------------------------------------------------------------->
                <div class="h-1/2 mt-2 whitespace-nowrap pl-2 pr-2">
                    <maxhealth-table [config]="config1" [data]="staffDetails" (columnClick)="staffColumnClick($event)"></maxhealth-table>
                </div>
                <!----------------------------------------------------SECOND TABLE------------------------------------------------------------->
                <div class="pl-2 pt-3 employeeclass font-bold font-base">
                    <mat-label class="max-health-primary-color">Employee Dependent Details</mat-label>
                </div>
                <div class="h-1/2 mt-2  pl-2 pr-2">
                    <maxhealth-table [config]="config2" [data]="staffDeptDetails"></maxhealth-table>
                </div>
                <div class="float-right mt-2 mr-3">
                    <button mat-raised-button color="primary" class="ml-3"(click)="this.staffForm.reset();">Clear</button>
                </div>
            </div>
        </div>
    </mat-tab-nav-panel>
</section>