<div class="relative change-password-wrapper">
    <label class="max-health-primary-color font-base font-bold">{{
      data.title
    }}</label>
    <button
      mat-icon-button
      aria-label="close dialog"
      mat-dialog-close
      class="absolute max-dialog-close-icon"
      type="button"
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <form
      (ngSubmit)="submit()"
      [formGroup]="form"
      class="mt-4 mb-6"
      autocomplete="off"
    >
      <div
        class="flex justify-between flex-wrap"
        [ngClass]="{ 'form-column': data.layout == 'single' }"
      >
        <div
          *ngFor="let question of questions; let i = index"
          class="mb-1 {{ data.form?.layout && data.form?.layout[question.key] }}"
          [ngClass]="{
            'hidden display-none': question.type == 'hidden',
            'w-1/45': data.layout == 'double',
            'w-full': data.layout == 'single'
          }"
        >
          <maxhealth-question
            [question]="question"
            [form]="form"
            [questions]="questions"
            [index]="i"
          ></maxhealth-question>
        </div>
      </div>
      <div class="">
      <span class="max-health-primary-color font-bold">Password Rule</span>
      <p class="margin-p">1. Password must be greater than or equal 8 characters.</p>
      <p class="margin-p">2. Must have at least one Capital letter.</p>
      <p class="margin-p">3. Must have at least one numeric character.</p>  
      <p class="margin-p">4. Must have at least special character {{listSpecialCharacters}}.</p>  
      <p class="margin-p">5. Last three HIS Passwords cannot be used again.</p>      
      </div>
      <div class="text-center" *ngIf="data.buttonLabel">
        <button
          mat-raised-button
          color="primary"
          class="w-1/3 mt-2"
          type="submit"
          [disabled]="!form.valid"
        >
          {{ data.buttonLabel }}
        </button>
      </div>
    </form>
  </div>
  
