<div class="flex flex-column h-full">
  <div class="flex justify-between w-full">
    <form
      [formGroup]="formGroup"
      autocomplete="off"
      class="w-full flex align-items-center"
    >
      <div class="flex align-items-center w-2/5">
        <mat-label class="max-health-primary-color mr-2 font-bold"
          >Service Type</mat-label
        >
        <maxhealth-question
          [question]="questions[0]"
          [form]="formGroup"
          [questions]="questions[0]"
          [index]="0"
          class="w-3/4 service-type"
        >
        </maxhealth-question>
      </div>
      <div class="flex w-5/9 align-items-center">
        <mat-label class="max-health-primary-color mr-2 font-bold"
          >Investigations</mat-label
        >
        <maxhealth-question
          [question]="questions[1]"
          [form]="formGroup"
          [questions]="questions[1]"
          [index]="1"
          class="w-3/4"
        >
        </maxhealth-question>
      </div>
    </form>
    <div class="flex align-items-center justify-end">
      <!-- <div class="total-cost" *ngIf="billingService.totalCost > 0">
        <span>Total Estimation:</span>
        {{
          billingService.totalCost | currency: "INR":undefined:undefined:"en-IN"
        }}
      </div> -->

      <button
        mat-raised-button
        color="primary"
        class="font-sm ml-2 min-width-initial"
        type="button"
        [disabled]="!formGroup.valid"
        (click)="add()"
      >
        Add
      </button>
      <button
        mat-raised-button
        color="primary"
        class="font-sm ml-2 min-width-initial"
        type="button"
        [disabled]="
          !billingService.checkServicesAdded() ||
          billingService.getBillTabStatus()
        "
        (click)="goToBill()"
      >
        Bill
      </button>
      <!-- <button
        mat-raised-button
        color="primary"
        class="font-sm ml-2 min-width-initial print-button"
        type="button"
        [disabled]="!billingService.checkServicesAdded()"
      >
        <mat-icon>print</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="mt-2 service-table-height">
    <maxhealth-table
      [config]="config"
      [data]="data"
      #table
      (rowRwmove)="rowRwmove($event)"
    ></maxhealth-table>
  </div>
</div>
