<mat-label class="label">Hot Listing</mat-label>
<mat-select class="mat-select">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
<mat-label class="label">Remarks</mat-label>
<textarea matInput class="textarea" placeholder="Write note"></textarea>
<button
mat-raised-button
color="primary"
type="submit" 
class="mt-8 btn"
> Save</button>
