.label{
    color: var(--primary-color);
}
.textarea{
    margin-top: 10px;
    // border: 1px solid;
    height: 100px;
    border-radius: 13px;
    width: 97%;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #F1F1F1;
    box-shadow: inset 0px 3px 6px #00000029;
}
.btn{
    margin-top: 25px;
    width: 100px;
}
.mat-select{
    border: 1px solid;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}