<section class="ml-4 mr-4 shadow-1 max-body-wrapper whitePanel">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">
    <ul class="list-unstyled flex items-end">
      <li class="ml-3">
        <a mat-tab-link [active]="true">Duplicate Registration Merging</a>
      </li>
    </ul>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <!-- <mat-progress-spinner
      mode="indeterminate"
      value="25"
      diameter="60"
      *ngIf="!defaultUI && showmergespinner"
      class="spinner"
    >
    </mat-progress-spinner> -->
    <div
    *ngIf="!defaultUI && showmergespinner"
    class="flex align-items-center justify-center h-full w-full fixed left-0-% top-0-% z-50 api-loader"
    >
      <mat-spinner strokeWidth="3"></mat-spinner>
    </div>

    <div class="w-full h-full" *ngIf="!defaultUI">
      <div class="flex px-3 pt-3 pb-1 w-full h-4/5 display-block">
        <ng-container *ngIf="isAPIProcess">
          <maxhealth-table
            class="w-full h-full"
            [config]="config"
            [data]="results"
            #table
          ></maxhealth-table>
        </ng-container>
      </div>
      <div class="float-right mb-3 mr-3 mt-1">
        <button
          mat-raised-button
          color="primary"
          class="col-m3 center"
          type="button"
          (click)="openDialog()"
          [disabled]="mergebuttonDisabled"
          accessControl
          masterModule="2"
          moduleId="7"
          featureId="460"
          actionId="1181"
        >
          Merge
        </button>
      </div>
    </div>

    <div class="w-full h-full" *ngIf="defaultUI">
      <empty-placeholder [icon]="mergeicon" [message]="mergingmessage">
      </empty-placeholder>
    </div>
  </mat-tab-nav-panel>
</section>
