:host {
  width: 100%;
  display: block;
}

::ng-deep mat-datepicker-toggle {
  button {
    top: 0.25em;
  }
}
::ng-deep {
  .sub-header-menu {
    overflow: hidden;
    max-width: initial;
    .max-width {
      max-width: 50vw !important;
      &.min-width {
        width: min-content;
      }
    }

    .mat-menu-content {
      height: 100%;
      button {
        text-align: left;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .search-header-menu {
    width: 40vw;

    max-width: initial !important;
    margin-top: 3%;
    margin-left:-31%;
    // maxhealth-question {
    //   > div {
    //     display: flex;
    //     align-items: center;
    //     mat-label {
    //       width: 35%;
    //       font-size: 12px;
    //     }
    //     mat-form-field {
    //       width: 75% !important;
    //       font-size: 12px;
    //       .mat-form-field-wrapper {
    //         padding-bottom: 0;
    //       }
    //     }
    //   }
    // }
  }
}
.submodule-wrapper {
    ::ng-deep mat-form-field {
      .mat-form-field-wrapper {
        input {
          font-size: 15px;
          width: 86%;
          margin: -1px auto 4px;
          color: rgba(0, 0, 0, 0.87) !important;
          font-weight: 500;
        }
        .mat-form-field-prefix {
          top: 0.2em !important;

        }
        .mat-form-field-suffix {
          top: 0.05em !important;
        }
        .mat-form-field-infix {
          width: 112px !important;
        }
      }
    }
  }



  .main-modules {
    
    li {
      display: flex;
      // align-items: center;
      height: 1.925rem;
      // align-self: flex-end;
      white-space: nowrap;
      font-size: 16px !important;
      letter-spacing: 0.32px;
      color: #000000 !important; //color: rgba(0, 0, 0, 0.87) !important;//
      opacity: 1;

      &:first-child {
        // margin-left: 2em;
      }
      &.active {
        border-bottom: 4px solid #004084 !important;
        height:2.8rem;
      }
    }
  }

::ng-deep {
  .header-menu {
    width: 38%;
    max-width: initial !important;
    .mat-menu-content {
      height: 100%;
    }
  }
}

.setting-menu {
  font-weight: 600 !important;
}
.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
//*new**/
.mat-toolbar-single-row {
   
  background-color: white;
  height: 50px;
  // margin-bottom: 10px;
  // padding: 30px 20px;
}
.example-container {
  // height: 100px;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 20%;
  position: absolute;
  z-index: 9;
  background: unset;
  border: unset;
}
.example-sidenav-content {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.logo{
  width: 75px;
  padding: 0 10px;
}
.menu_button{
  border: unset;
  color: var(--primary-color);
}
.menu-item{
  padding: 10px 3px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-004084);
text-align: left;
font: normal normal normal 14px/17px Proxima Nova;
letter-spacing: 0px;
color: #004084;
opacity: 1;
margin-top: 7px;
}
.menu-item:first-child{
  font-weight: bold;
}
.scroll_button {
  margin-right: 10px;
  border: unset;
  color: var(--primary-color);
  font-size: 14px;
  margin-left: 15px;
  // margin-top: 10px;
}

.mat-drawer.mat-drawer-side {
  background-color: #ecf5ff;
  border:1px solid black;
}
.top-header-menu{
    height: 3.188rem;
    justify-content: center;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0
}
.search_form{
height: 34px;
}
.search_field{
  width: 200px;
    padding: 10px;
}


.equal{
  position: relative;
  top: -5px;
  right: -9px;
}
.search_input{
  font-size: 14px;
  padding: 0;
  line-height: 28px;
}
.search_icon{
  color: grey;
  font-size: 16px;
  top: -1px;
  left: -12px;
  position: relative;
  margin-right: 0px!important;
}
.icon_bar {
  height: 22px;
}
ul.top-mat-menu-item li {
  display: none;
}
.logout-button {
  padding: 10px 16px;
  position: absolute;
   right: 0;
}
@media only screen and (max-width: 1920px) and (min-width:1601px) {
  
  ul.top-mat-menu-item li {
    display: inline;
  }
  div.top-mat-menu-drop-item  button{
    display: none;
  }
  button.scroll_button  {
    display: none;
  }
}
@media only screen and (max-width: 1600px)and (min-width:1367px) {
  
  ul.top-mat-menu-item li:nth-child(-n+10) {
    display: inline;
  }
  div.top-mat-menu-drop-item  button:nth-child(-n+10) {
    display: none;
  }
}


@media only screen and (max-width: 1366px)and (min-width:1281px) {
  
  ul.top-mat-menu-item li:nth-child(-n+8) {
    display: inline;
  }
  div.top-mat-menu-drop-item  button:nth-child(-n+8) {
    display: none;
  }
}


@media only screen and (max-width: 1280px) and (min-width:1025px) {
  
  ul.top-mat-menu-item li:nth-child(-n+6) {
    display: inline;
  }
  div.top-mat-menu-drop-item  button:nth-child(-n+6) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width:769px) {
  
  ul.top-mat-menu-item li:nth-child(-n+4) {
    display: inline;
  }
  div.top-mat-menu-drop-item  button:nth-child(-n+4) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  
  ul.top-mat-menu-item li:nth-child(-n+3) {
    display: inline;
  }
  div.top-mat-menu-drop-item  button:nth-child(-n+3) {
    display: none;
  }
}

.submodule-wrapper {
  height: 3.188rem;
  align-items: center;
.module-name{
  background-color: #004080;
  color:white;
  // height: 2.488rem;
  padding: 17px 12px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 15px Proxima Nova;
letter-spacing: 0px;
opacity: 1;
// padding-right: 1.5rem;
}
.menu-item{
  padding: 8px 3px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-proxima-nova);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-004084);
text-align: left;
font: normal normal normal 14px/17px Proxima Nova;
letter-spacing: 0px;
color: #004084;
opacity: 1;
margin-top: 7px;
}

.mat-form-field-flex {
  padding-top: 13px !important;
  // margin-bottom: -12px !important;
}

.mat-form-field {
  &.mat-form-field-appearance-outline {
    .mat-form-field-suffix,
    .mat-form-field-prefix {
      top: 0.15em !important;
    }
  }
}

}
.search-note {
  font-size: 10px;
  // font-family: proxima;
  // font-style: normal;
  // //color: red;
  float: left;
}


button.second-btn,
  button.primary-btn {
    width: 80px;
    height: 36px;
    background: #eff3f6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #000000;
    border: none;
    border: 1px solid #004084;
  }
  button.primary-btn {
    background: #004084 0% 0% no-repeat padding-box;
border-radius: 4px;
    color: #ffffff;
    width: 92px;
    height: 36px;
  }


