.appointment-search-dialog-wrapper {
  ::ng-deep {
    .date-checkbox {
      width: 3%;
      mat-label {
        display: none;
      }
    }
    maxhealth-question {
      mat-label {
        margin-right: 0.25rem;
      }
    }
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
    mat-form-field {
      background-color: #fff;
    }
    .mobileno{
      .mat-error{
        margin-top: 9px;
        white-space: break-spaces;
      }
    }
  }

  .wt-nowrap {
    white-space: nowrap;
  }
  .bg-secondary {
    background-color: #f6f6f6;
  }
  .bg-grey {
    background-color: #d8d8d8;
  }
  .bg-white {
    background-color: #fff;
  }
  .h-62 {
    height: 62vh;
  }
  .w-31{
    width: 31%;
  }
  .api-loader {
    background: rgba(0, 0, 0, 0.15);
  }
}
