.ews-popup-wrapper{
  width:36vw;
  button.second-btn,
  button.primary-btn {
    width: 62px;
height: 34px;
    background: #eff3f6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #000000;
    border: none;
  }
  button.primary-btn {
    background: #004084 0% 0% no-repeat padding-box;
    color: #ffffff;
  }
}
