<div class=" justify-center items-center  doctor_list">

    <div class="ml-4 w-9/10 h-1/10 font-base font-bold justify-content-center ">
        <p class="max-health-primary-color">Due Amout</p> 
    </div>

    <div class="ml-4 w-9/10 h-1/10 font-base justify-content-center ">
        <p class="max-health-primary-color">This patient have due amount of {{dueAmount}}</p> 
    </div>

    <div class="doc_buttons">
        <button mat-flat-button color="primary" class="add_save" (click)="createDoctor()">Pay Now</button>
    </div>

    <div class="ml-4 w-9/10 h-1/10 font-base justify-content-center ">
        <p class="max-health-primary-color">OR</p> 
    </div>

    <div class="addnew_doctor">
        
        <div class="doc_form">
            <form
            [formGroup]="patientformGroup"
            autocomplete="off"
            class="w-full align-items-center"
            >

                <maxhealth-question class="w-1/45" [question]="patientform[0]" [form]="patientformGroup"
            [questions]="patientform[0]" [index]="0" ></maxhealth-question>

            </form>
            <div class="doc_buttons">
                <button mat-flat-button color="primary" class="add_save" (click)="createDoctor()">Save</button>
            </div>
        </div>
    </div>
    
</div>