.miscellaneous-credit-details-wrapper{
.iom-button {
    padding: 0;
    min-width: 32px;
    .iom-color {
      color: #45c0be;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-decoration: underline;
    }
  }
  .iom-message{
    position: absolute;
    margin-left: 7%;
    top:49%;
    color: red;
}
.special-checkbox {
  ::ng-deep .mat-checkbox-label {
    color: #45c0be !important;
    text-decoration: underline;
  }
}
.txt-blue
{   
 color: #45C0BE;
 font-style: italic;
 text-decoration: underline;
 font-weight:550;

 ::ng-deep .mat-checkbox-label
 {
  text-decoration: underline;
  margin-left: 0.3rem;
 }
}
.width-49 {
    width: 49%;
  }
  ::ng-deep {
    maxhealth-question {
      mat-label {
        color: var(--primary-color);
      }
    }
  }
  .creditoutpatientbill{
    .mat-raised-button{
    //  min-width: initial !important;
      height: 1.875rem !important;
      line-height: 1.875rem  !important;
  }
  }
  .corporate{
    ::ng-deep .mat-form-field{
      margin-top: 3% !important;
    }
  }    
}