<div class="h-full w-full">
    <!------------------------------------FIRST ROW----------------------------------------------------->
    <div class="h-1/10 w-full flex justify-end">
         <span class="material-icons cursor-pointer" mat-dialog-close>close</span>
    </div>
    <!--------------------------------------SECOND ROW------------------------------------------------------>
    <div class="h-2/10 w-full pt-1  mt-1 flex align-items-center" style="background-color:#45C0BE">
        <p style="color:white;font-size:medium;">Deposit Receipt</p>
    </div>
    <!------------------------------------------THIRD ROW---------------------------------------------------->
    <!-- <div class="h-1/10 mt-3 w-full" >
        <div class="w-1/2 float-left" >
            <div class="float-left flex">
                <mat-label class="max-health-primary-color">Service Type</mat-label>
                <div class="ml-4">
                    <maxhealth-question
                    [question]="questions[0]"
                    [form]="depositForm"
                    [questions]="questions[0]"
                    [index]="0"
                    ></maxhealth-question>
                </div>
            </div>
        </div>
        <div class="w-1/2 float-right" >
            <div class="float-right flex">
                <mat-label class="max-health-primary-color">Deposit Head</mat-label>
                <div class="ml-4">
                <maxhealth-question
                [question]="questions[1]"
                [form]="depositForm"
                [questions]="questions[1]"
                [index]="1"
                ></maxhealth-question>
                </div>
            </div>
        </div>
    </div> -->
    <max-service-deposit>
        
    </max-service-deposit>
    <!---------------------------------------------FOURTH ROW---------------------------------------------------------->
    <div class=" w-full  flex h-55">
        <!-------------------------------------------mat tab will appear-------------------------------------------->
        <div class="w-3/4  h-full mt-3 maxhealth-vertical-tab " >
            <!-- <div class=" maxhealth-vertical-tab"> -->
                <div class="flex h-1/10">
                    <div class="w-1/4">
                        <mat-label class="max-health-primary-color ">Payment Methods</mat-label>
                    </div>
                    <div class="w-3/4 ml-10"> 
                    <mat-label class="max-health-primary-color" *ngIf="cashtab.isActive ">Cash</mat-label>
                    <mat-label class="max-health-primary-color" *ngIf="chequetab.isActive">Cheque</mat-label>
                    <mat-label class="max-health-primary-color" *ngIf="credittab.isActive">Credit Card</mat-label>
                    <mat-label class="max-health-primary-color " *ngIf="demanddrafttab.isActive">Demand Draft</mat-label>
                    <mat-label class="max-health-primary-color " *ngIf="mobilepaymenttab.isActive">Mobile Payment</mat-label>
                    <mat-label class="max-health-primary-color " *ngIf="onlinepaymenttab.isActive">Online Payment</mat-label>
                    <mat-label class="max-health-primary-color" *ngIf="paytmtab.isActive">PayTM</mat-label>
                    <mat-label class="max-health-primary-color" *ngIf="upitab.isActive">UPI</mat-label>
                    </div>
                </div>
                
                <mat-tab-group class="mt-2">

                    <mat-tab #cashtab label="Cash">
                        <div class="ml-8">
                            <div class="flex">
                                <mat-label class="w-2/10 max-health-primary-color" >Amount:</mat-label>
                                <div class="w-1/4">
                                   <maxhealth-question
                                [question]="questions[2]"
                                [form]="depositForm"
                                [questions]="questions[2]"
                                [index]="2">
                                   </maxhealth-question>
                                </div>  
                            </div>
                        </div>
                   </mat-tab>
                    <mat-tab #chequetab label="Cheque"> 
                      <div class="ml-8">
                        <div class="flex mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Cheque No.</mat-label>
                            <div >
                                <maxhealth-question
                             [question]="questions[3]"
                             [form]="depositForm"
                             [questions]="questions[3]"
                             [index]="3">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Issue Date</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[4]"
                             [form]="depositForm"
                             [questions]="questions[4]"
                             [index]="4">
                                </maxhealth-question>
                            </div>
                        </div>
                        
                        <div class="flex mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Bank Name</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[5]"
                             [form]="depositForm"
                             [questions]="questions[5]"
                             [index]="5">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Branch Name</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[6]"
                             [form]="depositForm"
                             [questions]="questions[6]"
                             [index]="6">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex mt-1" >
                            <mat-label class="w-2/10 max-health-primary-color">Amount</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[7]"
                             [form]="depositForm"
                             [questions]="questions[7]"
                             [index]="7">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex mt-1">
                            <mat-label class="font-bold w-2/10 max-health-primary-color">Authorised By</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[8]"
                             [form]="depositForm"
                             [questions]="questions[8]"
                             [index]="8">
                                </maxhealth-question>
                            </div>
                        </div>
                      </div> 
                    </mat-tab>
                    <mat-tab #credittab label="Credit Card">
                        <div class="ml-8">
                            <div class="flex mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Card No</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[9]"
                                 [form]="depositForm"
                                 [questions]="questions[9]"
                                 [index]="9">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Card Holder Name</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[10]"
                                 [form]="depositForm"
                                 [questions]="questions[10]"
                                 [index]="10">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Bank Name</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[11]"
                                 [form]="depositForm"
                                 [questions]="questions[11]"
                                 [index]="11">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Batch No.</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[12]"
                                 [form]="depositForm"
                                 [questions]="questions[12]"
                                 [index]="12">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Amount</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[13]"
                                 [form]="depositForm"
                                 [questions]="questions[13]"
                                 [index]="13">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color" >Approval Code</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[14]"
                                 [form]="depositForm"
                                 [questions]="questions[14]"
                                 [index]="14">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Terminal ID</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[15]"
                                 [form]="depositForm"
                                 [questions]="questions[15]"
                                 [index]="15">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="w-3/10 max-health-primary-color">Acquiring Bank</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[16]"
                                 [form]="depositForm"
                                 [questions]="questions[16]"
                                 [index]="16">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex mt-8 ">
                                <button mat-raised-button color="primary">Manual</button>
                                <button mat-raised-button color="primary" class="ml-8">OK</button>
                            </div>
                            
                        </div>
                    </mat-tab>
                    <mat-tab #demanddrafttab label="Demand Draft"> 
                       <div class="ml-8">
                        <div class="flex  mt-1 ">
                            <mat-label class="w-2/10 max-health-primary-color">DD No.</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[17]"
                             [form]="depositForm"
                             [questions]="questions[17]"
                             [index]="17">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Issue Date</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[18]"
                             [form]="depositForm"
                             [questions]="questions[18]"
                             [index]="18">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex  mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Bank Name</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[19]"
                             [form]="depositForm"
                             [questions]="questions[19]"
                             [index]="19">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex  mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Branch Name</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[20]"
                             [form]="depositForm"
                             [questions]="questions[20]"
                             [index]="20">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex  mt-1">
                            <mat-label class="w-2/10 max-health-primary-color">Amount</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[21]"
                             [form]="depositForm"
                             [questions]="questions[21]"
                             [index]="21">
                                </maxhealth-question>
                            </div>
                        </div>

                        <div class="flex  mt-1">
                            <mat-label class="max-health-primary-color font-bold w-2/10">Authorised By</mat-label>
                            <div>
                                <maxhealth-question
                             [question]="questions[22]"
                             [form]="depositForm"
                             [questions]="questions[22]"
                             [index]="2">
                                </maxhealth-question>
                            </div>
                        </div>
                       </div>
                    </mat-tab>
                    <mat-tab #mobilepaymenttab label="Mobile Payment">
                        <div class="ml-8">
                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Sender Mobile</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[23]"
                                 [form]="depositForm"
                                 [questions]="questions[23]"
                                 [index]="23">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3 ">Sender MMID No.</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[24]"
                                 [form]="depositForm"
                                 [questions]="questions[24]"
                                 [index]="24">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Sender Name</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[25]"
                                 [form]="depositForm"
                                 [questions]="questions[25]"
                                 [index]="25">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3 ">Bank Name</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[26]"
                                 [form]="depositForm"
                                 [questions]="questions[26]"
                                 [index]="26">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Branch Name</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[27]"
                                 [form]="depositForm"
                                 [questions]="questions[27]"
                                 [index]="27">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1 ">
                                <mat-label class="max-health-primary-color w-1/3 ">Beneficiary Mob no.</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[28]"
                                 [form]="depositForm"
                                 [questions]="questions[28]"
                                 [index]="28">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3 ">Transaction Amount</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[29]"
                                 [form]="depositForm"
                                 [questions]="questions[29]"
                                 [index]="29">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Transaction Reference</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[30]"
                                 [form]="depositForm"
                                 [questions]="questions[30]"
                                 [index]="30">
                                    </maxhealth-question>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab #onlinepaymenttab label="Online Payment">
                         <div class="ml-8">
                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10">Transaction ID</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[31]"
                                 [form]="depositForm"
                                 [questions]="questions[31]"
                                 [index]="31">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10 ">Booking ID</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[32]"
                                 [form]="depositForm"
                                 [questions]="questions[32]"
                                 [index]="32">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1 ">
                                <mat-label class="max-health-primary-color w-3/10 ">Card Validate</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[33]"
                                 [form]="depositForm"
                                 [questions]="questions[33]"
                                 [index]="33">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex mt-1">
                                <mat-label class="max-health-primary-color w-3/10">Contact No.</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[34]"
                                 [form]="depositForm"
                                 [questions]="questions[34]"
                                 [index]="34">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10">Amount</mat-label>
                                <div>
                                    <maxhealth-question
                                 [question]="questions[35]"
                                 [form]="depositForm"
                                 [questions]="questions[35]"
                                 [index]="35">
                                    </maxhealth-question>
                                </div>
                            </div>
                         </div> 
                    </mat-tab>
                    <mat-tab #paytmtab label="PayTM"> 
                        <div class="ml-8">
                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Amount</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[36]"
                                [form]="depositForm"
                                [questions]="questions[36]"
                                [index]="36">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Wallet</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[37]"
                                [form]="depositForm"
                                [questions]="questions[37]"
                                [index]="37">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3">Sender Mobile No.</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[38]"
                                [form]="depositForm"
                                [questions]="questions[38]"
                                [index]="38">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-1/3 ">Transaction Reference</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[39]"
                                [form]="depositForm"
                                [questions]="questions[39]"
                                [index]="39">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color  w-1/3">Order ID</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[40]"
                                [form]="depositForm"
                                [questions]="questions[40]"
                                [index]="40">
                                    </maxhealth-question>
                                </div>
                            </div>
                            <div class="flex mt-6">
                                <button mat-raised-button color="primary" >Recheck</button>
                                <button mat-raised-button color="primary" class="ml-6">Cancel</button>
                                <button mat-raised-button color="primary" class="ml-6">OK</button>
                            </div>
                       </div>
                   </mat-tab>
                    <mat-tab  #upitab label="UPI">
                         <div class="ml-8">
                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10 ">Card No.</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[41]"
                                [form]="depositForm"
                                [questions]="questions[41]"
                                [index]="41">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10 ">Transaction ID</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[42]"
                                [form]="depositForm"
                                [questions]="questions[42]"
                                [index]="42">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1  mt-1">
                                <mat-label class="max-health-primary-color w-3/10 ">Bank Name</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[43]"
                                [form]="depositForm"
                                [questions]="questions[43]"
                                [index]="43">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color  w-3/10">Amount</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[44]"
                                [form]="depositForm"
                                [questions]="questions[44]"
                                [index]="44">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color  w-3/10">Batch No.</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[45]"
                                [form]="depositForm"
                                [questions]="questions[45]"
                                [index]="45">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1">
                                <mat-label class="max-health-primary-color w-3/10 ">Approval Code</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[46]"
                                [form]="depositForm"
                                [questions]="questions[46]"
                                [index]="46">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex  mt-1 ">
                                <mat-label class="max-health-primary-color w-3/10">Terminal ID</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[47]"
                                [form]="depositForm"
                                [questions]="questions[47]"
                                [index]="47">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex mt-1">
                                <mat-label class="max-health-primary-color  w-3/10">Acquiring Bank</mat-label>
                                <div>
                                    <maxhealth-question
                                [question]="questions[48]"
                                [form]="depositForm"
                                [questions]="questions[48]"
                                [index]="48">
                                    </maxhealth-question>
                                </div>
                            </div>

                            <div class="flex mt-4">
                                <button mat-raised-button color="primary">Last Txn Status</button>
                                <button mat-raised-button color="primary" class="ml-4">OK</button>
                            </div>
                         </div>
                    </mat-tab>
                    
                </mat-tab-group>
            <!-- </div> -->
           
        </div>
        <!--------------------------------------------remarks -------------------------------------------->
        <div class="w-3/10 h-full mt-3 p-4 ml-12 bg-blue float-right" >
            <mat-label  class="ml-4 text-white">Remarks</mat-label>
            <div class="h-90 border-radius-lg bg-white">
                <maxhealth-question
                [question]="questions[49]"
                [form]="depositForm"
                [questions]="questions[49]"
                [index]="49"
                ></maxhealth-question>
            </div>
        </div>
    </div>

    <!-----------------------------------------------FIFTH ROW------------------------------------------------------------------>
    <div class="h-1/10 mt-12 p-3 bg-lightgray" >
        <div class="flex p-1">
            <div class="w-1/2 bg-gray float-left flex align-items-center border-radius-md ">
                <div class="flex  ml-3" >
                    <mat-label class="max-health-primary-color">Mobile No</mat-label>
                <div class="ml-4 w-1/4">
                    <maxhealth-question
                    [question]="questions[50]"
                    [form]="depositForm"
                    [questions]="questions[50]"
                    [index]="50"
                    ></maxhealth-question>
                    </div>
                <mat-label class="max-health-primary-color ml-3">Email ID</mat-label>
                <div class="ml-4 w-1/4 ml-3">
                    <maxhealth-question
                    [question]="questions[51]"
                    [form]="depositForm"
                    [questions]="questions[51]"
                    [index]="51"
                    ></maxhealth-question>
                    </div>
                </div>  
            </div>
            <div class="w-1/10">
                
            </div>
            <div class="w-1/2 bg-gray p-1 float-right border-radius-md">
                <div class="flex align-items-center ">
                    <div class="ml-4 w-1/2  max-health-primary-color">
                        <maxhealth-question
                        [question]="questions[52]"
                        [form]="depositForm"
                        [questions]="questions[52]"
                        [index]="52"
                        ></maxhealth-question>
                   </div>
                   <div class="ml-2 w-1/2  max-health-primary-color">
                    <maxhealth-question
                    [question]="questions[53]"
                    [form]="depositForm"
                    [questions]="questions[53]"
                    [index]="53"
                    ></maxhealth-question>
               </div>
                </div>
                
            </div>
           
            
        </div>
    </div>

    <!--------------------------------------------------SIXTH ROW------------------------------------------------------------>
    <div class="h-1/10 mt-1 float-right">
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="primary" class="ml-6">Print Receipt</button>
        <button mat-raised-button color="primary"  class="ml-6">Clear</button>

    </div>
</div>

  
