<section class="depositdialogwrapper relative">
<div class="h-full w-full">
    <div class="close-height">

    <!-- Cross Icon -->
  <button
  mat-icon-button
  aria-label="close dialog"
  mat-dialog-close
  class="absolute max-dialog-close-icon"
  type="button"
>
  <mat-icon>close</mat-icon>
</button>
</div>
    <!--------------------------------------SECOND ROW------------------------------------------------------>
    <div class="w-full mt-1 flex align-items-center bg-lightblue border-radius-md">
        <p class="font-lg font-white mt-3 ml-2">Deposit Receipt</p>
    </div>
    <!------------------------------------------THIRD ROW---------------------------------------------------->
    <max-service-deposit [data]="depositdialogtypeList">
        
    </max-service-deposit>
    <!---------------------------------------------FOURTH ROW---------------------------------------------------------->
    <div class=" w-full h-60">
        <!-------------------------------------------mat tab will appear-------------------------------------------->
       <payment-methods [config]="config" [paymentpatientinfo]="patientIdentityInfo"></payment-methods>
        <!--------------------------------------------remarks -------------------------------------------->
        <div class="width h-97 mt-3 p-4 bg-blue float-right border-radius-md" >
            <mat-label  class="mb-2 font-base text-white">Remarks</mat-label>
            <div class="h-90 mt-2 border-radius-lg bg-white border-none textarea-length">
                <maxhealth-question
                [question]="questions[0]"
                [form]="makedepositdialogForm"
                [questions]="questions[0]"
                [index]="0"
                ></maxhealth-question>
            </div>
        </div>
    </div>

    <!-----------------------------------------------FIFTH ROW------------------------------------------------------------------>
   <div class="bottom">
    <patient-identity-info [data]="patientIdentityInfo">
                
    </patient-identity-info> 

    <!--------------------------------------------------SIXTH ROW------------------------------------------------------------>
    <div class="flex float-right depositdialogbutton absolute right-0 bottom-0">
        <button mat-raised-button color="primary" (click)="savedialogpayment()"  [disabled]="!checkmandatoryDeposit()">Submit</button>
        <button mat-raised-button color="primary" (click)="cleardepositdialog()"  class="ml-3">Clear</button>

    </div>
</div>   
   
</div>
</section>
  
