<div class="h-full w-full">
    <!------------------------------------FIRST ROW----------------------------------------------------->
    <div class="h-1/10 w-full flex justify-end">
         <span class="material-icons cursor-pointer" mat-dialog-close>close</span>
    </div>    
    <!--------------------------------------SECOND ROW------------------------------------------------------>
    <div class="h-2/10 w-full pt-1  mt-1 flex align-items-center bg-lightblue">
        <p class="font-medium font-white">Deposit Receipt</p>
    </div>
    <!------------------------------------------THIRD ROW---------------------------------------------------->
    <max-service-deposit (eventemitter)="getServiceDepositform($event)">
        
    </max-service-deposit>
    <!---------------------------------------------FOURTH ROW---------------------------------------------------------->
    <div class=" w-full h-60">
        <!-------------------------------------------mat tab will appear-------------------------------------------->
        <payment-methods (paymentform)="getpaymentForm($event)" [fromrefund]="onDepositpage"></payment-methods>
        <!--------------------------------------------remarks -------------------------------------------->
        <div class="w-3/10 h-full mt-3 p-4 bg-blue float-right border-radius-md" >
            <mat-label  class="ml-4 text-white">Remarks</mat-label>
            <div class="h-90 border-radius-lg bg-white border-none textarea-length">
                <maxhealth-question
                [question]="questions[49]"
                [form]="depositForm"
                [questions]="questions[49]"
                [index]="49"
                ></maxhealth-question>
            </div>
        </div>
    </div>

    <!-----------------------------------------------FIFTH ROW------------------------------------------------------------------>
    <patient-identity-info></patient-identity-info>

    <!--------------------------------------------------SIXTH ROW------------------------------------------------------------>
    <div class="h-1/10 mt-1 float-right">
        <button mat-raised-button color="primary" (click)="openSuccessdeposit()">Submit</button>
        <button mat-raised-button color="primary" class="ml-6">Print Receipt</button>
        <button mat-raised-button color="primary"  class="ml-6">Clear</button>
    </div>
</div>

  
