.prompt-form {
  .background-white {
    background-color: #fff;
  }
  mat-toolbar {
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #dae9f8;
    color: #004084;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.2rem;
  }
  form {
    > div {
      line-height: 3rem;
    }
    .form-control-element {
      &:not(.w-full) {
        ::ng-deep {
          maxhealth-question {
            > div {
              display: flex;
              align-items: center;
              mat-label {
                white-space: nowrap;
                margin-right: 0.75rem;
              }
              mat-form-field {
                width: 70%;
                .mat-form-field-wrapper {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .prompt-form-action {
    button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  ::ng-deep {
    mat-radio-group {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
