.prompt-form {
  .background-white {
    background-color: #fff;
  }
  ::ng-deep 
  {
    mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper
    {
      padding-bottom: 0 !important;
    }
    .mat-error{
      margin-top: 10px;
    }
  }
  
  mat-toolbar {
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #dae9f8;
    color: #004084;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.2rem;
  }
  .HappyFamilyPlanAllocationReport-box {
    min-height: 200px;
  }
  .ScrollSummaryReport-box{
  
  }
  
}
