<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">
    <ul class="list-unstyled flex items-end">
      <li class="ml-2">
        <a mat-tab-link [active]="true">Miscellaneous Billing</a>
      </li>
    </ul>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="h-full w-full">
      <form [formGroup]="miscForm">
        <!---------------------------------FIRST ROW----------------------------------------------------->
        <div class="pl-1 pt-0 ml-2 mt-2 mr-2 border-radius-lg flex w-auto bg-deposit">
            <div class="w-full">
          <div class="w-full pt-2">
            <div class="flex">
              <mat-label class="wt-nowrap">Max ID</mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[0]"
                  [form]="miscForm"
                  [questions]="questions[0]"
                  [index]="0"
                >
                </maxhealth-question>
              </div>

              <mat-label class="ml-1 wt-nowrap">SSN</mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[1]"
                  [form]="miscForm"
                  [questions]="questions[1]"
                  [index]="1"
                >
                </maxhealth-question>
              </div>

              <mat-label class="ml-1 wt-nowrap">Mobile No</mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[2]"
                  [form]="miscForm"
                  [questions]="questions[2]"
                  [index]="2"
                >
                </maxhealth-question>
              </div>

              <mat-label class="ml-1 wt-nowrap">Booking ID</mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[3]"
                  [form]="miscForm"
                  [questions]="questions[3]"
                  [index]="3"
                >
                </maxhealth-question>
              </div>
              <mat-label class="ml-1 wt-nowrap"
                >Company<span><a> IOM</a></span></mat-label
              >
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[2]"
                  [form]="miscForm"
                  [questions]="questions[2]"
                  [index]="2"
                >
                </maxhealth-question>
              </div>
              <mat-label class="ml-1 wt-nowrap">Corporate</mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[4]"
                  [form]="miscForm"
                  [questions]="questions[4]"
                  [index]="4"
                >
                </maxhealth-question>
              </div>
              <mat-label class="ml-1 wt-nowrap">Narration </mat-label>
              <div class="ml-2 wt-mid h-full bg-white">
                <maxhealth-question
                  [question]="questions[5]"
                  [form]="miscForm"
                  [questions]="questions[5]"
                  [index]="5"
                >
                </maxhealth-question>
              </div>
              <div class="ml-2 w-3/10 h-full">
                <maxhealth-question
                  [question]="questions[6]"
                  [form]="miscForm"
                  [questions]="questions[6]"
                  [index]="6"
                >
                </maxhealth-question>
              </div>

              
              
            </div>
          </div></div>
        </div>

        <!---------------------------------SECOND ROW----------------------------------------------------->

        <div class="p-1 ml-2 mt-1 mr-2 border-radius-lg flex w-auto bg-deposit">
         <div class="w-full">
          <div class="h-2/5 wt-nowrap font-bold">
            
                 <div class="float-left pt-2">
                <mat-label class="ml-2 mr-2 wt-nowrap" >Name:</mat-label>
                Mr. Anwar ali
              
                <mat-label class="ml-5 mr-2 wt-nowrap">Age: </mat-label>             
                <mat-label>  29 years</mat-label>             
             
                <mat-label class="ml-5 mr-2 wt-nowrap">Gender: </mat-label>               
                  <mat-label>Male</mat-label>               
             
                <mat-label class="ml-5 mr-2 wt-nowrap">DOB: </mat-label>               
                <mat-label>12/12/2022</mat-label>              
             
                <mat-label class="ml-5 mr-2 wt-nowrap">Nationality: </mat-label>             
                <mat-label> Indian</mat-label>
             
                <mat-label class="ml-5 mr-2 wt-nowrap">SSN: </mat-label>                       
                <mat-label> 00022202355</mat-label> 
                </div>
               
            
             <div class="flex mt-0 float-right">
                <button
                mat-raised-button
                color="primary"
                class="w-1/20"
                type="submit"
              >
              DMS
              </button>
              <button
                mat-raised-button
                color="primary"
                class="w-1/20 ml-2"
                type="button"
              >
               Visit History
              </button>
            </div>    
            </div>
            
        </div>    
        </div>      
              
       </form>  
        
        
        <!---------------------------------Third BLOCK----------------------------------------------------->
        <div class="p-1 mt-1 mr-2 ml-2 border-radius-lg bg-billdetails font-xs">
        
                <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="mb-0 h-white-banner text-center font-base font-bold">        
                    <ul class="list-unstyled flex items-end font-base font-bold w-full">
                       <li class="ml-0 mr-1 bg-white border-radius-lg font-base font-bold"  *ngFor="let link of linkList">
                         <a mat-tab-link class="cursor-pointer pb-4 font-base font-bold"  [active]="activeLink == link ? true : false" > {{link}}</a>
                       </li>
                       
                     </ul>            
                 </nav>
                 <div class="bg-white h-service border-radius-lg mt-0">
                    <div class="mt-0 mr-1 border-radius-lg flex w-auto">
                        <form [formGroup]="miscServBillForm">
                            <div class="flex w-full mt-0">
                                <div class="ml-2 w-1/10 h-full">
                                    <maxhealth-question
                                      [question]="question[0]"
                                      [form]="miscServBillForm"
                                      [questions]="question[0]"
                                      [index]="0"
                                    >
                                    </maxhealth-question>
                                 
                                  </div>
                                  <!-- <div class="ml-0 w-1/20 h-full">
                                    <maxhealth-question
                                    [question]="question[7]"
                                    [form]="miscServBillForm"
                                    [questions]="question[7]"
                                    [index]="7"
                                  >
                                  </maxhealth-question>
                                  </div> -->
                                  <div class="ml-2  w-1/15 h-full">
                                    <maxhealth-question
                                      [question]="question[1]"
                                      [form]="miscServBillForm"
                                      [questions]="question[1]"
                                      [index]="1"
                                    >
                                    </maxhealth-question>
                                  </div>

                                <!-- TARRIC PRICE BLOCK -->
                                  <div class="ml-2   w-1/20 h-full">
                                    <maxhealth-question
                                      [question]="question[2]"
                                      [form]="miscServBillForm"
                                      [questions]="question[2]"
                                      [index]="2"
                                    >
                                    </maxhealth-question>
                                  </div>

                                  <!-- QTY BLOCK -->
                                  <div class="ml-2  w-1/20 h-full">
                                    <maxhealth-question
                                      [question]="question[3]"
                                      [form]="miscServBillForm"
                                      [questions]="question[3]"
                                      [index]="3"
                                    >
                                    </maxhealth-question>
                                  </div> 
                                  <!-- REQUIRED AMOUNT BLOCK -->
                                  <div class="ml-2  w-1/20 h-full">
                                    <maxhealth-question
                                      [question]="question[4]"
                                      [form]="miscServBillForm"
                                      [questions]="question[4]"
                                      [index]="4"
                                    >
                                    </maxhealth-question>
                                  </div>

                                  <!-- PROCEDURE DOCTOR BLOCK-->
                                  <div class="ml-2 w-1/15 h-full">
                                    <maxhealth-question
                                      [question]="question[5]"
                                      [form]="miscServBillForm"
                                      [questions]="question[5]"
                                      [index]="5"
                                    >
                                    </maxhealth-question>
                                  </div>

                                  <!-- REMARK BLOCK -->
                                  <div class="ml-2 w-1/15 h-full">
                                    <maxhealth-question
                                      [question]="question[6]"
                                      [form]="miscServBillForm"
                                      [questions]="question[6]"
                                      [index]="6"
                                    >
                                    </maxhealth-question>
                                  </div>
                                  <div class="float-right">
                                    <button
                                    mat-raised-button
                                    color="primary"
                                    class="flex w-1/20 mt-3 h-2/3 float-right ml-1"
                                    type="button"
                                  >
                                  Add
                                  </button>
                                </div>
                            </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------------------------
 ------------------------------------------------------TABLE BLOCK----------------------------------------------------------------------
 --------------------------------------------------------------------------------------------------------------------------------------- -->
               
 <div class="h-table font-xs w-table ml-2 mr-2">
    <!-- NEED TO ADD THIS LATER POINT OF TIME --[data]="serviceselectedList" -->
<ng-container class="w-full">
    <maxhealth-table class="font-xs" #selectedServices
      [config]="config"
    
    ></maxhealth-table>
  </ng-container>

 
</div>
<div class="flex w-full justify-between  flex-wrap flex-column ml-2 mt-1 ">
    <div class="flex">
<div class="justify-between mb-4 w-1/7 h-full bg-blue border-radius-lg  font-xs float-left">

  <div class="ml-2 mb-4 mt-2 mr-2 w-auto h-full">
    <maxhealth-question
      [question]="question[8]"
      [form]="miscServBillForm"
      [questions]="question[8]"
      [index]="8"
    >
    </maxhealth-question>
  </div>
  <div class="ml-2 mr-2 mb-4 w-auto h-full">
    <maxhealth-question
      [question]="question[9]"
      [form]="miscServBillForm"
      [questions]="question[9]"
      [index]="9"
    >
    </maxhealth-question>
  </div>
</div>
<!-- -------------------------------------------grey billing block------------------------------------------------------------------------- -->
<div class="bg-deposit bg-paymet h-full font-xs border-radius-lg w-7/10">
<div class="flex-column w-1/4 flex justify-between h-1/5 float-left">

    <div class="ml-2 mb-2 mt-1 h-full">
        <div class="flex">
        <mat-label class="wt-nowrap font-xs mr-10">Bill Amount</mat-label>
        <maxhealth-question
          [question]="question[10]"
          [form]="miscServBillForm"
          [questions]="question[10]"
          class="w-1/45 ml-9"
          [index]="10"
        >
   
        </maxhealth-question>
    </div>
       
      </div>
      <div class="ml-2 mb-2 h-full">
        <div class="flex">
            <!------------------------------------------- AVAIL DISC CHECKBOX ---------------------------------------->
        <maxhealth-question
        [question]="question[11]"
        [form]="miscServBillForm"
        [questions]="question[11]"
    
               [index]="11"
      >
      </maxhealth-question>
            <!------------------------------------------- AVAIL DISC INPUT ---------------------------------------->

        <maxhealth-question
          [question]="question[12]"
          [form]="miscServBillForm"
          [questions]="question[12]"
          class="w-1/45 ml-4"
          [index]="12"
        >
        </maxhealth-question>
        </div>
      </div>
      <div class="ml-2 mb-2 h-full">
        <div class="flex">
            <!------------------------------------------- DISCOUNT AMOUNT CHECKBOX ---------------------------------------->

        <maxhealth-question
        [question]="question[13]"
        [form]="miscServBillForm"
        [questions]="question[13]"
        class="mr-1"
               [index]="13"
      >
      </maxhealth-question>
            <!------------------------------------------- DISCOUNT AMOUNT INPUT ---------------------------------------->

            <div class="w-1/45 flex">
                <maxhealth-question
                  [question]="question[14]"
                  [form]="miscServBillForm"
                  [questions]="question[14]"
                  class="w-7/10"
                  [index]="14"
                >
                </maxhealth-question>
              <div class=" text-center">
                <!-- <button
                    mat-raised-button
                    color="bg-deposit"
                    class="p-2"
                                 >
                  &#8230;
                  </button> -->
                  <mat-icon class="icon-more pt-2 pb-0 font-xs">more_horiz</mat-icon>
              </div>
                </div>
                </div>
              </div>
              <div class="ml-2 h-full">
        <div class="flex">
            <!------------------------------------------- DIPO AMOUNT CHECKBOX ---------------------------------------->

        <maxhealth-question
        [question]="question[15]"
        [form]="miscServBillForm"
        [questions]="question[15]"
               [index]="15"
      >
            <!------------------------------------------- DIPO AMOUNT INPUT ---------------------------------------->

      </maxhealth-question>
        <maxhealth-question
          [question]="question[16]"
          [form]="miscServBillForm"
          [questions]="question[16]"
          class="w-1/45  mb-1  ml-2"
          [index]="16"
        >
        </maxhealth-question>
        </div>
      </div>
    </div>

    <div class="flex-column w-1/5 h-1/5 justify-between float-left">

    <div class="flex flex-column">
        <div class="ml-2 mb-2 mt-1 h-full">
            <div class="flex">
            <mat-label class="wt-nowrap font-xs mr-5">Patient Disc.</mat-label>
            <maxhealth-question
              [question]="question[17]"
              [form]="miscServBillForm"
              [questions]="question[17]"
              class="w-5/9"
              [index]="17"
            >
       
            </maxhealth-question>
        </div>
           
          </div>
          <div class="ml-2 mb-2 h-full">
            <div class="flex">
                <mat-label class="wt-nowrap font-xs mr-2">Company Disc.</mat-label>

    
            <maxhealth-question
              [question]="question[18]"
              [form]="miscServBillForm"
              [questions]="question[18]"
              class="w-5/9 "
              [index]="18"
            >
            </maxhealth-question>
            </div>
          </div>
          <div class="ml-2 mb-2 h-full">
            <div class="flex">
    
                <mat-label class="wt-nowrap font-xs mr-5">Plan Amt ( - )</mat-label>

              
            <maxhealth-question
              [question]="question[19]"
              [form]="miscServBillForm"
              [questions]="question[19]"
              class="w-5/9"
              [index]="19"
            >
            </maxhealth-question>
         
         
            </div>
          </div>
          <div class="ml-2 h-full">
            <div class="flex">
                <mat-label class="wt-nowrap font-xs mr-11"> Coupon</mat-label>
              
               
    
            <maxhealth-question
              [question]="question[20]"
              [form]="miscServBillForm"
              [questions]="question[20]"
              class="w-5/9 "
              [index]="20"
            >
            </maxhealth-question>
            </div>
          </div>
        </div>
    
</div>
<div class="flex-column w-1/5 h-1/4 flex border-radius-lg justify-between float-left">

    <div class="flex flex-column">
        <div class="ml-2 mb-2 mt-1 h-full">
            <div class="flex">
            <mat-label class="wt-nowrap font-xs mr-5">Co-Payment %</mat-label>
            <maxhealth-question
              [question]="question[21]"
              [form]="miscServBillForm"
              [questions]="question[21]"
              class="w-1/45 "
              [index]="21"
            >
       
            </maxhealth-question>
        </div>
           
          </div>
          <div class="ml-2 mb-2 h-full">
            <div class="flex">
                <mat-label class="wt-nowrap font-xs mr-9">Credit Limit</mat-label>

    
            <maxhealth-question
              [question]="question[22]"
              [form]="miscServBillForm"
              [questions]="question[22]"
              class="w-1/45 "
              [index]="22"
            >
            </maxhealth-question>
            </div>
          </div>
          <div class="ml-2 mb-2 h-full">
            <div class="flex">
               
                <mat-label class="wt-nowrap font-xs mr-7">GST Tax</mat-label>

              
                <div class="w-1/45 flex">
                    <maxhealth-question
                      [question]="question[23]"
                      [form]="miscServBillForm"
                      [questions]="question[23]"
                      class="w-7/10 ml-7"
                      [index]="23"
                    >
                    </maxhealth-question>
                  <div class=" text-center">
                    <!-- <button
                        mat-raised-button
                        color="bg-deposit"
                        class="p-2"
                                     >
                      &#8230;
                      </button> -->
                      <mat-icon class="icon-more pt-2 pb-0 font-xs">more_horiz</mat-icon>
                  </div>
                    </div>
                  
         
            </div>
          </div>
         
        </div>








    
</div>
<div class="bg-deposit font-xs flex-column w-1/3 h-1/5 flex  justify-between float-left">

    <div class="flex w-full flex-column">
        <div class="mb-2 mt-1 h-full">
            <div class="flex">
            <mat-label class="wt-nowrap font-xs mr-5 mt-1">Amt. Paid by Patient</mat-label>
            <div class="flex w-1/45 ">
            <maxhealth-question
              [question]="question[24]"
              [form]="miscServBillForm"
              [questions]="question[24]"
              class="w-7/10 mt-1 mr-1"
              [index]="24"
            >
       
            </maxhealth-question>
            <button
            mat-raised-button
            color="primary"
            class="w-1/15 btn-md font-xs"
            type="submit"
          >
          Make Bill
          </button>
        </div>
        </div>
           
          </div>
          <div class=" mb-2 h-full">
            <div class="flex">
                <mat-label class="wt-nowrap font-xs mr-2 mt-1">Amt. Paid by Company</mat-label>

                <div class="flex w-1/45 ">
            <maxhealth-question
              [question]="question[25]"
              [form]="miscServBillForm"
              [questions]="question[25]"
              class="w-7/10 mt-1 mr-1 "
              [index]="25"
            >
            </maxhealth-question>
            <button
            mat-raised-button
            color="primary"
            class="w-1/15 btn-md font-xs"
            type="submit"
          >
          Print Bill
          </button>
            </div>
            </div>
          </div>
          <div class="mb-2 h-full">
            <div class="flex bg-blue">
                <mat-label class="wt-nowrap font-xs mr-2 mt-1">Bill Type</mat-label>
               
                      <div class=" flex w-1/2">
                    <!-- <maxhealth-question
                      [question]="question[26]"
                      [form]="miscServBillForm"
                      [questions]="question[26]"
                      class=" ml-7"
                      [index]="26"
                    >
                    </maxhealth-question> -->
                 
                    </div>
                  
         
            </div>
          </div>
    </div>
        </div>


    
</div>
</div>
</div>                    
                        </form>
                        </div>


                    </div>
            </div>

            <div class="flex mt-1 h-1/20 mr-3 float-right">
                <button
                mat-raised-button
                color="primary"
                class="w-1/20  h-1/10"
                type="submit"
              >
              Clear
              </button>
        </div>
        </div>
    
  </mat-tab-nav-panel>
</section>
