<section class="overflow-x-none overflow-y-none">
<h2 mat-dialog-title class="max-health-primary-color">Appointment Patient Search</h2>
<div class="h-4/5 flex w-full align-items-center p-3 bg-secondary border-radius-md">
    <form [formGroup]="appointmentSearchForm" class="flex w-full align-items-center">
        <div class="flex w-1/2 align-items-center">
            <div class="w-1/5">
                <mat-label class="max-health-primary-color">Name</mat-label>
            </div>
            <div class="w-1/15 ml-2 bg-white">
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="Name" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="w-4/5 wt-nowrap ml-2">
                <mat-label class="max-health-primary-color">Booking No</mat-label>
            </div>
            <div class="w-1/15 ml-2 bg-white">
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="Booking Number" formControlName="booknumber"/>
                </mat-form-field>
            </div>
            <div class="w-4/5 wt-nowrap ml-2">
                <mat-label class="max-health-primary-color">Phone</mat-label>
            </div>
            <div class="w-1/15 ml-2 bg-white">
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="Phone" formControlName="phone"/>
                </mat-form-field>
            </div>
            <div class="flex align-items-center w-2/3 ml-2 p-2 bg-grey border-radius-md">
                <div>
                    <mat-checkbox [checked]="isChecked" (change)="dateRangeSelected($event)"></mat-checkbox>
                </div>
                <div class="w-auto wt-nowrap ml-2">
                    <mat-label class="max-health-primary-color">From Date</mat-label>
                </div>
                <div class="w-3/10 ml-2 bg-white">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput placeholder="Startdate" formControlName="startdate" type="date"/>
                    </mat-form-field>
                </div>
                <div class="w-auto wt-nowrap ml-2">
                    <mat-label class="max-health-primary-color">To Date</mat-label>
                </div>
                <div class="w-3/10 ml-2 bg-white">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput placeholder="Enddate" formControlName="enddate" type="date"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex float-right ml-12">
                <div class="mr-4">
                    <button mat-raised-button color="primary" class="col-m3" type="button" (click)="clear()">Clear</button>
                  </div>
                  <div class="mr-4">
                    <button mat-raised-button color="primary" class="col-m3" type="button" (click)="searchAppointment()">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="h-full mt-3 h-62">
    <ng-container *ngIf="defaultUI">
      <empty-placeholder
        [icon]="findpatientimage"
        [message]="findpatientmessage"
      >
      </empty-placeholder>
    </ng-container>
    <ng-container *ngIf="searchAppPatient">
      <maxhealth-table
        [config]="config"
        [data]="searchResults"
      ></maxhealth-table>
    </ng-container>
  </div>
  <div>
      
  </div>
</section>