<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">
    <ul class="list-unstyled flex items-end w-full">
      <li class="ml-3" *ngFor="let link of link1">
        <a
          mat-tab-link
          class="cursor-pointer"
          [active]="activeLink1 == link ? true : false"
          (click)="showmain(link)"
        >
          {{ link.value }}</a
        >
      </li>
      <li class="maxhealth-spacer"></li>
      <li class="ml-3" *ngFor="let link of link2">
        <!-- <a
          mat-tab-link
          class="cursor-pointer"
          [active]="activeLink2 == link ? true : false"
          (click)="showgrid(link)"
        >
          {{ link }}</a
        >
      </li> -->

      <button mat-raised-button color="primary"  [ngClass]="{'activebutton': activeLink2 == link}" (click)="showgrid(link)"  class="subbtn-class"> {{link}}</button>
    </li>
    </ul>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <!-- <mat-progress-spinner
      mode="indeterminate"
      value="25"
      diameter="60"
      *ngIf="defaultUI && showapprovalspinner"
      class="spinner"
    >
    </mat-progress-spinner> -->
    <div
    *ngIf="defaultUI && showapprovalspinner"
    class="flex align-items-center justify-center h-full w-full fixed left-0-% top-0-% z-50 api-loader"
    >
      <mat-spinner strokeWidth="3"></mat-spinner>
    </div>
    <div class="w-full h-full" *ngIf="defaultUI && !showapprovalspinner">
      <div class="flex px-3 pt-3 pb-1 w-full h-84 display-block">
        <ng-container *ngIf="showapprovalpending">
          <maxhealth-table
            class="w-full h-full"
            [config]="approvalconfig"
            [data]="opApprovalList"
            (columnClick)="approvalPendingColumnClick($event)"
            #approvaltable
          ></maxhealth-table>
        </ng-container>
        <ng-container *ngIf="showapprovalaccepting">
          <maxhealth-table
            class="w-full h-full op-approval-table-wrapper"
            [config]="approveconfig"
            [data]="opApprovalacceptList"
            (columnClick)="approvedRequestColumnClick($event)"
          ></maxhealth-table>
        </ng-container>
        <ng-container *ngIf="showapprovalreject">
          <maxhealth-table
            class="w-full h-full op-approval-table-wrapper"
            [config]="rejectconfig"
            [data]="opApprovalrejectList"
          ></maxhealth-table>
        </ng-container>
      </div>
      <div class="float-right mb-3 mr-3 mt-1">      
        <button
        mat-raised-button
        color="primary"
        class="w-1/4 right-15"
        type="submit"
        *ngIf="opApprovalList && enableapprovebtn"
        (click)="approvalApproveItem()"  
        accessControl
        masterModule = "2"
        moduleId="7"
        featureId="595"  
        actionId="1552"     
      >
        Approve
      </button>     
     
        <button
        mat-raised-button
        color="primary"
        class="w-1/4"
        type="submit"
        *ngIf="opApprovalList && enableapprovebtn"
        (click)="approvalRejectItem()"     
        accessControl
        masterModule = "2"
        moduleId="7"
        featureId="595"
        actionId="1552"     
      >
        Reject
      </button>
      
      </div>
    </div>

    <div class="w-full h-full" *ngIf="!defaultUI">
      <empty-placeholder
        [icon]="opapprovalimage"
        [message]="opappprovalmessage"
      >
      </empty-placeholder>
    </div>
  </mat-tab-nav-panel>
</section>
