.maincrd{
    background:#fff; 
    height: 80vh; 
    width: 94vw; 
    border-radius: 10px;
}
.banner{
    background:#004084;
    color: #fff; 
    border-radius: 10px 10px 0 0 ;
    a{
        color: #fff;
        opacity: 1;
    }
}
.maingrid{
    background-color: #fff;
    height: 70vh;
}
.table{
    height: 62vh;
    width: 95vw;
    overflow-y: scroll;
}
.btn{
    height: 30px;
    width: 100px;
    border: none;
    background-color: #004084;
    color: #fff;
}