.bg-image{
    background-image:url("../../../../src/assets/backgroundimage.png");
    background-position: center;
    background-size: 100% 100%;
    height:100%;
}

.card-class{
    background-color: white;
    border: 1px solid gray;
}

.bg-white{
    background-color:white;
}
.bg-row{
    background-color: #F6F6F6;
}
.asterisk-color{
    color: red;
}
.input-padding{
    ::ng-deep .mat-form-field-wrapper{

        padding-bottom: 0 !important;
    
    }
}

.btn{
    padding: 1px;
}


.ml-1-34{
    margin-left:1.34%
}
.ml-0-27{
    margin-left:0.27%
}
.w-12{
    width:12%;
}
.checkbox-bottom{
    ::ng-deep mat-checkbox label span{
        margin-bottom:2px;
    }
}
.mt-6p{
    margin-top:7%;
}
.mt-error{
    ::ng-deep .mat-error{
        margin-top:8%;
    }
    
}
.default-label-none{
    ::ng-deep mat-label{
        display:none;
    }
}

.font-wrapper{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.text-scrollbar{
    ::ng-deep textarea{
        height:25px !important;
      
        overflow-y: scroll !important;
    }  
}


.text-position{
   
    position: relative;
    bottom: 4px;
    left: 10px;

  
}
.text-position2{
   
    position: relative;
    bottom: 4px;
    left: 2px;

  
}
.button-height{

        height:1.875rem;
        min-width: 95px !important;
 
}
.button-height2{

    height:1.875rem;
    min-width: initial!important;

}

.lens-icon{

    position: absolute;
    left: 2px;
    top: 2px;
    height: 92%;
    width: 30%;

    

}

.p-0-6{
    padding:0.6rem;
}
.api-loader {
        background: rgba(0, 0, 0, 0.15);
      }
