<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">Expired Patient Check</a> 
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="h-full bg-image" >

            <!-------------------------------------FIRST ROW------------------------------------------------------>
        <div class="flex h-2/10 m-2 bg-row p-1"  >
            <div class="w-3/4 h-full mt-2">
                <form [formGroup]="expiredpatientForm">
                    <div class="flex h-full ">
                        <div class="ml-2  max-health-primary-color">
                            <mat-label >Max ID</mat-label>
                        </div>  
                        <div class="ml-3 w-1/10 h-full bg-white">
                            <maxhealth-question
                            [question]="questions[0]"
                            [form]="expiredpatientForm"
                            [questions]="questions[0]"
                            [index]="0"
                            (onChange)="onMaxidEnter()">
                            </maxhealth-question>
                        </div>
                        <div class="ml-3 max-health-primary-color">
                            <mat-label>Mobile No.</mat-label>
                        </div>
                        <div class="ml-3 w-1/15 bg-white">
                            <maxhealth-question
                            [question]="questions[1]"
                            [form]="expiredpatientForm"
                            [questions]="questions[1]"
                            [index]="1">
                            </maxhealth-question>
                        </div>
                
                    </div>
                </form>
            </div>
            <div class="w-1/4 h-full ml-6 flex float-right">
               <!-- <div >
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                        <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                        <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="39" rx="4" transform="translate(-12883 23266)" fill="#fff"/>
                        <g id="Group_1383" data-name="Group 1383" transform="translate(-14630.995 22990.941)">
                            <path id="Path_296" data-name="Path 296" d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z" transform="translate(1768.724 298.227) rotate(-39)" fill="#002b58"/>
                            <path id="Path_297" data-name="Path 297" d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z" transform="translate(1754.018 279.288)" fill="#002b58"/>
                        </g>
                        </g>
                    </svg>
                </div> -->
                <div>          
                    <button mat-raised-button  color="primary"  class="float-right btn">
                        <div >
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                                <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                                <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="39" rx="4" transform="translate(-12883 23266)" fill="#fff"/>
                                <g id="Group_1383" data-name="Group 1383" transform="translate(-14630.995 22990.941)">
                                    <path id="Path_296" data-name="Path 296" d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z" transform="translate(1768.724 298.227) rotate(-39)" fill="#002b58"/>
                                    <path id="Path_297" data-name="Path 297" d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z" transform="translate(1754.018 279.288)" fill="#002b58"/>
                                </g>
                                </g>
                            </svg>
                        </div>Search</button>
                </div>
            </div>
        </div>
        <!----------------------------------------SECOND ROW--------------------------------------------------------------->
        <div class=" flex h-2/10 m-2 p-3 bg-row">
        <div class="w-1/15 max-health-primary-color">
            <mat-label>Name:</mat-label>
            <span></span>
        </div>
        <div class="w-1/10 max-health-primary-color">
            <mat-label>Age:</mat-label>
            <span></span>
        </div>
        <div class="w-1/15 max-health-primary-color">
            <mat-label>Gender:</mat-label>
            <span></span>
        </div>
        <div class="w-1/15 max-health-primary-color">
            <mat-label>DOB:</mat-label>
            <span></span>
        </div>
        <div class="w-1/15 max-health-primary-color">
            <mat-label>Nationality:</mat-label>
            <span></span>
        </div>
        <div class="w-1/15 max-health-primary-color">
            <mat-label>SSN:</mat-label>
            <span></span>
        </div>
        </div>
        <!-------------------------------------------THIRD ROW------------------------------------------------------------------>
        <div  class="h-1/2 w-full flex justify-content-center align-items-center  ">
            <!-- <div class="w-2/10">
        
            </div> -->
            <div class=" h-full w-1/45 mt-12 border-radius-xlg   card-class" >
                <div class="flex ml-8  pt-8 h-1/3 w-full">
                    <div class=" justify-content-center">
                        <maxhealth-question
                        [question]="questions[2]"
                        [form]="expiredpatientForm"
                        [questions]="questions[2]"
                        [index]="2">
                        </maxhealth-question>  
                    </div>
                    <div class=" flex ml-3  w-2/10">
                        <mat-label class="max-health-primary-color">Expired patient</mat-label>
                    </div>
                    <div  class="flex ml-3 w-3/10">
                        <mat-label class="max-health-primary-color">Date of Expiry Intimation</mat-label>
                    </div>
                    <div class=" w-3/10">
                        <maxhealth-question
                        [question]="questions[3]"
                        [form]="expiredpatientForm"
                        [questions]="questions[3]"
                        [index]="3"
                        >
                        </maxhealth-question>
                    </div>
                </div>
                <div class="flex w-full ml-8 h-3/5">
                    <div>
                        <mat-label class="max-health-primary-color">Remarks</mat-label>
                        <span class="asterisk-color">*</span>
                    </div>
                    <div class="w-1/2 ml-8">
                        <maxhealth-question
                        [question]="questions[4]"
                        [form]="expiredpatientForm"
                        [questions]="questions[4]"
                        [index]="4"
                        ></maxhealth-question>
                    </div>
                </div>

            </div>
            <!-- <div class="w-2/10">

            </div> -->
        </div>
        <!-----------------------------------------FOURTH ROW------------------------------------------------------------------------->
        <div class="float-right flex mr-3 mt-12 h-1/10">
            <div>
                 <button mat-raised-button color="primary" (click)="saveExpiredpatient()"
                 [disabled]="disableButton">Save</button>
            </div>
            <div>
                <button mat-raised-button color="primary" class="ml-6" [disabled]="disableButton" (click)="deleteExpiredpatient()">Delete</button>
           </div>
           <div>
            <button mat-raised-button color="primary"class="ml-6" [disabled]="disableButton">Clear</button>
            </div>
        </div>
        </div> 
    </mat-tab-nav-panel>   
   
