.bg-image{
    background-image:url("../../../../src/assets/backgroundimage.png");
    background-position: center;
    background-size: 100% 100%;
    height:100%;
}

.card-class{
    background-color: white;
    border: 1px solid gray;
}

.bg-white{
    background-color:white;
}
.bg-row{
    background-color: #F6F6F6;
}
.asterisk-color{
    color: red;
}
::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}
.btn{
    padding: 1px;
}
::ng-deep .btn .mat-button-wrapper{
    display: flex;
    gap: 15px;
    div{
        display: flex;
    }
}

.lens-icon{

    position: absolute;

    left: 2px;

    top: 2px;

    height: 90%;

    width: 25%;

}
.ml-1-34{
    margin-left:1.34%
}
.ml-0-27{
    margin-left:0.27%
}
.w-12{
    width:12%;
}
.checkbox-bottom{
    ::ng-deep mat-checkbox label span{
        margin-bottom:2px;
    }
}
.mt-6p{
    margin-top:6%;
}