<div class="relative max-health-primary-color modify-dialog-wrapper">
  <label class="max-health-primary-color font-base font-semi-bold"
    >Please confirm modified details</label
  >
  <button
    mat-icon-button
    aria-label="close dialog"
    mat-dialog-close
    class="absolute max-dialog-close-icon"
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>

  <form [formGroup]="OPUpdateForm" class="mt-4 mb-2">
    <div class="flex justify-between flex-wrap">
      <div class="w-1/45 mb-1 font-semi-bold">Existing Data</div>
      <div class="w-1/45 mb-1 font-semi-bold">Modified Data</div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[0]"
          [form]="OPUpdateForm"
          [questions]="questions[0]"
          [index]="0"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[1]"
          [form]="OPUpdateForm"
          [questions]="questions[1]"
          [index]="1"
          [ngClass]="{
            dataModified:
              data.patientDetails.firstname != data.modifiedDetails.firstname
          }"
        ></maxhealth-question>
      </div>

      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[2]"
          [form]="OPUpdateForm"
          [questions]="questions[2]"
          [index]="2"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[3]"
          [form]="OPUpdateForm"
          [questions]="questions[3]"
          [index]="3"
          [ngClass]="{
            dataModified:
              data.patientDetails.middleName != data.modifiedDetails.middleName
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[4]"
          [form]="OPUpdateForm"
          [questions]="questions[4]"
          [index]="4"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[5]"
          [form]="OPUpdateForm"
          [questions]="questions[5]"
          [index]="5"
          [ngClass]="{
            dataModified:
              data.patientDetails.lastName != data.modifiedDetails.lastName
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[6]"
          [form]="OPUpdateForm"
          [questions]="questions[6]"
          [index]="6"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[7]"
          [form]="OPUpdateForm"
          [questions]="questions[7]"
          [index]="7"
          [ngClass]="{
            dataModified:
              data.patientDetails.sexName != data.modifiedDetails.title
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[8]"
          [form]="OPUpdateForm"
          [questions]="questions[8]"
          [index]="8"
        ></maxhealth-question>       
      </div>      
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[9]"
          [form]="OPUpdateForm"
          [questions]="questions[9]"
          [index]="9"
          [ngClass]="{
            dataModified:
            datepipe.transform(data.patientDetails.dateOfBirth, 'dd/mm/yyyy') != 
            datepipe.transform(data.modifiedDetails.dateOfBirth, 'dd/mm/yyyy') ||
              data.patientDetails.age != data.modifiedDetails.age || 
              data.patientDetails.ageTypeName != data.modifiedDetails.ageTypeName
          }"
        ></maxhealth-question>        
      </div>      
     
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[10]"
          [form]="OPUpdateForm"
          [questions]="questions[10]"
          [index]="10"
        ></maxhealth-question>
      </div>      
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[11]"
          [form]="OPUpdateForm"
          [questions]="questions[11]"
          [index]="11"
          [ngClass]="{
            dataModified:
              data.patientDetails.pemail != data.modifiedDetails.pemail
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[12]"
          [form]="OPUpdateForm"
          [questions]="questions[12]"
          [index]="12"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[13]"
          [form]="OPUpdateForm"
          [questions]="questions[13]"
          [index]="13"
          [ngClass]="{
            dataModified:
              data.patientDetails.pphone != data.modifiedDetails.pphone
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[14]"
          [form]="OPUpdateForm"
          [questions]="questions[14]"
          [index]="14"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[15]"
          [form]="OPUpdateForm"
          [questions]="questions[15]"
          [index]="15"
          [ngClass]="{
            dataModified:
              data.patientDetails.nationalityName !=
              data.modifiedDetails.nationality
          }"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[16]"
          [form]="OPUpdateForm"
          [questions]="questions[16]"
          [index]="16"
        ></maxhealth-question>
      </div>
      <div class="w-1/45">
        <maxhealth-question
          [question]="questions[17]"
          [form]="OPUpdateForm"
          [questions]="questions[17]"
          [index]="17"
          [ngClass]="{
            dataModified:
              data.patientDetails.foreigner != data.modifiedDetails.foreigner
          }"
        ></maxhealth-question>
      </div>
    </div>

    <div class="highlight-Red">
      *Please note that highlighted text are the modified data.
    </div>
    <div class="flex w-full flex-wrap flex-column right-2 pt-3">
      <div class="flex">
        <div *ngIf="data.submitButton && !data.submitButtononApproved">
          <button
            mat-raised-button
            color="primary"
            class="w-1/45 text-center"
            type="button"
            (click)="Accept()"
          >
            Approve
          </button>
        </div>
        <div *ngIf="data.submitButton && !data.submitButtononApproved" class="ml-5">
          <button
            mat-raised-button
            color="primary"
            class="w-1/45 text-center"
            type="button"
            (click)="reject()"
          >
            Reject
          </button>
        </div>
      </div>
      <div *ngIf="!data.submitButton">
        <button
          mat-raised-button
          color="primary"
          class="w-1/45 text-center"
          type="button"
          (click)="submit()"
        >
          Submit For Approval
        </button>
      </div>
    </div>
  </form>
</div>
