.highlight-Red
{
    color: red
    
}
.dataModified
{
    color: red;
    border-color: red;
    
}

.modify-dialog-wrapper{
    ::ng-deep{
        .mat-form-field-wrapper{
            padding-bottom: 0.65em;
        }
    }
}