.bg-lightgray{
    background :#F6F6F6; 
     
}
.input-padding{
    padding-bottom:0px !important;
}
.text-position{
    position:relative;
    bottom:5px;
  
}
.button-height{
 //   ::ng-deep button{
        height:1.875rem;
  //  }
}
.lens-icon{

    position: absolute;

    left: 0px;

    top: 2px;

    height: 90%;

    width: 25%;

}
.h-70{
    height:73%;
}