<div class="header-wrapper">
  <div class="flex justify-between items-center pl-4 py-0">
    <div class="flex w-2/3 flex-column ">
      <mat-toolbar class="example-toolbar">
        <a class="logo">
          <img src="assets/brandLogo.svg" (click)="isExpanded = !isExpanded;showSubmenu = false;" class="menu_button" /></a>
        <div class="ml-3" *ngIf="isMenuVisible" >
          <maxhealth-sub-header
          [submodules]="activeModule?.childrens"
          [module]="activeModule"></maxhealth-sub-header>
        </div>
      </mat-toolbar>
    </div>
    <div class="flex w-1/3 flex-column right-section justify-between mr-3" >
      <div class="flex items-center user-info">
        <span class="mr-2 font-sm max-health-primary-color">{{ location }}</span>
        <span class="mr-2 font-sm max-health-primary-color border-cls">&nbsp;</span>
        <span class="mr-2 font-sm max-health-primary-color">{{ station }}</span>
        <span>
            <a [matMenuTriggerFor]="settings" class="p-0 mr-2 logout-button">
            <img width="23" src="assets/setting.svg" class="menu_button" /></a>
            <a (click)="logout()" class=" p-0 logout-button">
              <img width="23" src="assets/account-img.svg"  class="menu_button" /></a>
          <mat-menu #settings="matMenu">
            <button mat-menu-item (click)="redirectToResetPassword()">
              <span class="cursor-pointer setting-menu max-health-primary-color">Change Password</span>
            </button>
            <button mat-menu-item (click)="openChangeLocationDialog()">
              <span class="cursor-pointer setting-menu max-health-primary-color">Change Station/Location</span>
            </button>
            <button mat-menu-item (click)="openIMEIDialog()">
              <span class="cursor-pointer setting-menu max-health-primary-color">Select POS IMEI</span>
            </button>
            <button mat-menu-item (click)="openPayTmDialog()">
              <span class="cursor-pointer setting-menu max-health-primary-color">Select PayTm Machine</span>
            </button>
          </mat-menu>
        </span>
      </div>
    </div>
  </div>

</div>
<mat-sidenav-container class="example-container" *ngIf="isExpanded" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <div class="sidemenu_item">
      <div class="menu_close" (click)="isExpanded = !isExpanded">
        <mat-icon>keyboard_backspace</mat-icon>
      </div>
      <div class="menu_logo">
        <img src="assets/brandLogo.svg" class="" />
      </div>
    </div>
    <div *ngFor="let module of modules" class="flex-row">
      <mat-list-item (click)="activeModule = module;showSubMenu($event)" class="parent">
        <li class="menu-item float-left w-1/2">{{module.title}}</li>
      </mat-list-item>
    </div>
    <div class="submenuName" [ngClass]="{'rotated' : submenuName}" *ngIf="activeModule.childrens?.length > 0">
      <mat-icon class="menu-button menu_back_button" [ngClass]="{'rotated' : showSubmenu}" (click)="hideSubMenu($event)"
        *ngIf="isExpanded || isShowing">keyboard_backspace</mat-icon>
      {{submenuName}}
    </div>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngFor="let childmodule of activeModule.childrens">
      <mat-list-item>
        <li (click)="subChildShow($event,childmodule)" class="menu-item" disabled="!hasChildren">
          <div class="flex ">
            <div class="flex flex-column justify-start w-9/10">
              <span>{{ childmodule.title }}</span>
            </div>
            <div class="flex flex-column justify-end" *ngIf="childmodule.childrens?.length>0">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </li>
      </mat-list-item>
    </div>
  </mat-sidenav>
</mat-sidenav-container>