.iniatedepositwrapper{
.bg-initiatedeposit {
    background-color: #F6F6F6;
    color: #004084;
}

.bg-white {
    background-color: white;
    color: rgba(0, 0, 0, 0.87) !important;
    ::ng-deep .mat-error{
        margin-top: 9% !important;
    }
}
.phonenumber{
    ::ng-deep .mat-error{
        margin-top: 7% !important;
    }
}
.api-loader {
    background: rgba(0, 0, 0, 0.15);
  }
.isDisabled {
    pointer-events: none;
    opacity: 0.7;
  }
::ng-deep .mat-form-field-wrapper {

    padding-bottom: 0 !important;

}
.bg-black {
    color: rgba(0, 0, 0, 0.87);
}
.wt-nowrap {
    white-space: nowrap;
}

.serachcss {
    position: relative !important;
}

.iconcss {
    ::ng-deep {
        position: absolute !important;
        padding-top: 1% !important;
        padding-left: 1% !important;
        border-radius: 4px !important;
        left: 1px !important;
    }

}

.initiatedeposit-matnav {
    ::ng-deep .mat-tab-link {
        min-width: 0px !important;
    }
}

.initiatelens-icon {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 90%;
    width: 25%;
}

.maxidwidth{
    width: 12.5% !important;
}
.wserach{
    width: 8% !important;
}
.namewidth{
    width: 22% !important;
}
.initiatedepositbutton{
    .mat-raised-button{
        min-width: initial !important;
        height: 1.875rem !important;
        line-height: 1.875rem  !important;
    }
}

.initiate-deposit{
::ng-deep mat-label{
    display:none;
}    
} 
.w-52{
    width: 52% !important;
}
.w-86{
    width: 86% !important;
}
.initiatelabel{
    color: red;
}
}