.bg-initiatedeposit{
    background-color: #F6F6F6;
    color:#004084;
}
.bg-white{
    background-color:white;
}

::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}
.wt-nowrap{
    white-space: nowrap;
}
