<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a mat-tab-link [active]="true">Initiate Deposit</a>
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="h-full w-full">
            <form [formGroup]="initiatedepositForm">
                <!---------------------------------FIRST ROW----------------------------------------------------->
                <div class="p-1 ml-2 mt-2 mr-2 flex w-auto border-radius-lg bg-initiatedeposit">
                    <div class="w-full pt-2 ml-3">

                        <div class="flex">
                            <mat-label>Max ID</mat-label>
                            <div class="ml-3 w-1/10 h-full bg-white">
                                <maxhealth-question [question]="questions[0]" [form]="initiatedepositForm"
                                    [questions]="questions[0]" [index]="0">
                                </maxhealth-question>
                            </div>

                            <mat-label class="ml-3">Mobile No.</mat-label>
                            <div class="ml-3 w-1/7 h-full bg-white">
                                <maxhealth-question [question]="questions[1]" [form]="initiatedepositForm"
                                    [questions]="questions[1]" [index]="1">
                                </maxhealth-question>
                            </div>

                        </div>

                    </div>
                    <div class="float-right w-1/10 mr-8 mt-1 flex">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                                <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                                    <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="39" rx="4"
                                        transform="translate(-12883 23266)" fill="#fff" />
                                    <g id="Group_1383" data-name="Group 1383"
                                        transform="translate(-14630.995 22990.941)">
                                        <path id="Path_296" data-name="Path 296"
                                            d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z"
                                            transform="translate(1768.724 298.227) rotate(-39)" fill="#002b58" />
                                        <path id="Path_297" data-name="Path 297"
                                            d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z"
                                            transform="translate(1754.018 279.288)" fill="#002b58" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="ml-0">
                            <button mat-raised-button color="primary">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
                <!------------------------------------------SECOND ROW----------------------------------------->
                <div class="flex p-2 mt-3 ml-2 max-health-primary-color">
                    <div class="flex w-full">
                        <div class="w-1/20">
                            <mat-label>Select Patient</mat-label>
                        </div>

                        <div class="w-1/10 ml-2 h-full bg-white">
                            <maxhealth-question [question]="questions[2]" [form]="initiatedepositForm"
                                [questions]="questions[2]" [index]="2">
                            </maxhealth-question>
                        </div>

                        <div class="w-1/7 ml-2">
                            <mat-label>Max ID:</mat-label>
                            <span></span>
                        </div>
                        <div class="w-1/6 ml-2">
                            <mat-label>Patient Name:</mat-label>
                            <span></span>
                        </div>
                        <div class="w-1/20 ml-3">
                            <mat-label>Email ID</mat-label>
                        </div>

                        <div class="ml-3 w-1/6 h-full bg-white">
                            <maxhealth-question [question]="questions[3]" [form]="initiatedepositForm"
                                [questions]="questions[3]" [index]="3">
                            </maxhealth-question>
                        </div>
                        <div class="w-1/20 ml-8">
                            <mat-label>Mobile Number</mat-label>
                        </div>

                        <div class="ml-10 float-right-full bg-white">
                            <maxhealth-question [question]="questions[4]" [form]="initiatedepositForm"
                                [questions]="questions[4]" [index]="4">
                            </maxhealth-question>
                        </div>

                    </div>
                </div>
                <!-----------------------------------------THIRD ROW------------------------------------------------------------->
                <div class="flex p-2 mt-3 ml-2 max-health-primary-color">
                    <div class="flex w-full">
                        <div class="w-1/20">
                            <mat-label>Deposit Type</mat-label>
                        </div>

                        <div class="w-1/10 ml-2 h-full bg-white">
                            <maxhealth-question [question]="questions[5]" [form]="initiatedepositForm"
                                [questions]="questions[5]" [index]="5">
                            </maxhealth-question>
                        </div>
                        <div class="w-1/20 ml-3">
                            <mat-label>Deposit Amount</mat-label>
                        </div>

                        <div class="w-1/6 ml-2 h-full bg-white">
                            <maxhealth-question [question]="questions[6]" [form]="initiatedepositForm"
                                [questions]="questions[6]" [index]="6">
                            </maxhealth-question>
                        </div>
                        <div class="mx-10">&nbsp;</div>

                        <div class="w-1/20 ml-4">
                            <mat-label>Remarks</mat-label>
                        </div>

                        <div class="w-1/45 ml-2 h-full bg-white">
                            <maxhealth-question [question]="questions[7]" [form]="initiatedepositForm"
                                [questions]="questions[7]" [index]="7">
                            </maxhealth-question>
                        </div>
                    </div>
                </div>

               <!------------------------------------------FOURTH ROW--------------------------------------------------------------------->
               <div class="mt-10">&nbsp;</div>
               <div class="mt-10">&nbsp;</div>

               <div class="float-right mt-3">
        <button mat-raised-button color="primary" class="mr-8">
            Save
        </button>
        <button mat-raised-button color="primary" class="mr-3">
            Clear
        </button>
    </div>

            </form>

        </div>
    </mat-tab-nav-panel>
</section>