.bg-initiatedeposit{
    background-color: #F6F6F6;
    color:#004084;
}
.bg-white{
    background-color:white;
}

::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}
.wt-nowrap{
    white-space: nowrap;
}
.serachcss{
    ::ng-deep .mat-raised-button{
        min-width: 100px !important;
    }
}

.initiatedeposit-matnav{
    ::ng-deep .mat-tab-link{
        min-width: 0px !important;
    }
}