<section>
    <div class="flex p-2 h-full bg-grey">
        <div class="flex w-3/5 h-full bg-lightgrey">
            <div class="mt-4 ml-2">
                <p class="max-health-primary-color wt-nowrap">Mobile No. </p>
            </div>
            <div class="w-3/10 mt-3 border-radius-lg h-full ml-2 bg-white clr-primary font-bold">
                <maxhealth-question
                  [question]="questions[0]"
                  [form]="patientidentityform"
                  [questions]="questions[0]"
                  [index]="0"
                ></maxhealth-question>
            </div>
            <div class="mt-4 ml-2">
                <p class="max-health-primary-color wt-nowrap">Email ID. </p>
            </div>
            <div class="w-2/5 mt-3 border-radius-lg h-full ml-2 bg-white clr-primary font-bold">
                <maxhealth-question
                  [question]="questions[1]"
                  [form]="patientidentityform"
                  [questions]="questions[1]"
                  [index]="1"
                ></maxhealth-question>
            </div>
        </div>
        <div class="flex h-full w-2/5 ml-2 pb-3 pr-1 align-items-center bg-lightgrey patientidentityradiobutton" >
            <div class="mt-1 clr-primary">
                <maxhealth-question
                  [question]="questions[3]"
                  [form]="patientidentityform"
                  [questions]="questions[3]"
                  [index]="2"
                ></maxhealth-question>
            </div>
            <div class="w-3/8 h-full border-radius-lg mt-3 ml-1 bg-white font-bold">
                <maxhealth-question
                  [question]="questions[2]"
                  [form]="patientidentityform"
                  [questions]="questions[2]"
                  [index]="3"
                ></maxhealth-question>
            </div>
        </div>
    </div>

</section>
