<div
  class="flex align-items-center justify-center flex-column max-health-primary-color"
>
  <img src="assets/warning-yellow.svg" width="100" class="mb-8" />
  <p class="mb-3 font-bold">
   {{data.message}}
  </p>
  <div class="flex mt-5">
    <button
      mat-raised-button
      color="primary"
      class="font-sm min-width-initial mr-7"
      type="button"
     (click)="yes()"
    >
      Yes
    </button>
    <button
      mat-raised-button
      color="primary"
      class="font-sm min-width-initial"
      type="button"
      (click)="no()"

      
    >
      No
    </button>
  </div>
</div>
