.deletepopupclass{
    margin-left:40px;
    color:#004084;
    font-weight:bold;
}
.warningiconclass{
    color: white;
    background-color: red;
    border-radius: 16px;
    padding: 4px;
}
.closeiconclass{
    margin-left:34vh;
}