<div class="w-full h-full">
    <div class=" w-full h-1/10">
        <span class="material-icons float-right cursor-pointer max-dialog-close-icon" mat-dialog-close>close</span>
    </div>
    <div class="w-full h-2/5 flex align-items-center justify-content-center warningicon">
        <mat-icon svgIcon="warning"></mat-icon>
    </div>
    <div class="w-full h-1/10 text-center">
        <p class="max-health-primary-color font-medium">Do you want to delete?</p> 
    </div>
    <div class="flex w-full h-1/10 justify-content-center">
        <button mat-raised-button (click)="deletesuccess()" class="min-width max-health-primary-color " mat-dialog-close >OK</button>
        <button mat-raised-button color="primary" mat-dialog-close class="ml-6 min-width">Cancel</button>
    </div>
</div>
