
<section class="payment-dialog relative">
  <!-- Cross Icon --> 
  <div class="height-2">
    <button
    mat-icon-button
    aria-label="close dialog"
    mat-dialog-close
    class="absolute max-dialog-close-icon"
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
  </div>
  <!-- Blue Banner -->
  <div
    class="w-full mt-1 flex align-items-center border-radius-md secondary refundheight"
  >
    <mat-label class="font-lg col-white ml-2">Payment Receipt</mat-label>
  </div>

  <!-- Payment Methods -->
  <div class="w-full height">
    <!-- payment Methods left  -->
    <billing-payment-methods [config]="config"></billing-payment-methods>
    <!-- GAV-1010 do not remove this commented code  -->
    <!-- <div class="flex absolute mt-2 left-13">
      <div>
        <maxhealth-question
          [question]="questions[0]"
          [form]="dueform"
          [questions]="questions[0]"
          [index]="0"
        >
        </maxhealth-question>
      </div>
      <div class="mg-top-1 ml-2">
        <maxhealth-question
          [question]="questions[1]"
          [form]="dueform"
          [questions]="questions[1]"
          [index]="1"
        >
        </maxhealth-question>
      </div>
    </div> -->
    <!-- payment Methods right -->
    <div class="width h-full mt-2 float-right">
      <div class="back-primary col-white p-3 border-radius-md">
        <mat-label class="font-base">Bill Summary</mat-label>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Total Bill Amount: </mat-label>
          <span>{{
            data.totalBillAmount | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Total Deposit: </mat-label>
          <span>{{
            data.totalDeposit | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Total Refund: </mat-label>
          <span>{{
            data.totalRefund | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Total Discount: </mat-label>
          <span>{{
            data.totalDiscount | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Paid By Company: </mat-label>
          <span>{{
            data.ceditLimit | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <mat-label class="font-base mt-2 flex">On Settlement</mat-label>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Amount Refunded: </mat-label>
          <span>{{
            data.settlementAmountRefund
              | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between">
          <mat-label>Amount Received: </mat-label>
          <span>{{
            data.settlementAmountReceived
              | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
        <div class="mt-2 w-full flex justify-between font-bold">
          <mat-label class="">Patient Payable Amount: </mat-label>
          <span>{{
            data.toPaidAmount | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
      </div>
      <div
        class="payment-breakup secondary col-white p-3 border-radius-md mt-2"
      >
      <!-- *ngIf="breakupTotal() > 0" -->
        <mat-label class="font-base">Payment Breakup</mat-label>
        <ng-container *ngIf="!checkForCash()">
          <ng-container *ngFor="let tab of paymentmethod?.tabs">
            <div
              class="mt-2 w-full flex justify-between"
              *ngIf="paymentmethod.paymentForm[tab.key].value.price > 0"
            >
            <!-- *ngIf="paymentmethod.paymentForm[tab.key].value.price > 0" -->
              <mat-label>{{ tab.method.label }}: </mat-label>
              <span>{{ paymentmethod.paymentForm[tab.key].value.price | currency: "INR":undefined:undefined:"en-IN" }}</span>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="checkForCash()">
          <ng-container *ngIf="paymentmethod?.tabs">
            <div class="mt-2 w-full flex justify-between">
            <!-- *ngIf="paymentmethod.paymentForm[tab.key].value.price > 0" -->
              <mat-label>Cash: </mat-label>
              <span>{{ paymentmethod.paymentForm['cash'].value.price | currency: "INR":undefined:undefined:"en-IN" }}</span>
            </div>
          </ng-container>
        </ng-container>

        

        

        <div class="mt-2 w-full flex justify-between font-bold">
          <mat-label>Total: </mat-label>
          <span>{{
            breakupTotal() | currency: "INR":undefined:undefined:"en-IN"
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Checkbox -->
  

  <!-- Footer Part -->
  <div class="bottom">
    <patient-identity-info [data]="patientInfo" [form60payment]="paymentmethod" (neweventform60ssave)="billingformsixtysuccess($event)" #billpatientIdentityInfo>

    </patient-identity-info>
    <div class="flex float-right paymentdialogbutton absolute right-0 bottom-0">
      <div class="mr-3">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="mt-1 btn"
          (click)="makeBill()"
          [disabled]="!checkToProceed()"
        >
          Submit
        </button>
      </div>
  
      <div class="">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="clear()"
          class="mt-1 btn"
        >
          Clear
        </button>
      </div>
    </div>
  </div>

  <!-- button -->
  
</section>
