<div class="flex relative">
    <button
      mat-icon-button
      aria-label="close dialog"
      mat-dialog-close
      class="absolute max-dialog-close-icon"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="w-full h-85 mt-4">
    <mat-label class="max-health-primary-color font-semi-bold">Description of Stents / Implants etc.</mat-label>
    <div class="">
        <maxhealth-question
        [question]="questions[0]"
        [form]="dmgotherform"
        [questions]="questions[0]"
        [index]="0"
        ></maxhealth-question>
    </div>
  </div>
  <div class="flex">
    <button mat-raised-button color="primary" (click)="okbtn()">Ok</button>
  </div>
  