.sub-bill-overall {
  .w-12 {
    width: 12%;
  }
  .bg-blue {
    background-color: #bfe8e7;
  }
  .bg-deposit {
    background-color: #f6f6f6;
  }
  ::ng-deep {
    mat-radio-group {
      flex-direction: row;
      mat-radio-button {
        margin-right: 1.5rem;
      }
    }
  }
}
