<div class="flex flex-column h-full sub-bill-overall">
  <div class="mt-2 w-full sub-bill-overall-table h-30vh">
    <maxhealth-table
      [config]="config"
      [data]="data"
      #table
      (rowRwmove)="rowRwmove($event)"
    ></maxhealth-table>
  </div>
  <div
    class="h-22vh mt-1 mb-1"
    [class.isDisabled]="billingservice.totalCostWithOutGst == 0"
  >
    <form [formGroup]="formGroup" class="sub-bill-form h-full">
      <div class="flex w-full h-full">
        <div
          class="w-14 h-full bg-blue border-radius-lg flex flex-column mr-2 justify-center"
        >
          <div class="ml-2 mb-4 mt-2 mr-2 w-auto relative">
            <div class="absolute right-0 bottom-25-px">
              <maxhealth-question
                [question]="question[19]"
                [form]="formGroup"
                [questions]="question[19]"
                [index]="19"
              >
              </maxhealth-question>
            </div>
            <!-- <maxhealth-question
              [question]="question[0]"
              [form]="formGroup"
              [questions]="question[0]"
              [index]="0"
            >
            </maxhealth-question> -->
            <mat-label class="mat-form-field-required-marker"
              >Referral Doctor</mat-label
            >
            <out-patients-referral
              (selectedDoctorEvent)="selectedReferralDoctor($event)"
              [referralDoctorName]="billingservice.referralDoctor?.name"
            ></out-patients-referral>
          </div>
          <div class="ml-2 mr-2 mb-4 w-auto">
            <maxhealth-question
              [question]="question[1]"
              [form]="formGroup"
              [questions]="question[1]"
              [index]="1"
            >
            </maxhealth-question>
          </div>
        </div>
        <!-- -------------------------------------------grey billing block------------------------------------------------------------------------- -->
        <div
          class="bg-deposit bg-paymet h-full border-radius-lg px-0 py-2 flex w-86"
        >
          <div class="ml-2 flex-column w-27 flex justify-between">
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-12">Bill Amount</mat-label>
                <maxhealth-question
                  [question]="question[2]"
                  [form]="formGroup"
                  [questions]="question[2]"
                  class="w-1/45 ml-9"
                  [index]="2"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <!------------------------------------------- AVAIL DISC CHECKBOX ---------------------------------------->
                <maxhealth-question
                  [question]="question[3]"
                  [form]="formGroup"
                  [questions]="question[3]"
                  [index]="3"
                >
                </maxhealth-question>
                <!------------------------------------------- AVAIL DISC INPUT ---------------------------------------->

                <maxhealth-question
                  [question]="question[4]"
                  [form]="formGroup"
                  [questions]="question[4]"
                  class="w-1/45 ml-5"
                  [index]="4"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <!------------------------------------------- DISCOUNT AMOUNT CHECKBOX ---------------------------------------->

                <maxhealth-question
                  [question]="question[5]"
                  [form]="formGroup"
                  [questions]="question[5]"
                  class="mr-1"
                  [index]="5"
                >
                </maxhealth-question>
                <!------------------------------------------- DISCOUNT AMOUNT INPUT ---------------------------------------->

                <div class="w-1/45 flex">
                  <maxhealth-question
                    [question]="question[6]"
                    [form]="formGroup"
                    [questions]="question[6]"
                    class="w-4/5"
                    [index]="6"
                  >
                  </maxhealth-question>
                  <div class="text-center ml-2">
                    <button
                      mat-raised-button
                      class="min-width-initial p-0 bg-deposit"
                      (click)="discountreason()"
                      type="button"
                      [disabled]="
                        calculateBillService.otherPlanSelectedItems.length >
                          0 || billingservice.selectedHealthPlan
                      "
                    >
                      <mat-icon class="icon-more p-0 font-xs"
                        >more_horiz</mat-icon
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="flex">
                <!------------------------------------------- DIPO AMOUNT CHECKBOX ---------------------------------------->

                <maxhealth-question
                  [question]="question[7]"
                  [form]="formGroup"
                  [questions]="question[7]"
                  [index]="7"
                >
                  <!------------------------------------------- DIPO AMOUNT INPUT ---------------------------------------->
                </maxhealth-question>
                <maxhealth-question
                  [question]="question[8]"
                  [form]="formGroup"
                  [questions]="question[8]"
                  class="w-23 mb-1 ml-3 mr-1"
                  [index]="8"
                >
                </maxhealth-question>
                <maxhealth-question
                  [question]="question[20]"
                  [form]="formGroup"
                  [questions]="question[20]"
                  class="w-21 mb-1"
                  [index]="20"
                >
                </maxhealth-question>
              </div>
            </div>
          </div>

          <div class="ml-2 flex-column w-1/5 flex justify-between">
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-5">Patient Disc.</mat-label>
                <maxhealth-question
                  [question]="question[9]"
                  [form]="formGroup"
                  [questions]="question[9]"
                  class="w-5/9"
                  [index]="9"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-1">Company Disc.</mat-label>

                <maxhealth-question
                  [question]="question[10]"
                  [form]="formGroup"
                  [questions]="question[10]"
                  class="w-5/9"
                  [index]="10"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-24">Plan Amt.</mat-label>

                <maxhealth-question
                  [question]="question[11]"
                  [form]="formGroup"
                  [questions]="question[11]"
                  class="w-5/9"
                  [index]="11"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-12"> Coupon</mat-label>

                <maxhealth-question
                  [question]="question[12]"
                  [form]="formGroup"
                  [questions]="question[12]"
                  class="w-5/9"
                  [index]="12"
                >
                </maxhealth-question>
              </div>
            </div>
          </div>
          <div
            class="ml-2 flex-column w-1/6 flex border-radius-lg justify-between"
          >
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-2">Co-Payment %</mat-label>
                <maxhealth-question
                  [question]="question[13]"
                  [form]="formGroup"
                  [questions]="question[13]"
                  class="w-1/45 copay"
                  [index]="13"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex">
                <mat-label class="wt-nowrap mr-7">Credit Limit</mat-label>

                <maxhealth-question
                  [question]="question[14]"
                  [form]="formGroup"
                  [questions]="question[14]"
                  class="w-1/45"
                  [index]="14"
                >
                </maxhealth-question>
              </div>
            </div>
            <div>
              <div class="flex my-2">
                <mat-label class="wt-nowrap mr-5">GST Tax</mat-label>

                <div class="w-1/45 flex">
                  <maxhealth-question
                    [question]="question[15]"
                    [form]="formGroup"
                    [questions]="question[15]"
                    class="w-7/10 ml-7"
                    [index]="15"
                  >
                  </maxhealth-question>
                  <div class="text-center ml-2">
                    <button
                      mat-raised-button
                      class="p-0 bg-deposit min-width-initial"
                      (click)="gsttaxdialog()"
                      type="button"
                      [disabled]="
                        !finalgstDetails ||
                        !calculateBillService.dsTaxCode ||
                        (calculateBillService.dsTaxCode &&
                          calculateBillService.dsTaxCode.totaltaX_RATE_VALUE ==
                            0)
                      "
                    >
                      <mat-icon class="icon-more p-0 font-xs"
                        >more_horiz</mat-icon
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-deposit flex-column ml-4 w-42 flex justify-between">
            <div class="flex">
              <mat-label class="mr-6">Amt. Paid by Patient</mat-label>
              <div class="flex w-1/45">
                <maxhealth-question
                  [question]="question[16]"
                  [form]="formGroup"
                  [questions]="question[16]"
                  class="w-7/10 mr-1"
                  [index]="16"
                >
                </maxhealth-question>
                <button
                  mat-raised-button
                  color="primary"
                  class="btn-md min-width-initial"
                  type="submit"
                  [disabled]="!data.length || billNo != ''"
                  (click)="makeBill()"
                  type="button"
                  accessControl
                  masterModule="2"
                  moduleId="7"
                  featureId="62"
                  actionId="146"
                >
                  Make Bill
                </button>
              </div>
            </div>
            <div class="flex">
              <mat-label class="wt-nowrap mr-2">Amt. Paid by Company</mat-label>

              <div class="flex w-1/45">
                <maxhealth-question
                  [question]="question[17]"
                  [form]="formGroup"
                  [questions]="question[17]"
                  class="w-7/10 mr-1"
                  [index]="17"
                >
                </maxhealth-question>
                <button
                  mat-raised-button
                  color="primary"
                  class="btn-md min-width-initial print-button"
                  type="submit"
                  [disabled]="!data.length || !billNo"
                  (click)="makePrint()"
                  type="button"
                  accessControl
                  masterModule="2"
                  moduleId="7"
                  featureId="62"
                  actionId="147"
                >
                  Print Bill&nbsp;
                </button>
              </div>
            </div>
            <div
              class="flex border-radius-lg bg-blue px-1 py-0 align-items-center mr-3 shadow-1"
            >
              <mat-label class="wt-nowrap mr-4 ml-2 inline"
                >Bill Type</mat-label
              >
              <div class="grid-container w-1/2">
                <maxhealth-question
                  [question]="question[18]"
                  [form]="formGroup"
                  [questions]="question[18]"
                  class="h-1/20 mb-5"
                  [index]="18"
                >
                </maxhealth-question>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
