.sub-bill-overall {
  .w-12 {
    width: 12%;
  }
  .w-86 {
    width: 86%;
  }
  .w-26 {
    width: 26%;
  }
  .h-55 {
    height: 55%;
  }
  .bg-blue {
    background-color: #bfe8e7;
  }
  .bg-deposit {
    background-color: #f6f6f6;
  }
  ::ng-deep {
    .sub-bill-form {
      mat-form-field {
        background-color: #fff;
      }
    }
    mat-radio-group {
      flex-direction: row;
      mat-radio-button {
        margin-right: 1.5rem;
      }
    }
  }
}
