<div class="flex flex-column h-full relative consumable-details-popup">
  <button
    mat-icon-button
    aria-label="close dialog"
    mat-dialog-close
    class="absolute max-dialog-close-icon"
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="max-health-primary-color">Consumable Details</h2>
  <div class="h-3/5 relative">
    <div class="copy-reason">
      <button class="copy-reason" (click)="copyReason()">Copy Reason</button>
    </div>
    <maxhealth-table
      [config]="config"
      [data]="itemsData"
      #table
    ></maxhealth-table>
  </div>
  <div class="flex mt-4 justify-end">
    <button
      mat-raised-button
      color="primary"
      class="font-sm min-width-initial mr-6"
      type="button"
      (click)="ConsumableBill()"
    >
      Consumable Entry Details
    </button>

    <button
      mat-raised-button
      color="primary"
      class="font-sm min-width-initial"
      type="button"
      [disabled]="!tableRows?.tableForm?.valid"
      (click)="close()"
    >
      Ok
    </button>
  </div>
</div>
