
<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel" >
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a class="ml-3" mat-tab-link [active]="true">Regenerate LIMS Message</a> 
            </li>
        </ul>
    </nav>

    <mat-tab-nav-panel #tabPanel>
        <div class="p-1 h-full w-full">
            <div class="p-2 bg-lightgray flex input-padding ">
                <div class="w-60 flex align-items-center">
                    <!-- <div class="flex"> -->
                        <mat-label class="max-health-primary-color font-semi-bold">
                            Create LIMS Requests
                        </mat-label>
                        <mat-label class="ml-4 max-health-primary-color">
                            Request Type Bill No
                        </mat-label>
                        <maxhealth-question
                        [question]="questions[0]"
                        [form]="limsconfigureform"
                        [questions]="questions[0]"
                        [index]="0"
                        class="ml-4 w-1/4"
                        >
        
                        </maxhealth-question>
                    <!-- </div> -->
                    
                </div>
                
                <div class="w-40 flex ml-34 ">
                
                    <button mat-raised-button color="primary" type="submit" class="button-height">
                        <img src="assets/lens.svg" class="lens-icon">
        
                    <span class="text-position">  Search</span>  
        
                    </button>
                     
                     
                     <button mat-raised-button color="primary" class="button-height2 ml-2"[disabled]="limsconfigureList.length == 0"><span class="text-position2">Refresh</span></button>
                     <button mat-raised-button color="primary" class="ml-2 button-height2 " [disabled]="limsconfigureList.length == 0"><span class="text-position2">Recreate</span></button>
                     <button mat-raised-button color="primary" class="button-height2  ml-2"><span class="text-position2">Clear</span></button>
                    
                </div> 
                
            </div>
            <div class="h-80 mt-2">
                <maxhealth-table #limstable [config]="config" [data]="limsconfigureList"></maxhealth-table>
            </div>
 
        </div>
    </mat-tab-nav-panel>    
</section> 

