<div class="flex flex-column h-full sub-bill-overall">

    <form [formGroup]="investigationForm">
        <!------------------------------------------- FIRST ROW------------------------------------------>
        <div class="bg-lightgray flex justify-between border-radius-md mt-1 align-items-center">
            
                <div class="flex w-3/10 bg-darkgray border-radius-md m-1">
                    <div class="ml-2 mt-2">
                        <maxhealth-question [question]="questions[0]" [form]="investigationForm"
                            [questions]="questions[0]" [index]="0">
                        </maxhealth-question>
                    </div>                    
                    <div class="mt-3 ml-2">
                        <p class="max-health-primary-color  font-semi-bold">From Date </p>
                    </div>
                    <div class="btnW mt-3 border-radius-lg h-full bg-white ml-2 clr-primary">
                        <maxhealth-question [question]="questions[1]" [form]="investigationForm"
                            [questions]="questions[1]" [index]="1"></maxhealth-question>
                    </div>
                    <div class="mt-3 ml-2">
                        <p class="max-health-primary-color  font-semi-bold">To Date</p>
                    </div>
                    <div class="btnW mt-3 border-radius-lg h-full bg-white ml-2 clr-primary">
                        <maxhealth-question [question]="questions[2]" [form]="investigationForm"
                            [questions]="questions[2]" [index]="2"></maxhealth-question>
                    </div>
                </div>
                <div class="flex w-2/10 ml-4">
                    <div class="w-5/9 h-full bg-white">
                        <maxhealth-question [question]="questions[3]" [form]="investigationForm"
                            [questions]="questions[3]" [index]="3">
                        </maxhealth-question>
                    </div>
                    <div class="w-2/3 h-full bg-white">
                        <maxhealth-question [question]="questions[4]" [form]="investigationForm"
                            [questions]="questions[4]" [index]="4">
                        </maxhealth-question>
                    </div>
                </div>
                <div class="flex w-1/20 mr "></div>
                <div class="flex w-1/5">
                    <mat-label class="ml-4 font-semi-bold max-health-primary-color">Order Status</mat-label>

                    <div class="ml-2 w-1/2 h-full bg-white">
                        <maxhealth-question [question]="questions[5]" [form]="investigationForm"
                            [questions]="questions[5]" [index]="5">
                        </maxhealth-question>
                    </div>
                </div>
                <div class="flex mb-2 mr-2 mt-2">
                    <div class="serachcss">
                        <button mat-raised-button color="primary" (click)="search()" class="searchbtn">
                            <svg class="iconcss" xmlns="http://www.w3.org/2000/svg" width="35" height="38"
                                viewBox="0 0 35 35">
                                <g id="Group_2152" data-name="Group 2152" transform="translate(12883 -23266)">
                                    <rect id="Rectangle_496" data-name="Rectangle 496" width="39" height="34"
                                        rx="4" transform="translate(-12883 23263)" fill="#fff" />
                                    <g id="Group_1383" data-name="Group 1383"
                                        transform="translate(-14630.995 22990.941)">
                                        <path id="Path_296" data-name="Path 296"
                                            d="M0,0H4.246V11.614a2.451,2.451,0,0,1-2.123,2.68A2.451,2.451,0,0,1,0,11.614Z"
                                            transform="translate(1768.724 295.227) rotate(-39)"
                                            fill="#002b58" />
                                        <path id="Path_297" data-name="Path 297"
                                            d="M10.427,1.741a8.686,8.686,0,1,0,8.686,8.686,8.686,8.686,0,0,0-8.686-8.686m0-1.741A10.427,10.427,0,1,1,0,10.427,10.427,10.427,0,0,1,10.427,0Z"
                                            transform="translate(1754.018 276.288)" fill="#002b58" />
                                    </g>
                                </g>
                            </svg>
                            <span class="ml-7 mb-5">
                                Search
                            </span>

                        </button>
                    </div>
                    <div class="w-1/2 ml-2">
                        <button mat-raised-button color="primary" >Clear</button>
                    </div>
                </div>

            
        </div>
    </form>
    <div class="h-3/4">
        <div class=" employeeclass font-semi-bold font-base pt-1 pb-1">
            <mat-label class="max-health-primary-color">Order List</mat-label>
        </div>
        <div class="tableh">
            <maxhealth-table [config]="medListConfig" [data]="investigationDetails"></maxhealth-table>
        </div>
        <div class="employeeclass font-semi-bold font-base pt-1 pb-1">
            <mat-label class="max-health-primary-color">Order Details</mat-label>
        </div>
        <div class="tableh">
            <maxhealth-table [config]="medDetailsConfig" [data]=""></maxhealth-table>
        </div>

    </div>
    <form [formGroup]="investigationForm">
        <div class=" flex justify-between  align-items-center border-radius-lg mt-2">
            
                <div class="flex w-1/2 bg-lightgray p-1 border-radius-md">
                    <div class="1/5">
                        <button mat-raised-button color="primary" [disabled]="isBtnDisable">Deny Order</button>
                    </div>
                    <div  class="w-3/10 mt-1 ml-4 h-full bg-white">
                        <maxhealth-question [question]="questions[6]"
                        [form]="investigationForm" [questions]="questions[6]" [index]="6"></maxhealth-question>                     
                    </div>
                    <mat-label class="max-health-primary-color font-bold ml-3 mt-1">Remarks</mat-label> 
                    <div  class="w-3/10 ml-2 mt-1 h-full bg-white">                        
                        <maxhealth-question [question]="questions[7]"
                        [form]="investigationForm" [questions]="questions[7]" [index]="7"></maxhealth-question> 
                    </div>                    
                </div>
                <div class="flex w-1/5">
                    <div class="w-1/2 ml-4 mr-6">
                        <button mat-raised-button color="primary" [disabled]="isBtnDisable">Pharmacy Token</button>
                    </div>
                    <div class="w-1/2 ml-4 font-xl font-bold mt-2">
                        <mat-label>50</mat-label>
                    </div>
                </div>
                <div class="flex ml-4 w-2/5">
                    <div class=" ml-8 w-1/2">
                        <button mat-raised-button color="primary" [disabled]="isBtnDisable">Create Bill</button>
                    </div>
                    <div class="w-1/2">
                        <button mat-raised-button color="primary" [disabled]="isBtnDisable">Cancel Denial</button>
                    </div>
                    <div class="w-1/2 ">
                        <button mat-raised-button color="primary" [disabled]="isBtnDisable">Save</button>
                    </div>
                   
                </div>
          
        </div>
    </form>
</div>
