<div class="flex flex-column h-full sub-bill-overall ">
    <div
    *ngIf="apiProcessing"
    class="flex align-items-center justify-center h-full w-full fixed left-0-% top-0-% z-50 api-loader"
  >
    <mat-spinner strokeWidth="3"></mat-spinner>
  </div>
    <form [formGroup]="investigationForm">
        <!------------------------------------------- FIRST ROW------------------------------------------>
        <div class="flex justify-between border-radius-md mt-1 align-items-center">
            
                <div class="flex w-1/3 bg-darkgray border-radius-md  p-1 mb-1">
                    <div class="ml-2 checkboxh checkbox-bottom-margin">
                        <maxhealth-question [question]="questions[0]" [form]="investigationForm"
                            [questions]="questions[0]" [index]="0" (click)="isChecked($event)">
                        </maxhealth-question>
                    </div>                    
                    <div class=" ml-2">
                        <p class="max-health-primary-color  font-semi-bold">From Date </p>
                    </div>
                    <div class="btnW border-radius-md h-full bg-white ml-2 clr-primary">
                        <maxhealth-question [question]="questions[1]" [form]="investigationForm"
                            [questions]="questions[1]" [index]="1" ></maxhealth-question>
                    </div>
                    <div class=" ml-2">
                        <p class="max-health-primary-color  font-semi-bold">To Date</p>
                    </div>
                    <div class="btnW  border-radius-md h-full bg-white ml-2 clr-primary">
                        <maxhealth-question [question]="questions[2]" [form]="investigationForm"
                            [questions]="questions[2]" [index]="2"></maxhealth-question>
                    </div>
                </div>
                <div class="flex w-2/10 ml-3">
                    <div class="w-5/9 h-full bg-white">
                        <maxhealth-question [question]="questions[3]" [form]="investigationForm"
                            [questions]="questions[3]" [index]="3">
                        </maxhealth-question>
                    </div>
                    <div class="w-2/3 h-full bg-white">
                        <maxhealth-question [question]="questions[4]" [form]="investigationForm"
                            [questions]="questions[4]" [index]="4">
                        </maxhealth-question>
                    </div>
                </div>
                <div class="flex w-1/20 "></div>
                <div class="flex w-3/10">
                    <mat-label class="ml-4 font-semi-bold max-health-primary-color">Order Status</mat-label>

                    <div class="ml-2 w-1/2 h-full bg-white">
                        <maxhealth-question [question]="questions[5]" [form]="investigationForm"
                            [questions]="questions[5]" [index]="5">
                        </maxhealth-question>
                    </div>
                </div>
                <div class="flex  mr-2">
                    <div >
                        <button mat-raised-button color="primary" (click)="search()" class="searchbtn mb-1" >
                            <img src="assets/lens.svg" class="lens-icon">                                
                                   <span class="ml-5">Search</span> 

                        </button>
                    </div>
                    <div class="w-1/2 ml-2">
                        <button mat-raised-button color="primary" class="clr mb-1"(click)="clearMed()" >Clear</button>
                    </div>
                </div>

            
        </div>
    </form>
    <div class="h-3/4">
        <!-- <div class=" employeeclass font-semi-bold  pt-1 pb-1">
            <mat-label class="max-health-primary-color">Order List</mat-label>
        </div> -->
        <div class="tableh">
            <maxhealth-table [config]="medListConfig"[data]="medOrderList" (columnClick)="listRowClick($event)"></maxhealth-table>
        </div>
        <div class="employeeclass font-semi-bold  pt-1 pb-1">
            <mat-label class="max-health-primary-color">Order Details</mat-label>
            <mat-label class="max-health-primary-color patientInfo ml-4">{{patientInfo}}</mat-label>
        </div>
        <div class="tableh">
            <maxhealth-table [config]="medDetailsConfig" [data]="medOrderDetails" #medOrderDetailsTable (columnClick)="tablerow($event)"></maxhealth-table>
        </div>

    </div>
    <form class="sub-bill-form"[formGroup]="investigationForm ">
        <div class=" flex justify-between  align-items-center border-radius-lg mt-10">
            
            <div class="flex  bg-lightgray p-1 border-radius-md w-6/7">
                <div class="denyBtn" (click)="denyBtn()">
                    <button mat-raised-button color="primary" class="deny"  [disabled]="!isDisableCancel">Deny Order</button>
                </div>
                <div  class="w-3/10 h-full bg-white">
                    <maxhealth-question [question]="questions[6]"
                    [form]="investigationForm" [questions]="questions[6]" [index]="6"></maxhealth-question>                     
                </div>
                <mat-label class="max-health-primary-color font-bold ml-2">Remarks</mat-label> 
                <div  class="w-2/5 ml-2  h-full bg-white">
                    
                    <maxhealth-question [question]="questions[7]"
                    [form]="investigationForm" [questions]="questions[7]" [index]="7"></maxhealth-question> 
                </div>                    
            </div>
            <div class="flex w-3/8">
                <div class="w-3/10 ml-3 mr-3">
                    <button mat-raised-button color="primary" (click)="generateToken()">Token</button>
                </div>
                <div class="ml-6 font-xl font-bold mt-1 tokentxt">
                    <mat-label>{{tokenNo}}</mat-label>
                </div>
            </div>
            <div class="flex medicinew">
                <div class="mr-2">
                    <button mat-raised-button color="primary" [disabled]="!EnableBill"  (click)="createBill()" >Create Bill</button>
                </div>
                <div class="mr-2">
                    <button mat-raised-button color="primary" (click)="cancelDenial()"   [disabled]="!isDisableDeniel">Cancel Denial</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="saveOrUpdate()"  [disabled]="!isDisableSave">Save Denial</button>
                </div>
               
            </div>
      
    </div>
    </form>
</div>
