
<!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->

<span class="material-icons " style="color: white;
background: red;
border-radius: 50%;
padding: 5px;">
    warning
    </span>
    <p>Do you want to save?</p>
    <button mat-raised-button (click)="savesuccess()" mat-dialog-close >OK</button>
    <button mat-raised-button color="primary" style="background:red" mat-dialog-close>Cancel</button>
    
    

    <!-- <button type = "button" class = "btn btn-primary">Primary Button</button> -->