.warning-icon{
    color: white;
    background: red;
    border-radius: 50%;
    padding: 5px;
}

.text-color{
    color:#004084;
}

::ng-deep mat-icon{
    height: 60% !important;
    width: 60% !important;
}