<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="banner">        
         <ul class="list-unstyled flex items-end w-full">
            <li class="ml-3"  *ngFor="let link of link1">
              <a mat-tab-link class="cursor-pointer"  [active]="activeLink1 == link ? true : false"  (click)="showmain(link)" > {{link}}</a>
            </li>
            <li class="maxhealth-spacer"></li>
            <li class="ml-3 float-right" *ngFor="let link of link2">
                <a mat-tab-link class="cursor-pointer" [active]="activeLink2 == link ? true : false"(click)="showgrid(link)" > {{link}}</a>
              </li>
          </ul>            
      </nav>
      <mat-tab-nav-panel #tabPanel>
          <div class="h-4/5">
            <ng-container>
                <maxhealth-table
                [config]="oprefundConfig"
                ></maxhealth-table>
            </ng-container>
          </div> 
        
    </mat-tab-nav-panel>
    <div class="h-1/5 float-right m-2">
      <button mat-raised-button color="primary"  class="mr-8" click="oprefundApprove()">Approve</button>
      <button mat-raised-button color="primary" (click)="oprefundReject()">Reject</button>
    </div>
</section>
<!-- (click)="showmain(link)"
(click)="showgrid(link)" -->