.modify-dialog-wrapper
{
.fontcolor{
    color: black;
}
.btnSize
{
    min-width: initial !important;
    // height: fit-content !important;
    height: 1.875rem;
    line-height: 1.875rem;
}
.labelsc
{
    //margin-left: 9rem!important;
    background-color: #DAE9F8;
}
.datefont{
    color:#004084
}
.close-height{
    height: 2vh;
}
.mleft{
    margin-left: 4.25rem !important;
}
}