.configurationbillingbanner{
    .configbillingbutton{
       ::ng-deep .mat-raised-button{
            min-width: initial !important;
            height: 1.875rem !important;
            line-height: 1.875rem  !important;
        }
    }
    .firstsecondrow{
        border-radius: 5px;
        border: 1px solid #ababab !important;
        padding: 1px !important;      
         
    }  
    .vertical {
        border-right: 1px solid #ababab !important;
        border-radius: 2px;
        height: 21px;
        position:absolute;
        padding: 0 7px;  
    }
    .text-color {
        color: #5a5a5a;
        font-weight: 400;
      }
      .h-40{
        height:43%;
    }  
}