.configurationbillingbanner{
    .configbillingbutton{
       ::ng-deep .mat-raised-button{
            min-width: initial !important;
            height: 1.875rem !important;
            line-height: 1.875rem  !important;
        }
    }
    .firstsecondrow{
        border-radius: 5px;
        border: 1px solid #ababab !important;
        padding: 1px !important;      
         
    }  
    .creditcolumn{
        color: #5a5a5a;
        font-weight: 400;
        margin-left: 30% !important;
    }
    .vertical {
        border-right: 1px solid #ababab !important;
        border-radius: 2px;
        height: 21px;
        position:absolute;
        padding: 0 7px;  
    }
    .text-color {
        color: #5a5a5a;
        font-weight: 400;
        margin-left: 23% !important;
      }
      .h-40{
        height: 9rem !important;
    }
    .w-31
    {
        width: 31%;
    }
    .secondcolumn{
        margin-left: 40% !important;
    }
    .secondrowsecondcolumn
    {
        margin-left: 45% !important;
    }
    .companysecondspan{
        margin-left: 20% !important;
    }
    .text-overflow{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}