<section class="h-full reason-for-gxt-tax-wrapper">
    <!-- Header & Cross Icon-->
    <div>
      <mat-label class="max-health-primary-color font-lg font-semi-bold"
        >Enter reason for not charging GXT Tax</mat-label
      >
      <mat-icon
        mat-dialog-close
        color="primary"
        class="float-right cursor-pointer max-dialog-close-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        >close</mat-icon
      >
    </div>
    <div class="flex mt-4 justify-between">
      <!-- <mat-label class="max-health-primary-color font-semi-bold"
        >Enter reason for not charging GXT Tax</mat-label
      > -->
      <div class="w-full">
        <maxhealth-question
          [question]="question[0]"
          [form]="reasonForGxtTaxForm"
          [questions]="question[0]"
          [index]="0"
        >
        </maxhealth-question>
      </div>
    </div>
    <div class="flex justify-end gap-05 mt-4">
      <button mat-raised-button color="primary" class="mr-2" [disabled]="!reasonForGxtTaxForm.valid" (click)="okbtn()">Ok</button>
      <button mat-raised-button color="primary" (click)="cancelbtn()">Cancel</button>
    </div>
  </section>
  