.opd-reg-wrapper {
  
  &-box {
    background-color: #fff;
    background-position-y: 101%;
    background-size: 55%;
    background-position-x: 102%;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-repeat: no-repeat;
    form {
      ::ng-deep mat-label {
        color: var(--primary-color);
      }
      .change-password {
        color: var(--primary-color);
      }
    }
    &-secondary
    {
      height: 44vh;
      border: 1px solid blue;
    }
    &-address
    {
      height: 100%;
      border: 1px solid blue;
      width: 33.33%;
      float: left;
     
     
    }
    &-checboxcontainer
    {
      background-color: #f6f6f6;
    }
    &-check
    {
      height: 100%;
      border: 1px solid blue;
      width: 28%;
      float: left;
    }
   
  }

}
.father-container
{
  width: 15%;
}
.age-container
{
  width: 15%;
}
.autocomplete
{
  width: 7.66667%;
}
