// .maincrd{
//     background:#fff; 
//     height: 70vh; 
//     width: 94vw; 
//     border-radius: 10px;
// }
.banner{
   background:#004084;
   color: #fff;    
    border-radius: 10px 10px 0 0 ;
    a{
    margin: 0px !important;
    border-radius: 7px 7px 0px 0px;
    font-weight: 800;
    color: #004084 !important;
    opacity: 1;
    background-color: #fff !important;
    height: 5vh;
    // width: 10vh !important;
    }
}
// .maingrid{
//     background-color: #fff;
//     height: 62vh;
// }
// .table{
//     height: 62vh;
//     width: 98vw;
//     overflow-y: scroll;
// }
// .float-left{
//     padding-left: 1%;
//     padding-top: 1%;
// }

// .right4pt5{
//     right:4.5%;
// }
.spinner{    
    margin-left: 47%; margin-top: 13%;
}