<div mat-dialog-content class="font-base color-blue">
  Please select your primary Max ID  
  <mat-icon class="mr-2 ml-12 max-dialog-close-icon" (click)="closemergepopup()">close</mat-icon> 
</div>
<div class="h-full w-full ml-1 mt-2">
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="primaryid">
    <mat-radio-button class="pt-3 font-base color-blue" *ngFor="let id of selectedRows" [value]="id.id"  color="primary" (change)="checboxSelected(id)">
      {{id.maxid}}
    </mat-radio-button>
  </mat-radio-group>

</div> 
<button mat-raised-button color="primary" class="mt-8" type="button" (click)="patientMerging()" [disabled]="submitbtndisable">
  Submit
<mat-icon>east</mat-icon></button>
