.depositwrapper{
.bg-deposit {
    background-color: #F6F6F6;
    color: #004084;
}

.bg-thirdrow {
    background-color: #ECECEC;
    color: rgba(0, 0, 0, 0.87);
}
.input1{
    ::ng-deep  .mat-form-field-infix {
        text-align: right !important;
    }
}


.bg-white {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    ::ng-deep .mat-error{
        margin-top: 10% !important;
    }
}

.bg-thirdrow-white {
    background-color: white;
}

.bg-black {
    color: rgba(0, 0, 0, 0.87);
}

.deposit{ 
::ng-deep .mat-form-field-wrapper {

    padding-bottom: 0 !important;   
}
}

.wt-nowrap {
    white-space: nowrap;
}
.nationality_wt-nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.clr-primary {
    color: #004084;
}
.isDisabled {
    pointer-events: none;
    opacity: 0.7;
  }
.depositradiobutton {
    ::ng-deep .mat-radio-group {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
}
.deposit-matnav {
    ::ng-deep .mat-tab-link {
        min-width: 0px;
    }
}
.default-label-none{
    ::ng-deep mat-label{
        display:none;
    }
}
.deposittable {
    ::ng-deep .max-table-wrapper {
        table {
           width: 120% !important;
        }
     
        border: 1px solid #707070 !important;
        tbody tr td:nth-child(5),
        tbody tr td:nth-child(7),
        tbody tr td:nth-child(8),
        tbody tr td:nth-child(9),
        tbody tr td:nth-child(10),
        tbody tr td:nth-child(11),
        tbody tr td:nth-child(12)
        {
            text-align: right !important;
        }
        tbody tr td:nth-child(5){
            padding-right: 2rem !important;
        }
        tbody tr td:nth-child(9){      
            padding-right: 1rem !important;
        }
        tbody tr td:nth-child(10){
            padding-right: 1rem !important;
        }
        tbody tr td:nth-child(11),
        tbody tr td:nth-child(12),
        tbody tr td:nth-child(8){
            padding-right: 1rem !important;
        }      
        thead tr th:nth-child(5){
            padding-left:5rem;
        }
        thead tr th:nth-child(9){
            padding-left:5.3rem;
        }
        
        thead tr th:nth-child(10){
            padding-left:5.8rem;
        }
        thead tr th:nth-child(7){
            padding-left:3rem;
        }
        thead tr th:nth-child(8)
        {
            padding-left:4rem;
        }
        thead tr th:nth-child(11){
            padding-left:1.6rem;
        }
        thead tr th:nth-child(12){
            padding-left:2rem;
        }
    }
    ::ng-deep th.mat-header-cell:first-of-type {
        padding-left: 30px !important;
        border: none;
    }
    ::ng-deep td.mat-cell:first-of-type {
        padding-left: 30px !important;
        position: relative !important;
    }
      ::ng-deep .mat-icon-button {
    min-width: 0 !important;
    width: 0px !important;
    position: absolute !important;
    top: 0% !important;
    left: 0% !important;
  }
  ::ng-deep .mat-icon-button .mat-icon{
      line-height: 10px !important;
  }
  ::ng-deep .mat-cell.cdk-cell.cdk-column-expandedDetail.mat-column-expandedDetail{
      padding-left: 0px !important;
     
  }

 
  ::ng-deep .child-element-detail {
    position: relative;
    width: 101.2%;
    ::ng-deep .mat-sort-header-content{
        white-space: nowrap;
    }
    ::ng-deep .max-table-wrapper {
        border-radius: 0px !important; 
        border:none !important;
        table {
           width: 100% !important;
        }
    }
    .mat-row {
     .mat-cell {
            color: rgba(0, 0, 0, 0.87) !important;
          }
          &:hover {
            .mat-cell {
                color: #fff !important;
              }            
          }
      }

           .mat-cell.cdk-cell.cdk-column-select.mat-column-select{
            width: 2.67% !important;
           }
           .mat-cell.cdk-cell.cdk-column-depositRefund.mat-column-depositRefund{
            width: 4.95% !important;
           }
           .mat-cell.cdk-cell.cdk-column-receiptno.mat-column-receiptno{
            width: 4.3% !important;
           }
           .mat-cell.cdk-cell.cdk-column-dateTime.mat-column-dateTime{
            width: 5.67% !important;
           }
           .mat-cell.cdk-cell.cdk-column-deposit.mat-column-deposit{
            width: 7.07% !important;
           }
           .mat-cell.cdk-cell.cdk-column-paymentType.mat-column-paymentType{
            width: 5% !important;
           }
           .mat-cell.cdk-cell.cdk-column-usedOP.mat-column-usedOP{
            width: 5% !important;
           }
           .mat-cell.cdk-cell.cdk-column-usedIP.mat-column-usedIP{
            width: 5.7% !important;
           }
           .mat-cell.cdk-cell.mat-tooltip-trigger.cdk-column-refund.mat-column-refund{
            width: 6.4% !important;
           }
           .mat-cell.cdk-cell.cdk-column-balance.mat-column-balance{
            width: 7.11% !important;
           }
           .mat-cell.cdk-cell.cdk-column-gst.mat-column-gst{
            width: 3.55% !important;
           }
           .mat-cell.cdk-cell.cdk-column-gstValue.mat-column-gstValue{
            width: 6.35% !important;
           }
           .mat-cell.cdk-cell.mat-tooltip-trigger.cdk-column-advanceType.mat-column-advanceType{
            width: 6.75% !important;
           }
           .mat-cell.cdk-cell.mat-tooltip-trigger.cdk-column-serviceTypeName.mat-column-serviceTypeName{
            width: 7.8% !important;
           }
           .mat-cell.cdk-cell.mat-tooltip-trigger.cdk-column-operatorName.mat-column-operatorName{
            width: 9.3% !important;
           }
           .mat-cell.cdk-cell.mat-tooltip-trigger.cdk-column-remarks.mat-column-remarks{
            width: 6% !important;
           }           
    }
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deposittableheight{
    height: 86% !important;
}
.api-loader {
    background: rgba(0, 0, 0, 0.15);
}
::ng-deep{
    .table-height {
      height: 65vh !important;
    }
  }
.h-82{
    height: 82% !important;
}

.second-row-depositbutton{
    .mat-raised-button{
        min-width: initial !important;
        height: 1.875rem !important;
        line-height: 1.875rem  !important;
    }
  }
  .clearwidth{
    width: 12% !important;
  }
}




