.bg-deposit{
    background-color: #F6F6F6;
    color:#004084;
}
.bg-thirdrow{
    background-color: #ECECEC;     
   
}
::ng-deep .input1 .mat-form-field-infix{
    text-align: right !important;  
}
.bg-white{
    background-color:white;
}
::ng-deep .mat-form-field-wrapper{

    padding-bottom: 0 !important;

}
.wt-nowrap{
    white-space: nowrap;
}
.clr-primary{
    color: #004084;
}
::ng-deep mat-radio-group {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}