<section class="payment-dialog">
    <!-- Cross Icon -->
    <div class="flex justify-content-end">
        <mat-icon mat-dialog-close class="cursor-pointer">close</mat-icon>
    </div>

    <!-- Blue Banner -->
    <div class="w-full mt-1 flex align-items-center border-radius-md secondary refundheight">
        <mat-label class="font-lg col-white ml-2">Payment Receipt</mat-label>
    </div>

    <!-- Payment Methods -->
    <div class="w-full height"> 

        <!-- payment Methods left  -->
        <payment-methods [config]="config" [paymenthodclearsibilingcomponent]="clearsiblingcomponents" [Refundavalaiblemaount]="Refundavalaiblemaount"></payment-methods>
        
        <!-- payment Methods right -->
        <div class="width h-full mt-2 float-right">
            <div class="back-primary col-white p-3 border-radius-md">
                <mat-label class="font-base">Due Bill Settlement Summary</mat-label>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Total Bill Amount: </mat-label>
                    <span>7500.00</span>
                </div>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Pre-Paid Amount: </mat-label>
                    <span>7500.00</span>
                </div>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Deposit Amount: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Discount Amount: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Patient Due: </mat-label>
                    <span>500.00</span>
                </div>
                <div class="mt-5 w-full flex justify-between">
                    <mat-label>Total: </mat-label>
                    <span>500.00</span>
                </div>
            </div>
            <div class="h-1/2 secondary col-white p-3 border-radius-md mt-2">
                <mat-label class="font-base">Payment Breakup</mat-label>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Cash: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-1 w-full flex justify-between">
                    <mat-label>Cheque: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-1 w-full flex justify-between">
                    <mat-label>Credit Card: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-1 w-full flex justify-between">
                    <mat-label>Demand Draft: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-1 w-full flex justify-between">
                    <mat-label>Online Payment: </mat-label>
                    <span>0.00</span>
                </div>
                <div class="mt-2 w-full flex justify-between">
                    <mat-label>Total: </mat-label>
                    <span>500.00</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkbox -->
    <div class="flex">
        <div>
            <maxhealth-question
            [question]="questions[0]"
            [form]="refundform"
            [questions]="questions[0]"
            [index]="0"
            >
            </maxhealth-question>
        </div>
        <div class="mg-top-1 ml-2">
            <maxhealth-question
            [question]="questions[1]"
            [form]="refundform"
            [questions]="questions[1]"
            [index]="1"
            >
            </maxhealth-question>
        </div>
    </div>

    <!-- Footer Part -->
    <div class="mt-4 bottom">
        <patient-identity-info [data]="patientIdentityInfo"></patient-identity-info>
    </div>

    <!-- button -->
    <div class="flex float-right">
        <div class="mr-3">
            <button mat-raised-button color="primary" type="submit" (click)="saverefunddialog()" class="mt-1 btn">Submit</button>
        </div>
       
        <div class="">
            <button mat-raised-button color="primary" type="submit" (click)="clear()" class="mt-1 btn">Clear</button>
        </div>
    </div>
</section>