<section>
    <div>
        <div>
        <mat-label class="max-health-primary-color">Company IOM</mat-label>
        <span class="material-icons float-right cursor-pointer max-dialog-close-icon" mat-dialog-close>close</span>
        </div>
        <div class="textarea-height mt-1 bg-lightgray" >
        <maxhealth-question
        [question]="questions[0]"
        [form]="companyiomForm"
        [questions]="questions[0]"
        [index]="0">
        </maxhealth-question>
        
    </div>
    </div>
   
    
</section>