@use "@angular/material" as mat;

@font-face {
  font-family: "proxima";
  src: local("proxima"),
    url("./font/proxima/Mark Simonson - Proxima Nova.otf") format("truetype");
}
@font-face {
  font-family: "ProximaRegular";
  src: local("proxima"),
    url(./font/proxima/ProximaNovaThin.otf) format("truetype");
}

@font-face {
  font-family: "ProximaMedium";
  src: local("proxima"),
    url(./font/proxima/ProximaNovaMedium.otf) format("truetype");
}

@import "~@angular/material/theming";
@include mat-core();

$max-brand: (
  50: #ffffff,
  100: #dde6f3,
  200: #004084,
  300: #7fa3d1,
  400: #6992c9,
  500: #5282c1,
  600: #4072b4,
  700: #38649d,
  800: #305687,
  900: #284770,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: white,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$primary: mat-palette($max-brand, 200);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

$custom-typography: mat.define-typography-config(
  $font-family: "proxima",
);
@include mat.core($custom-typography);

:root {
  --primary-color: #004484;
}
.max-health-primary-color {
  color: var(--primary-color);
}

mat-form-field {
  font-size: 14px;
  &.mat-form-field-appearance-outline {
    .mat-form-field-outline {
      color: rgba(0, 0, 0);
    }
    .mat-form-field-wrapper {
      margin: 0 !important;
      // padding-bottom: 1em;
    }
    .mat-form-field-infix {
      padding: 0.9em 0 !important;
      border-top: 0 !important;
    }
    .mat-form-field-suffix,
    .mat-form-field-prefix {
      top: 0.5em;
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}
.mat-form-field-appearance-outline.mat-form-field-disabled {
  .mat-form-field-outline {
    background: rgba(0, 0, 0, 0.06);
  }
}

.max-body-wrapper {
  height: calc(100vh - 152px);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  .banner {
    background: #004084;
    color: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #004084;
    height: 3.225rem;
    .mat-tab-links {
      height: 100%;
      ul {
        li {
          a.mat-tab-label-active {
            border-radius: 7px 7px 0px 0px;
            font-weight: 800;
            color: #004084;
            background-color: #fff;
            height: 2.75rem;
            opacity: 1;
            font-size: 0.85rem;
          }
        }
      }
      .mat-ink-bar {
        display: none;
      }
    }
  }
}

.max-body-wrapper-nobtn {
  height: calc(100vh - 140px);
  width: calc(100vw - 2em);
  border-radius: 10px 10px 0 0;
  .banner {
    background: #004084;
    color: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #004084;
    height: 3.225rem;
    .mat-tab-links {
      height: 100%;
      ul {
        li {
          a.mat-tab-label-active {
            border-radius: 7px 7px 0px 0px;
            font-weight: 800;
            color: #004084;
            background-color: #fff;
            height: 2.75rem;
            opacity: 1;
            font-size: 0.85rem;
          }
        }
      }
      .mat-ink-bar {
        display: none;
      }
    }
  }
}

.mat-dialog-container {
  border-radius: 1rem !important;
}
.mat-menu-panel {
  border-radius: 1rem !important;
}

.mat-raised-button {
  min-width: 125px !important;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #a8aa9c;
}

.mat-option {
  font-family: proxima;
  font-size: 14px;
}

.mat-cell,
.mat-footer-cell {
  font-size: 13px !important;
}

.mat-header-cell {
  font-size: 14px !important;
  font-weight: 600;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
  color: #004484;
}
.mat-checkbox-layout .mat-checkbox-label {
  color: #004484;
}
.whitePanel {
  background-color: #fff;
}

.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-checkbox-inner-container {
  margin-top: 4px;
}
