<h1 mat-dialog-title>Payment Receipt</h1>

    <mat-grid-list cols="3" rowHeight="1:1.4">
        <mat-grid-tile>
            <div class="payment">
                <div>Payment Methods</div>
                <div class="m-3">
                    <label (click)="checkalert()">Cash</label>
                    <!-- <label></label> -->
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Cheque</label>
                    <!-- <label>Cheque</label> -->
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Credit Card</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Demand Draft</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Mobile Payment</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Online Payment</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>PayTM</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>UPI</label>
                   </div>
                   <div class="m-3"><mat-divider></mat-divider>
                </div>
                <div class="m-3">
                    <label>Due Amount</label>                   
                </div>
            </div>




        </mat-grid-tile>
        <mat-grid-tile>
            Cash Details
        </mat-grid-tile>
        <mat-grid-tile>
            Bill Summary
        </mat-grid-tile>
    </mat-grid-list>

