<div class="row">
    <h4 class="header"mat-dialog-title><span class="m-1">Payment Receipt</span></h4>
<div class="flex ">    
    <div class="w-1/5">
       <h5>Payment Methods</h5>
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Cash"></mat-tab>
            <mat-tab label="Cheque"></mat-tab>
            <mat-tab label="Credit Card"></mat-tab>
            <mat-tab label="Demand Draft"></mat-tab>
            <mat-tab label="Mobile Payment"></mat-tab>
            <mat-tab label="Online Payment"></mat-tab>
            <mat-tab label="UPI"></mat-tab>
            <mat-tab label="Due Amount"></mat-tab>
          </mat-tab-group>
    </div>
    <div class="w-2/5 font-sm">
        <div class="search-header-menu">
            <!--Cash  -->
            <div *ngIf="isShowCash">
                <h5>Cash Details</h5>
                <form [formGroup]="cashForm" >                   
                    <div *ngFor="let question of questions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="cashForm" [questions]="questions" [index]="i">
                        </maxhealth-question>
                        
    
                    
                    
                    </div>                    
                </form>
            </div>
            <!--Cheque  -->
            <div *ngIf="isShowCheque">
                <h5>Cheque Details</h5>
                <form [formGroup]="chequeForm" >                   
                    <div *ngFor="let question of chequeQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="chequeForm" [questions]="chequeQuestions"
                            [index]="i"></maxhealth-question>  
                    </div>
                </form>
            </div>
            <!--Credit Card  -->
            <div *ngIf="isShowcCard">
                <h5>Credit Card Details</h5>
                <form [formGroup]="cCardForm"  >                   
                    <div *ngFor="let question of cCardQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="cCardForm" [questions]="cCardQuestions"
                            [index]="i"></maxhealth-question>
                    </div>
                </form>
            </div>
            <!--DD  -->
            <div *ngIf="isShowDraft">
                <h5>Demand Draft Details</h5>
                <form [formGroup]="draftForm"  >
                    <div *ngFor="let question of draftQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="draftForm" [questions]="draftQuestions"
                            [index]="i"></maxhealth-question>
                    </div>
                </form>
            </div>
            <!--Mobile  -->
            <div *ngIf="isShowMobile">
                <h5>Mobile Payment Details</h5>
                <form [formGroup]="mobileForm"  >                   
                    <div *ngFor="let question of mobileQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="mobileForm" [questions]="mobileQuestions"
                            [index]="i"></maxhealth-question>
                    </div>
                </form>
            </div>
            <!--Online  -->
            <div *ngIf="isShowOnline">
                <h5>Online Payment Details</h5>
                <form [formGroup]="onlineForm"  >
                    <div *ngFor="let question of onlineQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="onlineForm" [questions]="onlineQuestions"
                            [index]="i"></maxhealth-question>
                    </div>
                </form>
            </div>
            <!--UPI  -->
            <div *ngIf="isShowUpi">
                <h5>UPI Payment Details</h5>
                <form [formGroup]="upiForm"  >                   
                    <div *ngFor="let question of upiQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="upiForm" [questions]="upiQuestions" [index]="i">
                        </maxhealth-question>  
                    </div>
                </form>
            </div>
            <!--Due  -->
            <div *ngIf="isShowDue">
                <h5>Due Payment Details</h5>
                <form [formGroup]="dueForm"  >
                    <div *ngFor="let question of dueQuestions; let i = index" class="w-full">
                        <maxhealth-question [question]="question" [form]="dueForm" [questions]="dueQuestions" [index]="i">
                        </maxhealth-question>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-2/5">
        <div class="billSummary border-radius-md">            
        <div class="flex">
            <div class="w-1/2">
                   <ul>
                    <li class="m-1">Bill Summary</li>
                    <li class="m-1"> Total Bill Amount </li>
                    <li class="m-1"> Total Deposit </li>
                    <li class="m-1"> Total Refund </li>
                    <li class="m-1"> Total Discount </li>
                    <li class="m-1"> Credit Limit</li>
                   </ul>
            </div>
            <div class="w-1/2">
                <ul>
                    <li class="m-1" class="emptyBill">Bill</li>  
                    <li class="m-1"> 7500.00 </li>
                    <li class="m-1"> 0.00 </li>
                    <li class="m-1"> 0.00 </li>
                    <li class="m-1"> 0.00 </li>
                    <li class="m-1"> 0.00</li>
                   </ul>
            </div>   
        </div>
        &nbsp;
        <div class="flex">            
            <div class="w-1/2">
                   <ul>
                    <li class="m-1">On Settlement</li>
                    <li class="m-1"> Amount Refunded </li>
                    <li class="m-1"> Amount Received </li>                   
                   </ul>
            </div>            
            <div class="w-1/2">
                <ul>     
                    <li class="m-1" class="emptyBill">Bill</li>             
                    <li class="m-1"> 0.00 </li>
                    <li class="m-1"> 0.00</li>
                   </ul>
            </div>            
        </div>
        </div>
        &nbsp;
        <div class="priceBreakup border-radius-md">
        <div class="flex ">            
            <div class="w-1/2">
                   <ul>
                    <li class="m-1">Payment Breakup</li>
                    <li class="m-1"> Cash</li>
                    <li class="m-1"> Credit Card </li>                   
                   </ul>
            </div>            
            <div class="w-1/2">
                <ul>     
                    <li class="m-1" class="emptyList">Payment</li>             
                    <li class="m-1"> 7000.00 </li>
                    <li class="m-1"> 500.00</li>
                   </ul>
            </div>
            
        </div>
        </div>        
    </div>
</div>
</div>