<section class="ml-4 shadow-1 mr-4 max-body-wrapper whitePanel qms-body-wrapper">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel"  class="banner justify-between">
        <ul class="list-unstyled flex items-end">
            <li class="ml-3">
                <a mat-tab-link [active]="true">QMS</a> 
            </li>
        </ul>
    </nav>
    <mat-tab-nav-panel #tabPanel>
    <Section class="h-full w-full flex justify-center items-center bg-image">
        <div class="h-1/2 w-35 border-radius border-radius-xlg bg-white">
            <div class="pt-3 pb-3 border-xlg text-center bg-top">
                <mat-label class="max-health-primary-color font-bold font-base">Counter Selection</mat-label>
            </div>
            <div>
                <div class="flex flex-column justify-center items-center">
                    <div class="flex w-full mt-8">
                        <div class="w-2/5 text-right">
                            <mat-label class="mr-28 max-health-primary-color font-semi-bold">Area <span class="mandatory">*</span></mat-label>
                        </div>
                        <div class="label">
                            <maxhealth-question
                                [question]="questions[0]"
                                [form]="qmsform"
                                [questions]="questions[0]"
                                [index]="0"
                            >
                            </maxhealth-question>
                        </div>
                    </div>
                    <div class="flex w-full mt-5">
                        <div class="w-2/5 text-right">
                            <mat-label class="mr-5 max-health-primary-color font-semi-bold">Counter <span class="mandatory">*</span></mat-label>
                        </div>
                        <div class="label">
                            <maxhealth-question
                                [question]="questions[1]"
                                [form]="qmsform"
                                [questions]="questions[1]"
                                [index]="1"
                            >
                            </maxhealth-question>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-space-evenly mt-4">
                    <div class="">
                        <button mat-raised-button color="primary" type="submit" (click)="okbtn()" [disabled]="!qmsform.valid">Ok</button>
                    </div>
                    <div class="">
                        <button mat-raised-button color="primary" type="submit" (click)="clear()" [disabled]="clearbtn">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </Section>
    </mat-tab-nav-panel>
</section>

