<nav class="shadow-1 header-wrapper">
  <div class="flex justify-between items-center pl-4 py-2">
    <a><img src="assets/brandLogo.svg" /></a>
    <div class="flex flex-column right-section justify-between">
      <div class="mt-2">
        <span class="mr-6 font-lg max-health-primary-color">BLK Hospital</span>
        <span class="mr-6 font-lg max-health-primary-color"
          >OPD 1 Ground floor</span
        >
        <span class="mr-4">Welcome Username</span>
      </div>

      <div>
        <ul class="flex flex-row list-unstyled main-modules items-center">
          <ng-container *ngFor="let module of modules">
            <ng-container *ngIf="module.moreOptions">
              <li
                [matMenuTriggerFor]="menu"
                class="mr-4 cursor-pointer"
                [ngClass]="{ active: activeModule?.id == module.id }"
              >
                {{ module.title }}
              </li>
            </ng-container>
            <ng-container *ngIf="!module.moreOptions">
              <li
                class="mr-4 cursor-pointer"
                [ngClass]="{ active: activeModule?.id == module.id }"
              >
                {{ module.title }}
              </li>
            </ng-container>
          </ng-container>
        </ul>
        <mat-menu #menu="matMenu" class="header-menu">
          <div class="flex flex-rows w-full h-full p-4">
            <div class="flex flex-column w-1/2 border-right items-start">
              <button mat-button class="my-2">Front Office</button>
              <mat-divider></mat-divider>
              <button mat-button class="my-2">Marketing</button>
              <mat-divider></mat-divider>
              <button mat-button class="my-2">Health Checkup</button>
              <mat-divider></mat-divider>
            </div>
            <div class="flex flex-column w-1/2 px-6">
              <mat-checkbox class="example-margin"
                >Direct to different location</mat-checkbox
              >
              <mat-label class="mt-4">Location</mat-label>
              <mat-form-field appearance="outline">
                <mat-select name="location"> </mat-select>
              </mat-form-field>
              <mat-label class="mt-2">Station</mat-label>

              <mat-form-field appearance="outline">
                <mat-select name="station"> </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<maxhealth-sub-header
  [submodules]="activeModule?.childrens"
></maxhealth-sub-header>
