:host {
  width: 100%;
  margin-bottom: 6px;
  display: block;
}
.header-wrapper {
  height: 4.188rem;
  background-color: white;
  border-radius: 0 0 0 1rem;
  .right-section {
    height: 4.088rem;
    align-items: flex-end;
    justify-content: space-between;
    .logout-button {
      min-width: initial;
      padding: 0;
      margin-right: 1.5em;
    }
    .user-info {
      height: 2.1rem;
      svg {
        width: 80%;
      }
    }
  }
  .main-modules {
    min-width: calc(100% - 180px);
    clip-path: polygon(
      0 0,
      30px 50%,
      0 100%,
      calc(100% - 0px) 100%,
      100% 50%,
      calc(100% - 0px) 0
    );
    height: 2.125rem;
    background: #45c0be;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    li {
      display: flex;
      align-items: center;
      height: 1.925rem;
      align-self: flex-end;
      border-radius: 5px 5px 0 0;
      padding: 0 0.4rem;
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 400;
      &:first-child {
        margin-left: 2em;
      }
      &.active {
        background-color: #fff;
        color: #45c0be;
        font-weight: 500;
      }
    }
  }
}

::ng-deep {
  .header-menu {
    width: 38%;
    //height: 34vh;
    max-width: initial !important;
    .mat-menu-content {
      height: 100%;
    }
  }
}

.setting-menu {
  font-weight: 600 !important;
}
