.services-tab {
  background-color: #45c0be;
  height: calc(100vh - 22rem);
  button {
    background-color: #bfe8e7;
    height: 32px;
    line-height: 32px;
    &.active {
      background-color: #fff;
    }
  }
}
