.discount-reason-wrapper {
  .head-section,
  .footer-section {
    ::ng-deep .mat-form-field-infix input {
      color: #000;
    }
  }
  ::ng-deep .mat-raised-button {
    min-width: fit-content !important;
    height: 1.875rem;
    line-height: 1.875rem;
  }
  ::ng-deep {
    table {
      tr {
        &.row-highlight {
          &:hover {
            background-color: initial !important;
            .mat-cell {
              color: initial !important;
            }
          }
        }
      }
    }
  }
  .height-3 {
    height: 3rem;
  }
  .height-4 {
    height: 4rem;
  }
  .gap-5 {
    gap: 0.5rem;
  }
  .discounttable{
    ::ng-deep .max-table-wrapper {
      border: 1px solid #707070 !important;
      table {
        width: 135% !important;
       .mat-column-maxRemoveRow{
        width: 3% !important
       }
      }
  tbody tr td:nth-child(5),
  tbody tr td:nth-child(6),
  tbody tr td:nth-child(7),
  tbody tr td:nth-child(8) {
      text-align: right !important;
  }
  tbody tr td:nth-child(5),
  tbody tr td:nth-child(7),
  tbody tr td:nth-child(8),
  tbody tr td:nth-child(11)
  {
      padding-right: 1rem !important;
  }
  thead tr th:nth-child(5){
      padding-left: 4rem;
  }
  thead tr th:nth-child(6){
    padding-left: 3rem;
}
  }
}
}
