.max-table-wrapper {
  height: 100%;
  background-color: white;
  overflow: auto;
  transform: rotate(0deg);
  border-color: #707070;
  table {
    width: 100%;
    border-spacing: 0;
    .mat-header-row {
      height: 30px;
      border-bottom: 2px solid #707070;
      background-color: #dae9f8;
      .mat-sort-header {
        color: var(--primary-color);
      }
    }
    tr.mat-row {
      height: 28px;
      background-color: #f9f9f9;
    }
    .row-is-clicked {
      font-weight: bold;
    }
    .mat-row {
      &.row-highlight:hover {
        background-color: var(--primary-color);
        .mat-cell {
          color: #fff;
        }
        .mat-icon-button {
          color: #fff;
        }
      }
      .remove-row-icon-wrapper {
        width: 16px;
        height: 16px;
      }
      .type-checkbox {
        text-align: center;
      }
      .mat-cell {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 0 0 100px !important;
        width: 100px !important;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding-right: 8px;
        &:last-of-type {
          padding-right: 24px;
        }
        ::ng-deep mat-form-field {
          .mat-form-field-wrapper {
            padding-bottom: 0 !important;
          }
        }
        &.mat-column-select {
          width: 24px !important;
          flex: 0 0 24px !important;
        }
        &.type-string_link {
          .text-underline {
            text-underline-position: under;
            color: var(--primary-color);
          }
        }
        .currency-data {
          display: flex;
          justify-content: flex-end;
          margin-right: 12px;
        }
      }
    }
    .mat-header-row {
      .mat-column-select {
        width: 60px;
      }
      ::ng-deep .header-type-currency {
        .mat-sort-header-container {
          justify-content: flex-end;
        }
      }
    }

    &.row-click {
      .mat-row .mat-cell {
        // border-bottom: 1px solid transparent;
        // border-top: 1px solid transparent;
        cursor: pointer;
      }
    }
  }
  ::ng-deep .mat-raised-button {
    min-width: 100px !important;
    height: 1.875rem;
    line-height: 1.875rem;
  }
}

.more-actions {
  background: #ababab;
  border-radius: 12px;
  padding: 0 0.5em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-items: center;
  width: fit-content;
  .mat-icon {
    line-height: 20px;
    height: 20px;
  }
}
::ng-deep {
  .table-select-dropdown {
    width: 90%;
  }
  .cdk-column-maxRemoveRow {
    text-align: right;
    button {
      height: 1.875rem;
      line-height: 1.875rem;
    }
  }
}
::ng-deep .table-more-actions {
  border-radius: initial !important;
  .mat-menu-item {
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #ccc;
    margin: 0.5em;
    width: calc(100% - 1em);
    text-align: center;
    &:first-child {
      border: none;
    }
  }
}
.editable-textarea {
  ::ng-deep .text-area-edit {
    background: #fff;
    width: 185px;
    border-radius: 8px;
    &.mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
  textarea {
    min-height: 80px !important;
    height: 80px !important;
  }
}
.editable-textarea-label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    outline-color: var(--primary-color);
  }
}

tr.child-detail-row {
  height: 0 !important;
}
::ng-deep .child-element-detail {
  table {
    thead {
      display: none;
    }
    .mat-column-select {
      width: 60px !important;
    }
  }
}
