.max-table-wrapper {
  height: 100%;
  background-color: white;
  overflow: hidden;
  transform: rotate(0deg);
  table {
    width: 100%;
    border-spacing: 0;
    .mat-header-row {
      background-color: #dae9f8;
      height: 36px;
      .mat-sort-header {
        color: var(--primary-color);
      }
    }
    tr.mat-row {
      height: 38px;
      background-color: #f9f9f9;
    }
  }
}
