.max-op-pharmacy-billing-left {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    height:calc(100vh - 4.75rem);//512px;
    .right-section {
      height: 3.188rem;
      align-items: center;
      justify-content: end;//space-between;
    }
  .disableDiv {
    pointer-events: none;
}

.mtadj{
  margin-top: -15px;
}

.info-section{
    width: 100%;
    display:flex;
    align-items: center;
    opacity: 1;
    background: #00000033 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #ffffff;
    height: 40px;
    margin-top: -9px;
    .info-icon-setion{
        box-shadow: 0px 4px 32px rgba(84, 95, 122, 0.07);
        border-radius: 4px;
        border: 0.5px solid #ffffff;//#5D676ED1;
        width: 35px;
        // height: 32px;
        display:flex;align-items: center;
        opacity: 1;
        cursor: pointer;
        background: #ffffff;//#45c0be;// 0% 0% no-repeat padding-box;
    }
   
    .info-icon-vip-section{
        box-shadow: 0px 4px 32px rgba(84, 95, 122, 0.07);
        border-radius: 4px;
        border: 0.5px solid #ffffff;//#5D676ED1;
        width: 55px;
        // height: 32px;
        display:flex;align-items: center;
        opacity: 1;
        background: #ffffff;//#45c0be;// 0% 0% no-repeat padding-box;
    }
    .info-icon-hwc-setion{
        box-shadow: 0px 4px 32px rgba(84, 95, 122, 0.07);
        border-radius: 4px;
        border: 0.5px solid #ffffff;//#5D676ED1;
        width: 55px;
        // height: 32px;
        display:flex;align-items: center;
        opacity: 1;
        background: #ffffff;//#45c0be;// 0% 0% no-repeat padding-box;
    }
    .info-icon-cghs-setion{
        box-shadow: 0px 4px 32px rgba(84, 95, 122, 0.07);
        border-radius: 4px;
        border: 0.5px solid #ffffff;//#5D676ED1;
        width: 65px;
        // height: 32px;
        display:flex;align-items: center;
        opacity: 1;
        background: #ffffff;//#45c0be;// 0% 0% no-repeat padding-box;
    }
    .info-label{
        color: #004080;
        font: 18px Proxima Nova;
        letter-spacing: 0px;
        opacity: 1;
        font-weight: 600;
    }
}

.icon-setion{
    box-shadow: 0px 4px 32px rgba(84, 95, 122, 0.07);
    border-radius: 4px;
    // width: 35px;
    // height: 35px;
    display:flex;
    align-items: center;
    opacity: 1;
    background: #45c0be;// 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.mt-05{
  margin-top: 0.10rem !important;
}
.ml-25{
  margin-left: 0.25rem !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    // margin-top: 0px !important;
    font: 75%;
    opacity: 1;
    transform: translateY(0%);
  }
    .text-scrollbar{
      ::ng-deep textarea{
          height:7px !important;
          // overflow-y: scroll !important;
          overflow: auto !important;
      }  
  }

  button.second-btn,
  button.primary-btn {
    width: 81px;
    height: 33px;
    background: #eff3f6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #000000;
    border: none;
  }
  button.primary-btn {
    background: #45c0be 0% 0% no-repeat padding-box;
    color: #ffffff;
  }
  mat-label {
    // text-align: left;
    letter-spacing: 0px;
    color: #004084;
  }
  .w-27{
    width: 27%;
}
.w-39{
  width: 39%;
}
}