<div class="max-op-pharmacy-billing-left">
  <div *ngIf="apiProcessing"
    class="flex align-items-center justify-center h-full w-full fixed left-0-% top-0-% z-50 api-loader">
    <mat-spinner strokeWidth="3"></mat-spinner>
  </div>
  <div class="flex  items-center ml-4 w-9/10">
    <div class="flex w-2/3">
      <button class="second-btn" [ngClass]="{ 'primary-btn': issueEntryService.billType == '1' }"
        (click)="showWalkinSubPanel()">
        Cash
      </button>
      <div class="mx-1"></div>
      <button class="second-btn" [ngClass]="{ 'primary-btn': issueEntryService.billType == '2' }"
        (click)="showRegSubPanel()">
        Credit
      </button>
    </div>
    <div class="flex w-1/3 right-section justify-center">
      <div class="cursor-pointer" matTooltip="Reset form">
        <img src="assets/reset.svg" (click)="reset()" />
      </div>
      <div class="mx-1"></div>
      <div class="mt-05 cursor-pointer" matTooltip="Drafted orders">
        <img class="" src="assets/drafted-order.svg" (click)="submit()" />
      </div>
      <div class="mx-1"></div>
      <div class="cursor-pointer" matTooltip="Search bills">
        <img src="assets/search-bill.svg"  />
      </div>
    
    </div>
  </div>
  <div class="my-2"></div>
  <div class="flex ml-4 w-9/10">
    <form [formGroup]="patientformGroup" autocomplete="off" class="w-full align-items-center">
      <div class="flex flex-column">
        <div class="flex w-full">
          <maxhealth-question class="w-1/45" [question]="patientform[0]" [form]="patientformGroup"
            [questions]="patientform[0]" [index]="0" (valueClear)="valueClear()"></maxhealth-question>
          <maxhealth-question class="w-1/2 ml-5" [question]="patientform[1]" [form]="patientformGroup"
            [questions]="patientform[1]" [index]="1" (valueClear)="valueClear()">
          </maxhealth-question>
        </div>
        <div *ngIf="!isRegPatient || showInfoSection" class="my-1"></div>
        <div class="flex w-full info-section" *ngIf="showInfoSection">
          <div class="flex ml-2 justify-center" *ngFor="let icon of categoryIcons">
            <div *ngIf="icon['tooltip'] === 'CASH'  || icon['type'] === 'cash' " class="info-icon-setion justify-center" matTooltip="Cash">
              <mat-label class="info-label">{{cashInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'HOTLIST'  || icon['type'] === 'hotlist'" class="info-icon-setion justify-center" matTooltip="Hotlisted">
              <mat-label class="info-label">{{hotlistInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'Notes'  || icon['type'] === 'note'" class="info-icon-setion justify-center" matTooltip="Note">
              <mat-label class="info-label">{{noteInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'VIP'  || icon['type'] === 'vip'" class="info-icon-vip-section justify-center" matTooltip="VIP">
              <mat-label class="info-label">{{vipInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'CGHS'  || icon['type'] === 'cghs'" class="info-icon-cghs-setion justify-center" matTooltip="CGHS">
              <mat-label class="info-label">{{cghsInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'EWS'  || icon['type'] === 'ews'" class="info-icon-hwc-setion justify-center" matTooltip="CGHS">
              <mat-label class="info-label">{{ewsInfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'HWC'  || icon['type'] === 'hwc'" class="info-icon-hwc-setion justify-center"
              matTooltip="Handle with care">
              <mat-label class="info-label">{{hwcinfo}}</mat-label>
            </div>
            <div *ngIf="icon['tooltip'] === 'PSU'  || icon['type'] === 'psu'" class="info-icon-hwc-setion justify-center" matTooltip="CGHS">
              <mat-label class="info-label">{{psuInfo}}</mat-label>
            </div>
          </div>
        </div>
        <div *ngIf="showInfoSection" class="my-1"></div>
        <div class="flex flex-column w-full" *ngIf="isRegPatient">
          <div class="flex">
            <div class="flex w-3/10">
              <mat-label >Patient Name</mat-label>
            </div>
            <div class="flex w-7/10 justify-end">
              <mat-label class=" float-right color-block">{{
                patientformGroup?.value?.patientName
                }}</mat-label>
            </div>
        </div>
          <div class="my-1"></div>
          <div class="flex">
            <div class="flex w-3/10">
              <mat-label>Age/Gender</mat-label>
            </div>
            <div class="flex w-7/10 justify-end">
              <mat-label class="float-right color-block">{{
                patientformGroup?.value?.patienAge
                }} {{
                patientformGroup?.value?.gender
                }}</mat-label>
            </div>
        </div>
          <div class="my-1"></div>
          <div class="flex">
              <div class="flex w-3/10">
                <mat-label >Address</mat-label>
              </div>
              <div class="flex w-7/10 justify-end">
                <mat-label class="float-right color-block">{{patientformGroup?.value?.patienAddress}}</mat-label>
              </div>
          </div>
          <div class="my-1"></div>
        </div>
        <div class="flex-column w-full" *ngIf="!isRegPatient">
          <div class="flex ">
            <maxhealth-question class="w-full " [question]="patientform[2]" [form]="patientformGroup"
              [questions]="patientform[2]" [index]="2"></maxhealth-question>
          </div>
          <div class="my-2"></div>
          <div class="flex ">
            <maxhealth-question class="w-27" [question]="patientform[3]" [form]="patientformGroup"
              [questions]="patientform[3]" [index]="3"></maxhealth-question>
            <maxhealth-question class="ml-2 w-3/10" [question]="patientform[4]" [form]="patientformGroup"
              [questions]="patientform[4]" [index]="4"></maxhealth-question>
            <maxhealth-question class="w-39 ml-2" [question]="patientform[5]" [form]="patientformGroup"
              [questions]="patientform[5]" [index]="5">
            </maxhealth-question>
          </div>
          <div class="my-2"></div>
          <div class="flex  text-scrollbar">
            <maxhealth-question class="w-full" [question]="patientform[6]" [form]="patientformGroup"
              [questions]="patientform[6]" [index]="6">
            </maxhealth-question>
          </div>
        </div>
        <div class="my-1"></div>
        <div class="flex ">
          <maxhealth-question class="w-full" [question]="patientform[7]" [form]="patientformGroup"
            [questions]="patientform[7]" (click)="showDoctorDetails()" [index]="7" ></maxhealth-question>
        </div>
        <div class=" w-full ">
          <mat-label>Doctor Mobile no.</mat-label>
          <mat-label class="float-right color-block"> {{patientformGroup?.value?.doctorMobile}}</mat-label>
        </div>
        <div class="my-1"></div>
        <div class=" w-full " >
          <mat-label>Doctor Address</mat-label>
          <mat-label class="float-right color-block">{{
            patientformGroup?.value?.doctorAddress
            }}</mat-label>
        </div>
        
        <div class="my-1"></div>
        <div class="my-1" *ngIf="isShowCompany"></div>
        <div class="flex text-scrollbar" *ngIf="isShowCompany">
          <maxhealth-question class="w-full" [question]="patientform[8]" [form]="patientformGroup"
            [questions]="patientform[8]" [index]="8"></maxhealth-question>
        </div>
        <div class="my-1"></div>
        <div class="flex text-scrollbar">
          <maxhealth-question class="w-full" [question]="patientform[9]" [form]="patientformGroup"
            [questions]="patientform[9]" [index]="9"></maxhealth-question>
        </div>
      </div>
    </form>
  </div>
</div>