.pharmacy-issue-entry-page{
    overflow: auto !important;
    height: 630px;
    background: transparent linear-gradient(180deg, #ECF4FC 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}