<section class="h-full deposit-details-wrapper">
    <!-- Header & Cross Icon-->
    <div>
        <mat-label class="max-health-primary-color font-lg font-semi-bold">Deposit Details</mat-label>
        <mat-icon mat-dialog-close color="primary" class="float-right cursor-pointer" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
    </div>

    <!-- Table -->
    <div class="h-7/10 mt-3">
        <maxhealth-table      
        [config]="config"
        [data]=""
        ></maxhealth-table>
    </div>

    <div class="w-full mt-3">
        <button class="float-right" mat-raised-button color="primary">Submit</button>
    </div>

</section>