<div class="w-full h-full">
    <div class=" w-full h-1/10">
        <span class="material-icons float-right cursor-pointer" mat-dialog-close>close</span>
    </div>
    <div class="w-full h-2/5 flex align-items-center justify-content-center">
        <mat-icon [svgIcon]="'rupeeicon'" class="rupeeicon-class"></mat-icon>
    </div>
    <div class="w-full h-1/10 text-center">
        <p class="max-health-primary-color">Do you want to make Deposits?</p> 
    </div>
    <div class="flex w-full h-1/10 justify-content-center">
        <button mat-raised-button (click)="openDepositreceipt()" mat-dialog-close>Yes</button>
        <button mat-raised-button color="primary" mat-dialog-close class="ml-4">No</button>
    </div>
</div>
