<p>makedeposit-dialog works!</p>
<div>
    <div class="float-right">
        <span class="material-icons">close</span>
    </div>
    <div >
        <mat-icon class="flex justify-content-center"   [svgIcon]="'warning'"></mat-icon>
    </div>
    <div class="max-health-primary-color">
        <p>Do you want to make Deposits?</p>
    </div>
    <div class="flex">
        <button mat-raised-button color="primary">Yes</button>
        <div class="ml-4">
            <button mat-raised-button color="primary">No</button>
        </div>
    </div>
</div>