<div class="h-full w-full">
    <div class=" w-full h-1/10">
        <span class="material-icons float-right cursor-pointer" mat-dialog-close>close</span>
    </div>
    <div class="w-full h-1/10 flex align-items-center justify-content-center">
        <mat-icon [svgIcon]="'rupeeicon'" class="rupeeicon-class"></mat-icon>
    </div>
    <div class="h-1/10 w-full flex justify-content-center">
        <p class="max-health-primary-color">Deposit has been successfully saved</p>
    </div>
    <div class=" flex justify-content-center">
        <button mat-raised-button color="primary" >OK</button>
    </div>
</div>
