<div class="w-full h-full">
    <div class=" w-full h-1/10">
        <span class="material-icons  float-right cursor-pointer max-dialog-close-icon" mat-dialog-close>close</span>
    </div>
    <div class=" w-full h-1/4 flex justify-content-center align-items-center">
        <mat-icon svgIcon="warning yellow"></mat-icon>
    </div>
    <div class="h-1/10  mt-1 max-health-primary-color flex justify-content-center font-medium">
        <p>Please select Organ (DMG)</p>
    </div>
    <div class="h-1/15  flex justify-content-center ">
        <button mat-raised-button class="min-width max-health-primary-color "  mat-dialog-close>OK</button>
    </div>
</div>
