<div class="h-full w-full">
    <div class="h-1/10">
        <span class="material-icons float-right cursor-pointer" mat-dialog-close>close</span>
    </div>
    <div class="h-1/2  w-full flex justify-content-center align-items-center">
        <mat-icon svgIcon="warning" class="iconclass"></mat-icon>
    </div>
    <div class="h-1/10 max-health-primary-color mt-3 font-medium">
        <p>Do You Want To Delete Expired Patient Details?</p>
    </div>
    <div class="h-1/10 w-full flex justify-content-center ">
        <button mat-raised-button (click)="deleteExpiredpatient()" class="min-width max-health-primary-color " mat-dialog-close>
            Yes
        </button>
        <div class="ml-6">
            <button class=" min-width" mat-raised-button color="primary" class="min-width" mat-dialog-close>
                No
            </button>
        </div>
       
    </div>
</div>
