<section class="h-full search-dialog-wrapper">
    <div>
        <mat-label class="max-health-primary-color font-base font-semi-bold">Find Bill Details</mat-label>
        <mat-icon mat-dialog-close color="primary" class="float-right" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
    </div>
    <div class="w-full p-2 border-radius-lg mt-1" style="background-color: #F6F6F6;">
        
    </div>
    <div class="h-7/10 mt-2" style="">
        d
    </div>
    <div class="mt-2 flex">
        <button mat-raised-button class="bg-pink pointer-disable" type="submit">Cancelled Bills</button>
        <button mat-raised-button class="bg-orange pointer-disable ml-3" type="submit">Par. Cancelled Bills</button>
        <button mat-raised-button class="bg-blue pointer-disable ml-3" type="submit">New Bills</button>
    </div>
    <div class="w-full mt-2">
        <div class="float-left">
            <button mat-raised-button color="primary" type="submit">Valid Bills</button>
            <button mat-raised-button class="ml-3" color="primary" type="submit">* Estimate Age</button>
        </div>
        <div class="float-right">
            <button mat-raised-button class="ml-3" color="primary" type="submit">Clear</button>
        </div>
    </div>   
        

</section>