.search-dialog-wrapper{
    .bg-pink{
        background-color: #FF6A6A;
        color: #fff;
    }
    .bg-orange{
        background-color: #FF8A3B;
        color: #fff;
    }
    .bg-white{
        background-color: #fff;
    }
    .est{
        border: none !important;
    }
    .bg-blue{
        background: white;
        color: #333333;
        box-shadow: none;
        border: 1px solid #707070;
    }
    .pointer-disable{
        pointer-events: none;
    }
    .w35{
        width: 35%;
    }
    .nowrap{
        white-space: nowrap;
    }
    .margin-left-5{
        margin-left: 5rem;
    }
    .clr-primary{
        color:#004084;
    }
    .lens-icon{
        position: absolute;
        left: 2px;
        top: 2px;
        height: 90%;
        width: 28%;
    }
    .btn-white{
        background: white;
        color: #333333;
        box-shadow: none;
        border: 1px solid #707070;
    }
    .btn{
        ::ng-deep .mat-raised-button{
            min-width: fit-content !important;
            height: 1.875rem;
            line-height: 1.875rem;
        }
    }
    .searchbtn{
        ::ng-deep .mat-raised-button{
            min-width: fit-content !important;
            height: 1.875rem;
            line-height: 1.875rem;
        }
        // ::ng-deep .mat-raised-button {
        //     min-width: 100px !important;
        // }
        ::ng-deep .mat-button-wrapper{
            margin-left: 16px;
        }
    }
    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 0 !important;
    }
    ::ng-deep .mat-checkbox-inner-container{
        margin-top: -3px;
        height: 13px;
        width: 13px;
    }
    ::ng-deep mat-error{
        margin-top: 12px;
    }
    .label ::ng-deep  mat-label{
        display: none;
    }
    ::ng-deep .max-table-wrapper table{
        .mat-row:hover{
            opacity: 1;
        }
        tr.newbill{
            background-color: #fff !important;
            opacity: 0.8;
            td{
                color: #000 !important;
            }
        }
        tr.newbill:hover{
            opacity: 1;
            td{
                font-weight: 600;
            }
        }
        tr.cancelled{
            background-color: #FF6A6A !important;
            opacity: 0.8;
            td{
                color: #fff !important;
            }
        }
        tr.partially-cancelled{
            background-color: #FF8A3B !important;
            opacity: 0.8;
            td{
                color: #fff !important;
            }
        }
    }
    .api-loader {
      background: rgba(0, 0, 0, 0.15);
    }
}
