<h1 class="label">Seafarers Details</h1>
<div class="flex">
    <div>
        <mat-label class="label">HK ID</mat-label>
        <input matInput placeholder="HK ID" class="input">
    </div>
    <div class="ml-10">
        <mat-label class="label">Vessel Name</mat-label>
        <input matInput placeholder="Vessel Name" class="input">
    </div>
</div>
<div class="flex mt-4">
    <div>
        <mat-label class="label">Rank</mat-label>
        <input matInput placeholder="Rank" class="input">
    </div>
    <div class="ml-10">
        <mat-label class="label">FDP Group</mat-label>
        <input matInput placeholder="FDP Group" class="input">
    </div>
</div>
<button
mat-raised-button
color="primary"
type="submit" 
class="mt-8 h-1/6 btn"
> Submit</button>
