.consultation-wrapper{
    ::ng-deep .max-table-wrapper{
        border: 1px solid #707070;
    }
    ::ng-deep .mat-table thead{
        white-space: nowrap !important;
    }
    .table{
        ::ng-deep .mat-form-field{
            display: block !important;
            background-color: #fff;
            color: #000;
            border-radius: 6px;
        }
    }
}