.loading {
  /* Absolute position */
  left: 0;
  position: absolute;
  top: 0;

  /* Take full size */
  height: 100%;
  width: 100%;

  /* Center */
  align-items: center;
  display: flex;
  justify-content: center;
}
