<div class="w-full">
  <mat-form-field appearance="outline" class="w-full">
    <input matInput placeholder="Search" autocomplete="off" />
  </mat-form-field>
  <div>
    <div class="header flex">
      <span class="w-1/2">Internal Doctor</span>
      <span class="w-1/2">Specialisation</span>
    </div>
    <div class="flex content-body">
      <ul>
        <li>
          <span class="w-1/2">Veeru</span>
          <span class="w-1/2">Specialisation</span>
        </li>
      </ul>
    </div>
  </div>
</div>
