<div class="w-full">
  <div class="search">
    <mat-form-field appearance="outline" class="w-full">
      <input
        matInput
        placeholder="Search"
        autocomplete="off"
        [formControl]="term"
        (click)="$event.stopPropagation()"
      />
    </mat-form-field>
  </div>

  <div class="body-wrapper">
    <div class="header flex">
      <span class="w-1/2">Internal Doctor</span>
      <span class="w-1/2">Specialisation</span>
    </div>
    <div class="flex content-body h-full">
      <ul class="flex w-full p-0 list-unstyled flex-column">
        <li
          class="flex w-full cursor-pointer"
          *ngFor="let docotr of doctorsList"
          (click)="selectedDoctor(docotr)"
        >
          <span class="w-1/2">{{ docotr.name }}</span>
          <span class="w-1/2">{{ docotr.specialisation }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
